/*! HTML5 Boilerplate v5.0.0 | MIT License | https://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * https://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   https://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2, 
    h3 {
        page-break-after: avoid;
    }
}

body{
  font-family: Bitter,Georgia;
}

#header {
  background-color: #f1f1f1;
  display: block;
  padding: 35px 0;
}

#banner {
  background-color: #212121;
  display: block;
  padding: 60px 0;
}

#banner .heading h1 {
  color: #fff;
  display: block;
    
  font-size: 52px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 35px;
  padding: 0 25%;
}

#banner .heading > h3 {
  color: #fff;
  display: block;
    
  font-size: 20px;
  margin-bottom: 60px;
}

.subscribe {
  background-color: #ebebeb;
  display: block;
  overflow: hidden;
  padding: 25px;
}

.form-control {
  border: 1px solid #e3e3e3;
  border-radius: 0;
  height: 44px;
}

#speakers {
background-color: #f1f1f1;
display: block;
padding: 40px 0 90px;
}

#speakers .heading {
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#speakers .heading::before {
  background-color: #dadada;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 55%;
  width: 100%;
}

#speakers .heading h2 {
  background-color: #f1f1f1;
  display: inline-block;
  padding: 10px 45px;
  position: relative;
  z-index: 1;
}

#speakers .heading h2 {
background-color: #f1f1f1;
display: inline-block;
  
font-size: 32px;
font-weight: 700;
margin-top: 15px;
padding: 10px 45px;
position: relative;
z-index: 1;
}

#speakers .heading h2 span {
  color: #7a9d07;
}

.speak > img {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: block;
  height: 190px;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  width: 190px;
}

.speak > h3 {
  color: #7a9d07;
  display: block; 
    
  line-height: 1.3em;
}

.speak > p {
  color: #8f8f8f;
}

.speak {
  display: block;
  margin: 25px 0;
}

.event-schedule > h2 {
  display: block;
    
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.schedule {
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.schedule > div > div {
  border-bottom: 1px solid #ccc;
  color: #262626;
  display: block;
  font-size: 18px;
  overflow: hidden;
  padding: 15px 0;
  text-align: left;
}

.schedule .col-md-2 {
    text-align: right;
}

.schedule p {
    margin-bottom: 0;
}

.schedule span {
  display: inline-block;
  float: right;
}

.register {
  background-color: #212121;
  display: block;
  margin-top: 70px;
  overflow: hidden;
  padding: 40px;
}


.title > h1 {
  color: #7b9d08;
  display: block;
  font-size: 48px;
  line-height: 1.3em;
  margin: 15px 0;
}

.title > p {
  color: #666;
  font-size: 16px;
}

.register a.btn {
  border-radius: 2px;
  margin-top: 50px;
  padding: 15px 12px;
}

.sponsor {
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.sponsor > li {
  display: block;
  float: left;
  margin-bottom: 20px;
  width: 20%;
}

.sponsor li a img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

#footer {
  background-color: #f1f1f1;
}

.footer {
  border-top: 1px solid #ddd;
  display: block;
  padding: 15px 0;
}

.social-link {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social-link {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social-link > li {
  display: inline-block;
}


.social-link li a {
  color: #b5b5b5;
}

.copyrights > p {
  font-size: 12px;
  margin: 0;
}



