<div id="message_deskrss" class="adesk_modal" align="center" style="display:none;">
	<div class="adesk_modal_inner" align="left">
		<h3 class="m-b">{"Insert RSS Feed"|alang}</h3>

		<div class="adesk_help_inline">{"Dynamically include an RSS feed in your message.  Specify the RSS feed url, how many rows/entries to return, and whether or not to only fetch new rows/entries."|alang}</div>

		<br />
		<div class=" table-responsive"><table class="table table-striped m-b-none dataTable"  border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td>{"Feed URL"|alang}</td>
				<td width="15">&nbsp;</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<input type="text" id="deskrssurl" value="http://" style="width:99%;" />
				</td>

			</tr>
			<tr>
				<td>
					<tr><td>&nbsp;</td></tr>

					<div class=" table-responsive"><table class="table table-striped m-b-none dataTable"  cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="30"><input type="text" id="deskrssloop" value="10" size="3" style="width:20px;" onkeypress="campaign_deskrss_loop_changed();" /></td>
							<td>
								<label for="deskrssall">
									{"Max. number of items to include."|alang}
								</label>
							</td>
						</tr>
					</table></div>
				</td>
			</tr>
		</table></div>
		<br />

		<div id="deskrsspreviewbox" class="adesk_hidden">
			{"Preview:"|alang}
			<textarea id="deskrsspreview" style="width: 100%;" rows="10" readonly="readonly" disabled="disabled"></textarea>
			<br />
		</div>

		<div style="margin-top:10px;">
			<input type="button" value='{"Insert"|alang}' onclick="campaign_deskrss_insert();" class="adesk_button_ok" />
			<input type="button" value='{"Preview"|alang}' onclick="campaign_deskrss_preview();" />
			<input type="button" value='{"Cancel"|alang}' onclick="adesk_dom_toggle_display('message_deskrss', 'block');" />
			<input type="hidden" value="html" id="deskrss4" />
			<input type="hidden" value="" id="deskrss2" />
		</div>
	</div>
</div>
