/*! HTML5 Boilerplate v5.0.0 | MIT License | https://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * https://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   https://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
	
	

body{
  background-attachment: fixed;
  background-color: #eee;
  background-image: url("../../images/glc-giveaway/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
}

.wrap {
    display: block;
    margin: 0 5%;
    overflow: hidden;
    position: relative;
    width: 90%
    }

.main-content {
    background-color: rgba(255, 255, 255, 0.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px 10px;
    text-align: center;
    width: 560px;
    
    box-sizing: border-box
    }

.header {
    background-color: rgba(231, 76, 60, 0.95);
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: #fff;
    display: block;
    overflow: hidden;
    padding: 20px;
    
    box-sizing: border-box
    }

.header h1 {
    display: block;
    font-family: Roboto Slab;
    font-size: 66px;
    line-height: 70px;
    margin: 0;
    overflow: hidden;
    
    box-sizing: border-box;
    width: 100%
    }

.content {
    background-color: rgba(25, 25, 25, 0.96);
    border-radius: 0 0 3px 3px;
    color: #fff;
    display: block;
    overflow: hidden;
    width: 100%
    }

.sub-heading {
    
    box-sizing: border-box;
    width: 100%
    }

.sub-heading h2 {
    color: #f1c40f;
    display: block;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
    overflow: hidden;
    padding: 30px 40px
    }

.subscribe {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 55px;
    
    box-sizing: border-box
    }

.subscribe h3 {
    color: #fff;
    display: block;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 5px;
    overflow: hidden
    }

.input-email, .input-submit {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
    }

.input-email {
    background-color: rgba(4, 4, 4, 0.7);
    border: 1px solid #444;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    color: #666;
    height: 50px;
    padding: 10px 15px;
    width: 100%
    }

.input-submit {
    background-color: rgba(231, 76, 60, 1);
    border: 1px solid #c0392b;
    display: block;
    font-family: Roboto Slab;
    font-size: 28px;
    opacity: 0.95;
    padding: 10px;
    text-transform: uppercase;
    width: 100%
    }

.input-submit:hover {
    opacity: 1
    }

.footer a {
    color: #fff;
    display: block;
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding: 10px 0
    }

@media only screen and (max-width: 767px) {
    .main-content {
        width: 100%
        }
    .input-email, .input-submit {
        font-size: 140% !important
        }
    }
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .main-content {
        width: 100%
        }
    .input-email, .input-submit {
        font-size: 140% !important
        }
    }

.form_submit_btn { 
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; 
}