/*! HTML5 Boilerplate v5.0.0 | MIT License | https://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * https://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   https://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2, 
    h3 {
        page-break-after: avoid;
    }
}


body{
    font-family: 'Droid Sans', sans-serif;
}

.navbar-default {
  background-color: #34495e;
  border: 0 none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .socail-link li a {
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  height: 42px;
  margin: 10px 5px 0;
  padding: 9px 5px;
  text-align: center;
  width: 45px;
}

#heading {
background-attachment: fixed;
background-color: #424242;
background-image: url("../img/bg1.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
display: block;
padding-top: 100px;
position: relative;
}

.heading-bg {
  background-color: rgba(0, 0, 0, 0.55);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #fff;
  opacity: 0.7;
  outline: 0 none;
}

.start-form {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 2px;
  display: block;
  padding: 35px 30px 20px;
  position: relative;
}

#heading .heading > h1 {
  color: #fff;
  display: block;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 0;
}

#heading .heading > h3 {
  color: #fff;
  display: block;
  font-size: 24px;
  line-height: 1.3em;
  margin-bottom: 65px;
  margin-top: 0;
}
    
.start-form .form-control {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0;
  color: #333;
}

.start-form > h2 {
  color: #fff;
  font-size: 36px;
  line-height: 1.3em;
  margin-bottom: 25px;
  margin-top: 0;
}

.btn-call {
  border-radius: 0;
}

#features {
  background-color: #f8f5f8;
  border-bottom: 1px solid #edede3;
  display: block;
  padding: 50px 0;
}

#features {
  background-color: #f2f5ef;
  border-bottom: 1px solid #e9e9df;
  display: block;
  padding: 50px 0;
}

#features .heading > h2 {
  color: #333;
  display: block;
  font-size: 36px;
  line-height: 1.4em;
}

#features .heading > h4 {
  color: #a5a5a5;
  font-size: 18px;
  line-height: 1.3em;
  margin-bottom: 35px;
  margin-top: 0;
}

.feature {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
}

.feature i.fa {
  background-color: #333;
  border-radius: 50px;
  color: #fff;
  font-size: 34px;
  height: 60px;
  line-height: 60px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.feature > h3 {
  color: #333;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4em;
  margin: 20px 0 15px;
}

.feature > p {
  color: #919191;
  display: block;
  font-size: 14px;
}

#watch-video {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: block;
  overflow: hidden;
  padding: 50px 0;
}


#watch-video .heading > h2 {
  color: #333;
  display: block;
  font-size: 42px;
  line-height: 1.3em;
  margin-bottom: 5px;
  margin-top: 15px;
  overflow: hidden;
}

#watch-video .heading > p {
  color: #666;
  display: block;
  font-size: 18px;
  margin-bottom: 50px;
}

.watch-video {
  border: 10px solid #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 30px;
}


.vidoe-info > p {
  color: #666;
  display: block;
  font-size: 14px;
  margin-top: 25px;
}


#packages {
  background-color: rgb(46, 204, 113);
  display: block;
  padding: 40px 0;
}


#packages .heading > h2 {
  color: #fff;
  display: block;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 0;
}


#packages .heading h4 {
  color: #b6ffe1;
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
}


#packages .heading > p {
  color: #b6ffe1;
  display: block;
  font-size: 15px;
  line-height: 1.3em;
  margin-bottom: 60px;
  padding: 0 20%;
}

.packages-info {
  display: block;
  overflow: hidden;
  position: relative;
}

.packages-info > ul {
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.packages-info li {
  background-image: url("../img/list.png");
  background-position: left 5px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  padding-left: 30px;
  position: relative;
}

.packages-info h3 {
  color: #fff;
  display: block;
  font-size: 20px;
  line-height: 1.3em;
  margin-bottom: 5px;
  margin-top: 0;
  overflow: hidden;
}

.packages-info p {
  color: #ededed;
  font-size: 14px;
  line-height: 1.3em;
}

#PackageOffer {
  background-attachment: fixed;
  background-image: url("../img/bg2.jpg");
  background-position: center center;
  background-size: cover;
  display: block;
  padding: 50px 0;
  position: relative;
}

.package-bg {
  background-color: rgba(51, 77, 92, 0.7);
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#PackageOffer .heading > h2 {
  color: #fff;
  display: block;
  font-size: 42px;
  line-height: 1.3em;
  margin-bottom: 5px;
}

#PackageOffer .heading > p {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 60px;
}

.offer-items {
  background-color: #334d5c;
  display: block;
  overflow: hidden;
  position: relative;
}

.offer-items > img {
  display: block;
  height: auto;
  width: 100%;
}

.offer-info {
  display: block;
  overflow: hidden;
  padding: 12px 0;
  position: relative;
}


.resortby, .resort, .priceby, .price {
  display: block;
  margin-bottom: 2px;
}

.resortby, .priceby{
  color: #ffcc33;
}

.resort, .price{
  color: #fff;
}

.resortby {
  font-size: 16px;
  font-weight: 700;
}


.resort {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.price {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}


.priceby, .price {
  display: block;
  margin-left: 65%;
  text-align: left;
}

.offer-items {
  margin-bottom: 15px;
}

.packages-img {
  display: block;
  margin-bottom: 25px;
  text-align: center;
}

#testimonials {
  background-color: #2c3e50;
  display: block;
  padding: 35px 0;
}

.testimonial > h2 {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 5px;
}

.testimonial > p {
color: #fff;
display: block;
font-size: 16px;
font-style: italic;
margin-bottom: 20px;
margin-top: 5px;
padding: 0 25%;
}

.testimonial > img {
  border: 3px solid #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 #2c2c2c;
}

.testimonial h5 {
  color: #788a9c;
  display: block;
}

#footer {
  background-color: #0064c8;
  display: block;
  padding: 25px 0;
}

.footer-menu {
  display: block;
  list-style: outside none none;
  margin: 0 0 5px;
  padding: 0;
}

.footer-menu > li {
  display: inline-block;
  padding: 0 5px;
}

.footer-menu a {
  color: #fff;
}

.copyright > p {
  color: #fff;
  margin-bottom: 0;
}

