glc/documents
glc/pictures
wp-content/uploads
wp-config.*
wp-config.php
.DS_Store
.htaccess

glc/edata_transact.php
glc/test.php

builder/elements/preview_*
builder/elements/images/uploads

glc/admin/IPNRes.txt
glc/admin/php_errorlog
glc/php_errorlog
*php_errorlog*
glc/phplog
glc/admin/ajax/phplog

leadcapture

wp-content/plugins/out-of-the-box/cache
wp-admin/pThumb*

aem/cache
aem/cache/serialkey.php
aem/cache/key.php
aem/manage/ex_config.php
aem/manage/config.php

sitebuilder/application/config/config.php
sitebuilder/application/config/database.php

sitebuilder/elements/elements.zip
builder/tmp/my_glcbuilder.zip