/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

.referby {    
    font-size: 16px;
    display: block;
    padding: 14px 20px;
    color: white; 
}

#top .scroll-down-link {
    height: 60px;
    width: 80px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: avia_fade_move_down 2s ease-in-out infinite;
    animation: avia_fade_move_down 2s ease-in-out infinite;
}

#top .iconbox.av-no-box .iconbox_icon { 
    border-width: 5px !important;
}

.breadcrumb .sep {
    display: block;
    overflow: hidden;
    width: 16px !important;
    line-height: 1 !important;
}

td.avia-center-col { vertical-align: middle; }

td.avia-desc-col { 
    text-align: right !important;
    text-transform: none; 
}

#browsefeatures div.hr{ margin-top:-42px; z-index:-1;  }
#browsefeatures div.hr span.hr-inner { border-color: #333 !important; border-style: dashed !important; }
#browsefeatures .avia-button:hover { opacity: 1 !important; }

.scroll-down-link { display: none; visibility: hidden; }

/*.flex_column_table  { box-shadow: 0 0 20px rgba(0,0,0,0.5); }*/
#glclibrary-course-list .av_one_third {
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    border-color: rgba(62,67,78,0.5);
    /*border-radius: 25px 25px 25px 25px;*/
}

#glclibrary-course-list .av_one_third .av-special-heading-tag { background: #208bce; padding:10px 0px; color: #fff !important; }

#glclibrary-course-list .avia-image-container-inner { margin-top: 40px; }

/*#glclibrary-course-list .flex_column_table .av_one_third .avia-image-container {
    border-radius: 25px 25px 0px 0px;
}*/

.main_color .pricing-table>li:nth-child(even).pricing-features { color: #222; font-weight: bold; }

#glclibrary-course-list .av-subheading_below{
    font-size: 14px !important;
    padding: 10px 20px !important;
}

.pricing-table-wrap > .pricing-table > li.pricing-features{
    font-size: 14px;
    margin-left: 10%;
}

.pricing-table-wrap > .pricing-table > li span.include_option{
    position:relative;
}

aside.sidebar > section.widget{
    border: 1px solid #f1f1f1 !important;
    margin-bottom: 20px;
    padding: 20px 26px;
    border-radius: 7px;
}

.pricing-table-wrap > .pricing-table > li span.include_option:before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    background: url(//cdn.elegantthemes.com/images/package_icon.png) no-repeat;
    width: 20px;
    height: 19px;
}

.pricing-table-wrap > .pricing-table > li:last-child span.include_option:before {
    background: none;
}

.pricing-table-wrap > .pricing-table > li span.exclude_option:before { 
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    background-image: url(//cdn.elegantthemes.com/images/package_no_icon.png);
    width: 20px;
    height: 19px;
 }

.pricing-table-wrap > .pricing-table > .avia-heading-row > .first-table-item {
    text-transform: Uppercase;
    font-size: 22px;
}


#header_main_alternate, .av_header_transparency #header_main .social_bookmarks li a {
    color: inherit;
    border-color: transparent;
    background: transparent;
    font-size: 15px;
}
#header_meta {
    background: #1f2329;
    box-shadow: none;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}
.main_menu ul:first-child > li > a, .sub_menu > ul > li > a,  .logo img {
    padding-top: 0px;
}

.main_color h3 { color: #1f2329; font-weight: 600; }

.avia_button_box .avia-color-blue {
    background-color: #268dcd !important;
    border-color: #268dcd !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #fff;
}
.sub_menu > ul > li > a, .sub_menu > div > ul > li > a { text-decoration: none; font-weight: bold; padding:0; }
.sub_menu > ul > li.btn-glc-referral > a { color: #b2b2b2 !important;  }


.sub_menu > ul > li > a { color: #fff; }
.sub_menu > ul > li.btn-plans-and-pricing > a, .sub_menu > ul > li.btn-logout > a, .sub_menu > ul > li.btn-login > a { color: #fff; }

.single_toggle {color: #4c515d;}
.main_color .toggler{color: #268dcd;}
.main_color .toggler:hover {text-decoration: underline;}

#footer .btn-plans-and-pricing {
    background: #e97e00;
}

#footer .btn-logout{
	background: #858585;
}

#footer .btn-login{
    background: #268dcd;
}

#mobile-advanced li a span.avia-menu-text { color:#268dcd; margin-left: 10px; }
#mobile-advanced li a:hover span.avia-menu-text,#mobile-advanced li a span.avia-menu-text:hover { color:#fff; }
#mobile-advanced li > a:hover, .html_header_mobile_behavior #mobile-advanced span:hover, .html_header_mobile_behavior #mobile-advanced span:hover a {
    background-color: #268dcd;
    color: #fff;
}

#mobile-advanced li.join_nav_link a { padding: 13px 28px !important; }
#mobile-advanced li.join_nav_link { background-color: #268dcd; color: #fff; }


#footer .btn-secondary:hover{
    opacity: .8;
}

#footer .btn-secondary, #footer .btn-plans-and-pricing{
	width:48%;
	color:white;
	font-size:14px !important;
	text-transform: uppercase;
	font-weight: bold;
}

a.wpas-btn.wpas-btn-default.wpas-link-logout {
    /*visibility: hidden;*/
    display: none;
}


.sub_footer hr { border-color: #333 }

.cc img {
    width: 30%;
}

.cc {
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}



#header_meta .container { min-height:75px }

.sub-menu{ top: 20px !important; }

.btn-events { color: #fff; }

.btn-plans-and-pricing a{
    background-color: #ff910f !important;
    color: white !important;
}



.av-seperator-icon{ font-size: 44px; line-height:1.1; }

.hr-custom.hr-icon-yes .hr-inner {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}

.btn a { 
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    /* border: 1px solid transparent; */
    white-space: nowrap;
    line-height: 1.428571429;
    border-radius: 4px;
    user-select: none;
}

#header_meta li {
    border-color: none !important;
}



.btn-login a { 
    background-color: #268dcd !important;

    /*background-color: #e97e00 !important;*/
    color: white !important;
}

.btn-login a:hover { 
    background-color: #63addb !important;
}

.btn-glc-upgrade a { 
    background-color: #e97e00 !important;
    /*background-color: #e97e00 !important;*/
    color: white !important;
}


.btn-logout a { 
    /*background-color: #268dcd !important;*/
    background-color: #858585 !important;
    color: white !important;
}

.btn-logout a:hover { 
    /*background-color: #2895f1 !important;*/
    background-color: #63addb !important;
}



.sub_menu li a { color: #fff; }
.sub_menu li { padding: 0px; }
.sub_menu > ul > li > a, .sub_menu > ul > li > a{ font-size: 14px; padding: 2px 14px; line-height: 2.4; color: #fff; }
.sub_menu > ul > li:hover > a , .btn a:hover{ text-decoration: none !important; }

.logo a > img {
 
}

.alternate_color .breadcrumb, .alternate_color .breadcrumb a, #top .alternate_color.title_container .main-title, #top .alternate_color.title_container .main-title a {
    color: #258dcd;
    font-weight: bolder;
}

.logo img {
    padding: 10px 0 0 0;
    padding-top: 12px;
    width: 100%;
     /* padding-left: 50px;
  	padding: 21px 0 0 0;*/
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    image-rendering: auto;
    position: relative;
    z-index: 2;
    height: 100%;
    height: auto;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.footer_color h3 {
    /*border-bottom: 1px solid #aaa;*/
    padding-bottom: 16px;
}

#footer .widget_nav_menu a {
    font-size: 14px;
}



.join_nav_link a{
	/*line-height: normal !important;*/
    /*margin: 23px 0px !important;*/
    padding: 8px 14px !important;
    /* border: 2px solid #258dcd !important; */
    border-radius: 6px !important;
}

.join_nav_link { margin-top: -9px; }

#header.header_color.av_header_transparency .av-main-nav > li.join_nav_link > a .avia-menu-text{ color:#fff !important; }

#header_main .container  {
    height: 80px !important;
    line-height: initial !important;
}
.main_menu ul > li > a{
line-height: normal !important;
}
.av-main-nav > li {
     line-height: initial; 
     height
}

.av_minimal_header .main_menu ul:first-child > li a {
	height: auto !important;
}

nav.main_menu { margin-top:32px; height:auto; }

span.user_header {
    font-size: 14px;
    padding: 2px 14px;
    line-height: 2.4;
    color: #ddd;
    font-weight: bolder;
}

span.darker{ color:#888; }

.av_minimal_header #header_main, .av_minimal_header #header_meta {
    /*border: none;*/
    box-shadow: 0px 0px 10px #888888;
}

span.user_header strong { color: #fff; }

#top .av_header_transparency #header_meta .logo img {
    /*background: #1f2329;*/
    box-shadow: none;
    border-bottom: 1px solid rgba`(255,255,255,0.25);
	min-height: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: 0 auto;
}

#top .av_header_transparency #header_main, #top .av_header_transparency .avia-menu.av_menu_icon_beside {
    border-color: transparent;
    background: #ffffff;
   }

.course_cat-e-books .llms-syllabus-wrapper {
    display: none;
}

.course_cat-e-books input.button.llms-button.llms-purchase-button {
    display: none;
}

.course_cat-e-books span.post-meta-infos, span.post-meta-infos {
    display: none;
}

span.breadcrumb-title {
    color: #333;
}

.sidebar .widget:first-child { padding-top:20px !important; }

h3.widgettitle{
    order-bottom: 1px solid #999;
    padding-bottom: 4px;
}

#top .title_container .container {
    padding-top: 10px;
    padding-bottom: 10px;
    /*min-height: 76px;*/
}

.breadcrumb.breadcrumbs.avia-breadcrumbs {
    font-size: 14px;
    /*padding-top: 24px;*/
}

#top .social_bookmarks li {
    height: 100%;
    float: none; 
    padding: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-right-style: solid;
    border-right-width: 1px;
    display: inline-block;
    width: 30px;
}

.main_color, .main_color a { border-color: #e1e1e1; }

@media only screen and (max-width: 767px){ 

    .responsive #top #wrap_all .av_header_transparency .main_menu ul:first-child > li > a, .responsive #top #wrap_all .av_header_transparency .sub_menu > ul > li > a, .responsive #top .av_header_transparency #header_main_alternate, .responsive .av_header_transparency #header_main .social_bookmarks li a, .responsive #top #wrap_all .av_header_transparency .phone-info.with_nav span, .responsive #top .av_header_transparency #header_meta, .responsive #top .av_header_transparency #header_meta li, .responsive #top #header_meta .social_bookmarks li a {
        color: inherit;
        border-color: inherit;
        background: #1f2329;
    }

    .responsive #top .av_header_transparency #header_meta li { margin-top:10px; }

    .responsive #top .logo { width:100%; }

    .sub_menu > ul > li.btn-glc-referral { border-top: 1px solid #fff !important; border-bottom:1px solid #fff !important; width: 100%; margin-bottom: 8px; } 
    .sub_menu > ul > li.btn-glc-referral a { line-height:3.5em; }

}

#top .social_bookmarks li a { border-radius: 50px; }

.social_footer_wrapper { margin: 20px 0px; }

footer .social_bookmarks {display:  none;}

@media only screen and (max-width: 767px) {
    #top .title_container .container {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 76px;
    }

    .title_container .main-title {
        margin: 0;
        font-size: 16px;
        position: relative;
        z-index: 2;
        min-height: 0px !important; 
        line-height: 2.3em; 
        top: 0;
        font-weight: 400;
    }

    .breadcrumb.breadcrumbs.avia-breadcrumbs {
        font-size: 14px;
        padding-top: 20px; 
    }
}

span.sep {
    color: #333;
}

span.trail-end {
    color: #333;
}

#top .avia-button.avia-color-dark {
    border-color: #258dcd;
    color: #258dcd;
}

#top #wrap_all .av-social-link-twitter a {
    color: #fff;
    background-color: #46d4fe;
}

.av-social-link-twitter a {
    color: #fff;
    background-color: #46d4fe !important;
}

.av-social-link-facebook a {
    color: #fff;
    background-color: #37589b !important;
}

.av-social-link-youtube a {
    color: #fff;
    background-color: #a72b1d !important;
}

.social_bookmarks li a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.social_bookmarks li {
    margin-right: 3px;
}

.current-menu-item a .avia-menu-text {
    color: #333333 !important; 
}

.header_color .av_dropcap2, #top #wrap_all .header_color .av-menu-button-colored > a .avia-menu-text { color: #fff !important; }

@media only screen and (max-width: 762px) {
    #advanced_menu_toggle{
        position: absolute;
        border-radius: 2px;
        height: 46px;
        width: 46px;
        line-height: 46px;
        text-decoration: none;
        text-align: center;
        right: 0;
        top: 20%;
        margin-top: -23px;
        z-index: 10000;
        border-style: solid;
        border-width: 1px;
        font-size: 30px;
        display: none;
    }
}
@media only screen and (max-width: 989px) {
    .av_header_transparency.av_alternate_logo_active .logo a > img {
	    display: block;
	    text-align: center;
	}   

    .av_minimal_header #header_main, .av_minimal_header #header_meta {
        /*border: none;*/
        box-shadow: none;
    }

    .logo_container a#advanced_menu_toggle { 
        /*display: none !important; */

    }

    #mobile-advanced .join_nav_link a .avia-menu-text{
        color:#fff;
    }

    .join_nav_link a { border-radius: initial; }

    .logo_container .logo a img, .logo_container .logo a { 
    	/*display:none;*/

    }

    .responsive #top .av_header_transparency.av_alternate_logo_active .logo a > img {
        opacity: 1;
    }

    .responsive .logo {
	    padding-top:14px;
	}
}

@media only screen and (max-width: 767px) {
	.responsive .logo a {
	    display: table-cell;
	    /* vertical-align: middle; */
	}


    .responsive .logo img {
        
        margin: 0 auto !important;
        text-align: center;
    }

	/*.logo_container{ display: none; }*/

	#header_main .logo a { vertical-align: initial;  }

	/*nav.sub_menu ul {padding-top: 20px;}*/

	.cc img {
	    width: 50%;
	}

	#top #wrap_all .av_header_transparency, .av_header_transparency #advanced_menu_toggle {
        /*background-color: #ffffff;
        color: #4c515d;
        border-color: transparent;*/
    }
}


@media only screen and (max-width: 499px) {
	.cc img {
		width:80%;
	}
	#footer .btn-secondary, #footer .btn-plans-and-pricing {
        width: 100%;
    }
}

#top #wrap_all .av_header_transparency .main_menu ul:first-child > li > a, #top #wrap_all .av_header_transparency .sub_menu > ul > li > a, #top .av_header_transparency logo img {
    padding-top: 20px;
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    image-rendering: auto;
    position: relative;
    z-index: 2;
    height: 100%;
    height: auto;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

#top .av-rotator-container-inner {
    position: relative;
    line-height: 1.1em;
    margin: 0;
    font-weight: 500;
    text-transform: none;
    color: inherit;
    font-size: inherit;
}



.avia-section-huge .content, .avia-section-huge .sidebar {
    padding-top: 80px;
    padding-bottom: 80px;
}


#header_main_alternate, .av_header_transparency #header_main .social_bookmarks li a {
    color: inherit;
    border-color: transparent;
    background: transparent;
    font-size: 15px;
}
#top .av_header_transparency #header_meta {
    background: #1f2329;
    box-shadow: none;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

#top #wrap_all .av_header_transparency .main_menu ul:first-child > li > a, #top #wrap_all .av_header_transparency .sub_menu > ul > li > a, #top .av_header_transparency logo img {
    padding-top: 0px;
}

.entry-content-wrapper .post-title {
    font-size: 21px;
    line-height: 1.3em;
    text-align: center;
    padding-bottom: 25px;
}

.avia-image-container.avia-align-center {
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
    clear: both;
    padding-bottom: 25px;
}

.big-preview.single-big {
    padding: 0px 50px 35px 300px;
}


/* Events CSS */

.main_color #tribe-events-bar, .main_color #tribe-events-bar:before, .main_color #tribe-events-bar:after, .main_color .tribe-grid-allday .hentry.vevent>div, .main_color .tribe-grid-body div[id*='tribe-events-event-'] .hentry.vevent, .main_color .tribe-mini-calendar-dayofweek, .main_color .tribe-mini-calendar-event .list-date {
    background: #eee !important;
    border-color: transparent;
}

#top #wrap_all .main_color td.tribe-events-othermonth {
    background: #eee !important;
    color: #fff !important; 
}

.main_color #tribe-events-pg-template .tribe-events-notices, .main_color #tribe-events-pg-template .tribe-events-notices strong {
    background: #555 !important;
    color: #ffffff;
}

.tribe-events-present{background: #d2d2d2 !important;}

.main_color .tribe-bar-views-inner { background: #eee; color: #fff; }

.datepicker table tr td span { background: #eee !important; }

.main_color #tribe-events-content .tribe-events-calendar td { border: 1px solid #ddd !important; }

.datepicker table tr td span { color: #333; }

body .datepicker table tr td span:hover { color: #258dcd; }

.main_color .tribe-mini-calendar .tribe-events-has-events div[id*='daynum-'] a:before, .main_color .tribe-venue-widget-venue-name, .main_color .tribe-mini-calendar-nav span, body .datepicker table tr td.active.active, body .datepicker table tr td span.active.active, body .datepicker table tr td.active.active:hover, body .datepicker table tr td span.active.active:hover, body .datepicker thead tr:first-child th:hover, body .datepicker tfoot tr th:hover, #top .main_color .tribe-events-tooltip h4, .main_color div.tribe-countdown-text, .main_color .tribe-mini-calendar-nav td, .main_color .tribe-events-calendar th, .main_color .tribe-events-grid .tribe-grid-header, .main_color .tribe-events-grid .tribe-grid-header .column, #top #wrap_all .main_color .tribe-events-button, .main_color .tribe-events-list .tribe-events-event-cost span, .main_color .tribe-events-calendar td.tribe-events-present div[id*='tribe-events-daynum-'], .main_color .tribe-events-calendar td.tribe-events-present div[id*='tribe-events-daynum-']>a.main_color .tribe-grid-allday .hentry.vevent>div, .main_color .tribe-grid-body div[id*='tribe-events-event-'] .hentry.vevent, .main_color .tribe-mini-calendar .tribe-events-has-events:hover a, .main_color .tribe-mini-calendar .tribe-events-has-events:hover a:hover{
    background-color: #777;
    color: #ffffff;
    border-color: #888;
}

body .datepicker.dropdown-menu, #top .main_color #tribe-bar-form input[type='text'] { color: #333; }
.main_color .tribe-events-calendar div[id*='tribe-events-daynum-'], .main_color .tribe-events-calendar td.tribe-events-past div[id*='tribe-events-daynum-'] { color: #fff; }

.main_color .tribe-events-calendar div[id*='tribe-events-daynum-'] { background: #555 }
.main_color .tribe-events-calendar td.tribe-events-past div[id*='tribe-events-daynum-'] { background: #999; }



.main_color .tribe-bar-views-inner {
    background: #eee !important;
}

.main_color #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { 
	background: #fff;
    color: #333333;
}

.main_color #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover { background: #ccc; }


.tribe-bar-submit {
    padding: 44px 0px 30px 23px !important;
    float: right;
    margin: 0;
}


.tribe-bar-views-inner label { color: #333; }

#tribe-bar-views .tribe-bar-views-list {
     padding: 10px !important;
    /*border: 1px solid #333;*/
    background: white;
}


.tribe-bar-search-filter input[type='text']{
    background: #ffffff;
    color: #e97c00;
    border: 1px solid #aaa;
}

#top .av-flex-placeholder {
    display: table-cell;
    width: 2%;
}

.av-special-heading {
    width: 100%;
    clear: both;
    display: block;
    margin-top: 20px;
    position: relative;
}

.avia-image-container.avia-align-center {
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
    clear: both;
    padding-bottom: 0px;
}

.avia-button.avia-size-x-large {
    padding: 13px 38px;
    font-size: 24px;
    min-width: 200px;
}

.main-label {
    text-align: center;
    background: url(/wp-content/uploads/2016/08/glchubbgbluelabel.png);
}

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}

/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}

@media only screen and (max-width: 989px) {

}


#top .av-submenu-container {
    border: none;
    background: #eeeced;
}

#top .av-subnav-menu li a:hover {
    color:#aaa;
}

.alternate_color .av-subnav-menu a { font-size: 14px; }


.alternate_color .av-subnav-menu a {
    background-color: transparent;
    /*color: #d4d4d4;*/
}

#top #wrap_all .all_colors h1 {
    font-size: 32px;
    text-transform: none;
    text-align: center;
}

#top #wrap_all .alternate_color h1 { display: none; }
h1.av-special-heading-tag{color:#fff !important; font-size:61px !important;}

@media only screen and (max-width: 989px) and (min-width: 768px) {
    .av-logo-container { display: none; }
}

@media only screen and (max-width: 780px) {
    .responsive #top .container .av-content-small, .responsive #top #wrap_all .flex_column, .responsive #top #wrap_all .av-flex-cells .no_margin {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
    }
}
@media only screen and (max-width: 1200px) and (min-width:780px) {
    .responsive .pricing-table-wrap {
        width:100%;
    }

    .avia-button.avia-size-x-large{ font-size:16px; }
}

@media only screen and (max-width: 500px ){
    .avia-button.avia-size-x-large{ font-size: 20px;}
}

.avia-center-col.pricing-table{ background: #fff; }
.pricing-table{ background:#fff; }

.avia-button.avia-size-x-large{ padding:10%; width:100%; min-width:0;}