				 
 <ul class="nav" data-spy="affix" data-offset-top="50">
 {if $site.general_public}
      <li><a href="{adesk_link action=subscribe}"><i class="fa fa-plus-square fa-lg"></i> <span>{"Subscribe"|plang}</span></a> </li>
      <li><a href="{adesk_link action=archive}"><i class="fa fa-archive fa-lg"></i><span><span>{"Archive"|plang}</span></a></li>
      <li><a href="{adesk_link action=account}"><i class="fa fa-user fa-lg"></i><span>{"Your Account"|plang}</span></a></li>
      <li><a href="{adesk_link action=unsubscribe}"><i class="fa fa-minus-square fa-lg"></i><span>{"Unsubscribe"|plang}</span></a></li>
      
{/if}      
</ul>      