<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{if $ieCompatFix}
<meta http-equiv="X-UA-Compatible" content="IE=8" />
{/if}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="{"en-us"|i18n}" />
<title>{$message.subject}</title>

{literal}
<style>
.archive_title{
	border-bottom:1px solid #666666;
	background:#F9F9F9;
	padding:5px;
	padding-left:10px;
	font-weight:bold;
	margin:0px;
	margin-bottom:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;

}
</style>
{/literal}

</head>

<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" style="margin:0px; padding:0px;">



				{include file=$content_template}


{if $site.brand_links}
	<div align="center">
			<div style="color:#999999; margin-top:20px; border-top:1px solid #F1ECE2; padding-top:5px; width:750px; text-align:left; font-size:11px; font-family:Arial, Helvetica, sans-serif;">



			<a href="http://www.awebdesk.com/" style="text-decoration:none; color:#999999;" title="email marketing">{$site.acpow}</a> {"by AwebDesk"|i18n}
			</div>
			</div>
{/if}
</body>
</html>