#top_bar {
	DISPLAY: none
}
#sidebar {
	DISPLAY: none
}
#submenu {
	DISPLAY: none
}
#ft {
	DISPLAY: none
}
FORM {
	DISPLAY: none
}
FIELDSET {
	DISPLAY: none
}
.ticket_actions {
	DISPLAY: none
}
.task_actions {
	DISPLAY: none
}
.event_actions {
	DISPLAY: none
}
H1 IMG {
	DISPLAY: none
}
H2 IMG {
	DISPLAY: none
}
H3 IMG {
	DISPLAY: none
}
H4 IMG {
	DISPLAY: none
}
H5 IMG {
	DISPLAY: none
}
.task_container IMG {
	DISPLAY: none
}
.task_container SPAN {
	DISPLAY: none
}
#bbar {
	DISPLAY: none
}
#content {
	DISPLAY: block; FONT-SIZE: 10pt; FONT-FAMILY: Georgia, Times, "Times new roman", serif
}
.comment .info {
	FONT-SIZE: 9pt; COLOR: #999; FONT-STYLE: italic; TEXT-ALIGN: right
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
H2 {
	FONT-SIZE: 18pt
}
H3 {
	FONT-SIZE: 12pt; PADDING-BOTTOM: 2px; BORDER-BOTTOM: #666 1px solid
}
.comment .info A {
	DISPLAY: none
}
H1 A {
	DISPLAY: none
}
H2 A {
	DISPLAY: none
}
H3 A {
	DISPLAY: none
}
H4 A {
	DISPLAY: none
}
.task_container LI {
	LIST-STYLE-TYPE: none
}
.task_container LI EM {
	FONT-SIZE: 8pt
}
