/*--------------------------------------------------
Email Marketer Enterprise Edition Styling
  --------------------------------------------------
  Colors
	-------------------------------------------------- */
/*--------------------------------------------------
  Mixins
	-------------------------------------------------- */
a, a:hover { text-decoration: none; }
body, .campaign_help, .campaign_types_desc, .campaign_types_head {
    font: 16px arial,helvetica,clean,sans-serif;
}

.template_buttons {
/*  position: absolute;
  width: 26%;
  margin-top: -73px;*/
  margin:12px auto;
}

#sub_submenu ul li.special.active {
    background: #e8e5df;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.container {
  width: 940px;
  zoom: 1;
}
.container:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* goplan specific stuff */
/* DO NOT change the order on these, the order matters */
/*
    ______                 __  _
   / ____/_  ______  _____/ /_(_)___  ____  _____
  / /_  / / / / __ \/ ___/ __/ / __ \/ __ \/ ___/
 / __/ / /_/ / / / / /__/ /_/ / /_/ / / / (__  )
/_/    \__,_/_/ /_/\___/\__/_/\____/_/ /_/____/

*/
.box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eee;
  border: 1px solid #ddd;
  padding: 10px;
}
.actionlink {
  background: #fffccc;
  padding: 4px 6px;
  border: 1px solid #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* round corners, etc */
body {
  /*background: #eeeeee  repeat-x top left;*/
  background: #f3f3f3;
  margin: 0;
  font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
  color: #333;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
* {
  outline: none;
}
#doc3 {
  margin: auto 18px;
}
/*
 ______          __                     __
 /_  __/__  _  __/ /_   ____ _____  ____/ /
  / / / _ \| |/_/ __/  / __ `/ __ \/ __  /
 / / /  __/>  </ /_   / /_/ / / / / /_/ /
/_/  \___/_/|_|\__/   \__,_/_/ /_/\__,_/

    __  __               _____
   / / / /__  ____ _____/ / (_)___  ___  _____
  / /_/ / _ \/ __ `/ __  / / / __ \/ _ \/ ___/
 / __  /  __/ /_/ / /_/ / / / / / /  __(__  )
/_/ /_/\___/\__,_/\__,_/_/_/_/ /_/\___/____/

*/
.nav-tabs>li {
  float: none !important;
  display:inline-block;
}



#sub_submenu ul li.special a {
  color: #258DCD !important;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  margin: 1em;
}

h1 {
    color: #222;
    clear: both;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 26px;
    text-align: left;
}

h2 {
  color: #222;
  clear: both;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1em;
}
h2 em {
  color: #999;
  font-size: 11px;
  font-weight: normal;
}
h3 {
  color: #444;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 3px 0;
}
h3 em {
  color: #999;
  font-size: 11px;
  font-weight: normal;
}
h4 {
  font-size: 11px;
  color: #444;
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 3px 0;
}
h4 em {
  color: #999;
  font-size: 11px;
  font-weight: normal;
}
#sidebar h2 {
  /*font-size: 13px;*/
  padding: 10px 3px;
  border-bottom: 1px solid #ccc;
  width: 80%;
  margin: 20px auto;
}
ul, ol {
  margin-left: 2em;
}
ul li {
  list-style: disc outside;
  margin-left: 15px;
}
ol li {
  list-style: decimal outside;
}

/*
    __    _       __
   / /   (_)___  / /_______
  / /   / / __ \/ //_/ ___/
 / /___/ / / / / ,< (__  )
/_____/_/_/ /_/_/|_/____/

*/
a {
  /*color: #fff !important;*/
  color: #777;
  text-decoration: none;
}
a :hover {
  color: #004c7e;
}
a.g {
  color: #666;
  font-weight: normal;
}
thead a, th a {
  border: none;
  color: #666;
  font-weight: bold;
}
thead a:hover {
  text-decoration: underline;
}
a.r,
input.r,
button.r,
.boxy a,
.wbs_tag_addbutton {
  background: #ffffff url("images/buttons.jpg") repeat-x bottom left;
  font-size: 11px !important;
  padding: 4px 9px;
  margin-right: 1px;
  color: #444;
  border: 1px solid #ddd;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
a.r :hover,
input.r :hover,
button.r :hover,
.boxy a :hover,
.wbs_tag_addbutton :hover {
  border: 1px solid #aaa;
}
a.r :focus,
input.r :focus,
button.r :focus,
.boxy a :focus,
.wbs_tag_addbutton :focus {
  border: 1px solid #666;
}
a.r img,
input.r img,
button.r img,
.boxy a img,
.wbs_tag_addbutton img {
  border: none !important;
}
a.small {
  font-size: 10px !important;
  padding: 2px 4px;
}
a.add,
input.add,
button.add,
.boxy a.add {
  background-color: #7cc576;
  border: 1px solid #7cc576;
}
a.add :hover,
input.add :hover,
button.add :hover,
.boxy a.add :hover {
  border: 1px solid #00a651;
}
a.delete,
input.delete,
button.delete,
.boxy a.delete {
  background-color: #f26c4f;
  border: 1px solid #edc2b9;
}
a.delete :hover,
input.delete :hover,
button.delete :hover,
.boxy a.delete :hover {
  border: 1px solid #ec5d62;
}
a.r img,
a.delete img,
a.add img,
.boxy a img {
  vertical-align: top;
}
/* tables */
table td {
  padding: 10px 1px 10px 2px;
  border-bottom:1px solid #f2f2f2;
}
 table.noborder td {
  padding: 10px 10px 10px 2px;
  border-bottom:0px solid #f2f2f2;
  font-size:12px;
  vertical-align:top;
}

.table-width {
   width: 455px;
}

table td.h {
  padding: 2px;
  width: 100px;
  background: #f6f6f6;
  color: #666;
}
table tr.b {
  border-bottom: 1px solid #eee;
}
table tr.odd {
  background: #f9f9f9;
}
table tr.even {
  background: #fff;
}
/* regular tables */
.t th {
  padding: 5px 10px;
}
.t td {
background-color:#F8F8F8; padding:5px; color: #666666; border:1px solid #DEE7EF; border-bottom:0px;
}
tr th {
  background: #f6f6f6;
  font-weight: bold;
  padding: 5px;
}
/* generic list item */
li.li {
  margin: 0;
  list-style: none;
  padding: 6px 0;
  border-bottom: 1px dotted #ddd;
}
/*
   __  ____  _ ___ __  _
  / / / / /_(_) (_) /_(_)__  _____
 / / / / __/ / / / __/ / _ \/ ___/
/ /_/ / /_/ / / / /_/ /  __(__  )
\____/\__/_/_/_/\__/_/\___/____/

*/
.c {
  text-align: center;
}
.ar {
  text-align: left;
}
.f10 {
  font-size: 10px;
}
.f11 {
  font-size: 11px;
  line-height: 1.6em;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.ml {
  margin-left: 1em;
}
.sml {
  margin-left: 5px;
}
.mr {
  margin-right: 1em;
}
.strong {
  font-weight: bold;
}
.hl {
  padding: 3px 4px;
  background: #fffccc;
}
.va {
  vertical-align: middle;
}
.fr {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}
.vtt {
  vertical-align: text-top;
}
.lg {
  color: #999;
}
.bb {
  border-bottom: 1px dotted #ccc;
}
.lbb {
  border-bottom: 3px dotted #ccc;
}
.pb {
  padding-bottom: 1em;
}
.mb {
  margin-bottom: 1em !important;
}
.lmb {
  margin-bottom: 2.5em !important;
}
.smb {
  margin-bottom: 5px !important;
}
.lmt {
  margin-top: 2.5em;
}
.lh {
  line-height: 1.5em;
}
.hide {
  visibility: hidden;
  display: none;
}
.nc {
  clear: none;
}
.p {
  font-size: 12px;
  line-height: 1.6em;
}
/* default element stuff */

/* error messages, info blocks, etc */
/*
    ____                                     __  _
   / __ \____ _____ ____     ________  _____/ /_(_)___  ____  _____
  / /_/ / __ `/ __ `/ _ \   / ___/ _ \/ ___/ __/ / __ \/ __ \/ ___/
 / ____/ /_/ / /_/ /  __/  (__  )  __/ /__/ /_/ / /_/ / / / (__  )
/_/    \__,_/\__, /\___/  /____/\___/\___/\__/_/\____/_/ /_/____/
            /____/
*/
#content {
    margin-top: 5px;
    clear: both;
    min-height: 400px;
    position: relative;
    padding: 2em 2em 3em 2em;
    margin: 2em 0 1em;
    box-shadow: 0px 4px 20px 0 rgba(0,0,0,0.2);
    border-radius: 0;
}
#sidebar {
  margin-top: 31px;
  text-align: center;
  border-radius: 0;
  box-shadow: 0px 4px 20px 0 rgba(0,0,0,0.2);
  /*padding: 5px;*/
  border:0px;
}
#sidebar .block {
  font-size: 11px;
  margin: 5px 0 0 20px;
  background: #eee;
  padding: 5px;
  border: 1px solid #eee;
}
#sidebar .date_field {
  width: 125px !important;
}
#ft {

  padding: 8px 0;
  margin-top: 2em;
  text-align: center;
  font-size: 85%;
  color: #aaa;
  margin-bottom: 50px;
}

.help_tip {
  margin-bottom: 30px;
}
#ft a {
  color: #999;
  font-weight: normal;
  border-bottom: 1px dotted #999;
}
/* Top navigation bar */
#top_bar {
  /*background: #261a1a;*/
  padding: 10px 0 10px 33px;
  font-size: 12px;
  text-align: left;
  color: #333;
  /*height:20px;*/
  /* Company name */

  /* top padding fix */
}
#top_bar .emarketer_logo {
    height: 45px;
}
.panel{
    background: white;
    box-shadow: 0px 4px 20px 0 rgba(0,0,0,0.2);
}

.p_canvas img { width:100%; }

#top_bar .company {
  margin-right: 10px;
}
#top_bar .company a {
  color: #333;
  font-size:18px;
}
#top_bar .company a:hover {
  border-bottom: 1px solid #999;
}
#top_bar .rounded a {
  font-size: 11px;
  font-weight: normal;
  color: #ddd;
  background: #222;
  padding: 6px 8px;
  border: 1px solid #444;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#top_bar .rounded a img {
  vertical-align: middle;
}
#top_bar select {
  margin: 0;
  padding: 0;
}
#top_bar .ar {
  padding: 0 50px 0;
  text-align: right;
  transform: translateY(25%);
}

.header_ul {
    list-style-type: none;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.header_ul li {
    display: inline;
}

.top_ul_menu {
    list-style-type: none !important;
    font-size: 17px !important;
    float: right !important;
    padding: 17px 35px !important;
}

.top_ul_menu li {
    display: inline !important;
    margin-left: 15px !important;
}

.top_logo {
    float: left !important;
    padding: 10px 35px !important;
}

.top_logo img {
    height: 45px;
    width: auto;
}

.top_admin_ul {
    list-style-type: none !important;
    font-size: 17px !important;
    margin: 0 !important;
    padding: 15px 0;
}

.top_admin_ul li {
    display: inline;
}

.top_admin_ul li a {
    font-size: 11px;
    font-weight: normal;
    color: #ddd;
    background: #222;
    padding: 6px 8px;
    border: 1px solid #444;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.header_middle {
    margin: 0 auto !important;
    text-align: center !important;
    border-top-color: #888 !important;
    padding-top: 0 !important;
    padding-bottom: 10px !important;
}

div.no_padding {
    padding: 0 !important;
}

button.glc_logout {
    /*margin: 0 !important;
    background-color: #858587 !important;
    border-color: #888 !important;
    font-size: 16px !important;*/
    padding: 10px 20px;
}

button.glc_logout:hover {
    opacity:0.7;
}

span.glc_gray {
    color: #888;
}

/* Project menu */
.yui-g .yui-gc div.first, .yui-gc div.first, .yui-gd .yui-g, .yui-gd .yui-u{
  width: 100%;
  text-align:center;
  /*padding:10px 0px 0px 20px;*/
  margin-bottom: -7px;
  border-bottom: 6px solid #fff;
  /*box-shadow: 0px 4px 0px #d2d2d2;*/
}



#submenu {
  /*margin: 15px 18px 0px;*/
  padding: 10px 0px 0px;
  background: #444;
  text-align: center;
  /*border: 1px solid #ddd;*/
  vertical-align: middle;
  font-size: 14px;
  /*-moz-border-radius: 5px;*/
  /*-webkit-border-radius: 5px;*/
  /*border-radius: 5px;*/
}


#submenu a {
  padding: 16px;
  font-weight: 300;
  font-size:16px;
  color: #fff;
  border: none;
  /*border-right: 1px solid #eee;*/
  display: inline-block;
  /*float: left;*/
  text-decoration: none;
}
#submenu a:hover {
  color: #666 !important;
  background: #fff;
  border-radius: 4px 4px 0px 0px;
  text-decoration: none;
}
#submenu a.current {
  background: #fffeee;
}
#submenu #search {
  font-size: 11px;
  background: #f5f6f7;
  border-left: 1px solid #eee;
  float: right;
  padding: 3px 10px;
  display: none;
}
#submenu #search input {
  margin: 0;
  background: #ffffff url("images/search.jpg") no-repeat center left;
  border: 1px solid #ccc;
  padding: 2px;
  padding-left: 18px;
}
/* Sidebar menus */
#sub_submenu {
  /*padding: 8px 0;*/
  font-size: 14px;
}
#sub_submenu ul {
  margin: 0;
  margin-bottom: 20px;
}
#sub_submenu ul li {
  margin: 0;
  list-style: none;
  /*border-bottom: 1px solid #ddd;*/
}
#sub_submenu ul li.special {
  margin: 0;
  list-style: none;
  border-bottom: 0px solid #ddd;
}
#sub_submenu ul li :hover {
  background: #fffddd;
  text-decoration: underline;
}
#sub_submenu ul li.special :hover {
/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d5d5d5), color-stop(1, #ffffff) ); background:-moz-linear-gradient( center top, #d5d5d5 5%, #ffffff 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#ffffff'); background-color:#d5d5d5;*/
}

#sub_submenu ul li.special :active {
position:relative; top:2px;
}

.campaign_new_progress div.selected {
  /*background: #258DCD;*/
  background: #337ab7;
  color: #fff;
}

.campaign_new_progress div.selected a { color:#fff; text-decoration: none; }

.campaign_new_progress .selected {
    padding: 10px 24px;
    color: #000000;
    border-radius: 5px;
    /*cursor: pointer;*/
}

.adesk_modal .adesk_modal_inner {
    border-top: 10px solid #337ab7;
    border-bottom: 4px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

input[type=checkbox] { margin: 5px 0px; }

.campaign_new_progress div{
  padding: 10px 24px;
  display: inline-block;

}

.campaign_new_progress_container {
    text-align: center;
     width: 100%;
     margin-bottom: 30px;
}

.campaign_new_progress a, .campaign_new_progress a:visited {
    /*background: #258DCD;*/
    color: #333;
    font-weight: bold;
}

.campaign_new_progress .selected a, .campaign_new_progress .selected a:visited {
    /*background: #258DCD;*/
    text-decoration: none;
    text-decoration: underline;
}


#submenu .active a {
    color: #000;
}

.active{
  color: #333;
  background:#fff;
  border-radius: 4px 4px 0px 0px;
}

#sub_submenu ul li a {
  color: #258DCD;
  display: block;
  padding: 7px 7px;
  font-weight: 300;
  margin: 0 auto;
  width: 80%;
  color:#258DCD;
  font-size:16px;
}
#sub_submenu ul li.special a {
 margin:0 0 10px;
	padding:20px 0px;
	width:100%;
	height:auto;
	display:inline-block;
  	/*background-color:#d5d5d5;
  	background-repeat:no-repeat;
  	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#d5d5d5));
  	background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #d5d5d5);
  	background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #d5d5d5);
  	background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #d5d5d5);
  	background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #d5d5d5);
  	background-image:linear-gradient(#ffffff, #ffffff 25%, #d5d5d5);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d5d5d5', GradientType=0);
  	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
  	color:#006600;
  	font-size:13px;
  	border:1px solid #c3c3c3;
  	border-bottom-color:#a7a7a7;
  	-webkit-border-radius:4px;
  	-moz-border-radius:4px;
  	border-radius:4px;
  	-moz-box-shadow:inset 0px 1px 0px 0px #fff;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #fff;
  	box-shadow:inset 0px 1px 0px 0px #fff;
  	-webkit-transition:0.1s linear all;
  	-moz-transition:0.1s linear all;
  	-ms-transition:0.1s linear all;
  	-o-transition:0.1s linear all;
  	transition:0.1s linear all;
  	text-shadow:1px 1px 0px #fff;
  	-webkit-box-shadow:0px 1px 1px rgba(120, 120, 120, 0.3);
  	-moz-box-shadow:0px 1px 1px rgba(120, 120, 120, 0.3);
  	box-shadow:0px 1px 1px rgba(120, 120, 120, 0.3);
  	cursor:pointer;
  	zoom:1;
  	border-bottom:0 !important;*/
}
#sub_submenu ul li.small a {
	/*padding:7px 10px;*/
	font-size:16px !important;
	color:#444 !important;
  font-weight:300;
}
#sub_submenu ul li img {
  margin-right: 5px;
}
#sub_submenu ul li.current {
  background: #fffeee;
}
/* Login box */
#logobox {
  margin: 2em 0em 2em 0em;
}
#loginbox {
  font-size: 12px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  margin: 2em auto;
}
#overlay {
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  z-index: 200;
}
#goplan_feedback {
  position: absolute;
  background: white;
  width: 400px;
  height: 330px;
  text-align: left;
  padding: 10px;
  z-index: 300;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#feedback_sent {
  padding: 20px;
  padding-top: 5.75em;
  background: #F6F6F6;
}
#feedback_sent h1 {
  padding-bottom: 2.75em;
}
/* BOTTOM BAR */
#bbar {
  color: #222;
  font-size: 11px;
  position: fixed;
  height: 18px;
  background: #d0d0d0 url("images/bbarbg.gif") repeat-x bottom left;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  left: 10px;
  bottom: 0px;
  right: 10px;
  z-index: 1000;
}
#bbar .avatar {
  background: #777;
  padding: 1px;
  margin-right: 5px;
}
#bbar a {
  color: #444;
  padding: 4px 5px;
  font-weight: normal;
  background: #ffffff url("images/buttons.jpg") repeat-x bottom left;
  border: none;
}
#bbar a :hover {
  background: #222;
  color: #eee;
}
#bbar a#bbar_stop {
  background: #333;
  color: #eee;
}
#bbar a#bbar_stop:hover {
  background: #666;
  color: #eee;
}
.Completed {
    background: url("images/check_32.png") no-repeat scroll 0 0 transparent;
    color: #330000;
    float: left;
    height: 32px;
    margin-top: -130px;
	margin-left:10px;
    width: 32px;

}

/* MEDIA QUERIES */

@media screen and (max-width: 1090px) {
  #sub_submenu ul li.special a{  }
  #sub_submenu ul li.special { width: 30%; display: inline-block; }
}

label.acquisition, label.monetization, label.activation {
  display: inline-block;
  margin-bottom: 0.5em;
  border: 1px solid grey;
  min-height: 48px;
  padding: 50px;
  float: left;
  margin: 10px;
  border-radius: 10px;
  background: beige;
}


@media (min-width: 768px) {
  .lead {
      font-size: 16px;
  }
}

.wizard > .steps .number {
    font-size: 16px;
    display: none;
}

.wizard > .tablist > a:hover {color:initial;}

/*.wizard > .steps > ul > li  > a:hover { color:#fff; }*/
.wizard > .steps > ul > li  > a > .step_txt { font-size: 18px;}
.wizard > .steps > ul > li.current > a > .step_txt { color:#004c7e; }

.step_txt { font-weight: bold; font-size:18px; }

#create-funnel-campaign input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.6);
}

#create-funnel-campaign input[type="radio"] {
    transform: scale(1.6);
}

.wizard > .actions a, .wizard > .actions a:hover { padding: 1.4em 4.0em; font-weight:bold; font-size:16px;}

.wizard > .actions a:hover { opacity:0.7; }

.wizard > .actions > ul > li:first-child > a { background: #eee; color: #aaa !important; }

#landing-page-list-id { display: none; }

#create_new_list_title { margin-bottom:20px; }

.create-new-list-warning { font-size:16px; }

.step_header_text, .text_center { text-align:center; }

.hint { text-align: center; font-size:16px; margin-top: 10px; }

.startup .section { margin: 20px 0px 20px 0px; padding: 40px 40px; border: 1px solid #ddd; border-radius: 10px; }

.startup .section h1 { border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 30px; }

#sub_submenu ul li :hover {
    background: #e8e5df;
    text-decoration: none;
}

.sidebar_heading {
  background-color: #666 !important;
  background-image: none !important;
  color: #fff !important;
  text-shadow: none !important;
}

.select_existing_list,
.newlist_btn,
.btn_landing_page_builder,
.btn_landing_page_select_template,
.btn_redirect_page_select_template,
.btn_redirect_page_builder,
.btn_redirect_page_custom_url,
.btn_pre_made_template,
.btn_custom_page_design,
.btn_redirect_page_custom_url,
.btn_thankyou_premadetemplate,
.btn_thankyou_custompagedesign,
.btn_thankyou_externalurl{
    width: 100%;
    /*border: 4px solid #258DCD;*/
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}
/*
.select_landing_page_template,
.select_landing_page_builder,
.select_redirect_page_builder,
.select_redirect_page_template,
.select_redirect_page_custom_url
{
  display: none;
}*/

.select_existing_list .fa,
.newlist_btn .fa,
.btn_landing_page_builder .fa,
.btn_landing_page_select_template .fa,
.btn_redirect_page_select_template .fa,
.btn_redirect_page_builder .fa,
.btn_redirect_page_custom_url .fa,
.btn_pre_made_template .fa,
.btn_custom_page_design .fa,
.btn_redirect_page_custom_url .fa,
.btn_thankyou_premadetemplate .fa,
.btn_thankyou_custompagedesign .fa,
.btn_thankyou_externalurl .fa{
    text-align: center;
    font-size: 60px;
    /*color: #258DCD;*/
    color:#666;
    display: block;
    margin-bottom: 20px;
}
.select_existing_list span,
.newlist_btn span,
.btn_landing_page_builder span,
.btn_landing_page_select_template span,
.btn_redirect_page_select_template span,
.btn_redirect_page_builder span,
.btn_redirect_page_custom_url span,
.btn_pre_made_template span,
.btn_custom_page_design span,
.btn_redirect_page_custom_url span,
.btn_thankyou_premadetemplate span,
.btn_thankyou_custompagedesign span,
.btn_thankyou_externalurl span{
    display: block;
    font-size: 18px;
    color: #666;
    text-align: center;
    padding: 0px;
}

.select_existing_list:hover,
.newlist_btn:hover,
.btn_landing_page_builder:hover,
.btn_landing_page_select_template:hover,
.btn_redirect_page_select_template:hover,
.btn_redirect_page_builder:hover,
.btn_redirect_page_custom_url:hover,
.btn_pre_made_template:hover,
.btn_custom_page_design:hover,
.btn_redirect_page_custom_url:hover,
.btn_thankyou_premadetemplate:hover,
.btn_thankyou_custompagedesign:hover,
.btn_thankyou_externalurl:hover{
  border: 1px solid #258DCD;
  color: #258DCD;
}

.select_existing_list:hover span,
.newlist_btn:hover span,
.btn_landing_page_builder:hover span,
.btn_landing_page_select_template:hover span,
.btn_redirect_page_select_template:hover span,
.btn_redirect_page_builder:hover span,
.newlist_btn:hover > .fa,
.select_existing_list:hover > .fa,
.btn_landing_page_builder:hover > .fa,
.btn_landing_page_select_template:hover > .fa,
.btn_redirect_page_select_template:hover > .fa,
.btn_redirect_page_builder:hover > .fa
.btn_redirect_page_custom_url:hover > .fa,
.btn_pre_made_template:hover > span,
.btn_custom_page_design:hover > span,
.btn_redirect_page_custom_url:hover > span,
.btn_pre_made_template:hover .fa,
.btn_custom_page_design:hover .fa,
.btn_redirect_page_custom_url:hover .fa
.btn_thankyou_premadetemplate:hover span,
.btn_thankyou_custompagedesign:hover span,
.btn_thankyou_externalurl:hover span,
.btn_thankyou_premadetemplate:hover .fa,
.btn_thankyou_custompagedesign:hover .fa,
.btn_thankyou_externalurl:hover .fa
{
  color: #258DCD;
}


.list_selection_active span,
.list_selection_active i,
.list_selection_active .fa {
  color: #258DCD;
}
.list_selection_active{
  border: 1px solid #258DCD;
}
label, input, button, select, textarea { font-size: 16px; }

#radiobutton_container{ text-align:center; }
#radiobutton_container input[type="radio"] {display:none;}
#radiobutton_container input[type="radio"] + img { opacity:0.8; }
#radiobutton_container label{display:inline-block; padding: 4px 11px; width:30%; cursor:pointer;}
#radiobutton_container input[type="radio"]:checked + label,
#radiobutton_container input[type="radio"]:checked + img{
  /*border: 3px solid #ccc;*/
  border-radius: 10px;
  /*margin: 20px;*/
  opacity: 1.0;
  background: #258DCD;
}
#radiobutton_container .img-thumbnail {width: 100%;}

hr.divider{ width:75%; border:1px solid #ccc; height:auto; margin: 20px auto; }

#landing_page_container, #redirect_page_container{
  display: block;
  padding: 30px 10px;
  /*margin-top: 50px;*/
}

.copy_success { display: none; }

.ttip { color: #258DCD;
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.template_buttons > .btn{ color:#fff; }


.template_title{ margin: 17px 0px; text-align: center; font-weight: bold; display: block; }

.template_wrapper{    display: inline-block;width: 30%;margin: 4px 12px;}
.hidden_div{display: none;}

.redirect_page_container { margin-top:50px; }



#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;  content:'';
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 4px;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align:center;
}

.wizard > .steps > ul > li
{
    /*width: 33.33%;*/
    width:auto;
    margin:0px;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 110%;
}

.ui-progressbar.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    border-radius: 20px;
    background: #666;
}

.ui-widget-content{  }
.ui-progressbar .ui-widget-header{
  /*background: #2184be; */
  /*background-color: rgb(43,194,83);*/
  background-color:rgb(33, 132, 190);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
      background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(33, 132, 190)), color-stop(1, rgb(33, 132, 190)) );
  height: 106% !important;
  border: none;
}

/*.ui-progressbar .ui-widget-header:after{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
    background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );*/
    /*z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}*/

.wizard ul { display: none; } /* hide the tablist steps */
.progress_indicator_txt span { font-size:20px; }
.step-progressbar,
.progress_indicator_text
{
  display:inline-block;
}

.progressbar_wrapper{ text-align:center; }
.step-progressbar { width: 70%; }
.progress_indicator_text{
  /*display:inline-block; */
  display: none;
  margin-bottom: 6px;
}
/*
input[placeholder] {
  color: #d7d7d7;
}*/

::-webkit-input-placeholder { color: #d7d7d7; opacity: 1 !important; }
:-moz-placeholder { color: #d7d7d7;}
::-moz-placeholder {color: #d7d7d7;}
:-ms-input-placeholder {color: #d7d7d7;}

.skip_to_publish { font-size:16px; }

.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: none;
    box-shadow: 0 0 7px black;
    background:none;
  }

  .btn-glc-scheme { color:white !important; background-color:#2184be; }

  .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 4px 0 0 0;
    padding: 1em 1em 1em .7em;
    font-size: 16px;
    text-align: left;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #2184be;
    font-weight: normal;
    color: #ffffff;
}

select[multiple].input-lg, textarea.input-lg {
    height: auto;
    background: whitesmoke;
}

a.hyperlink, a.hyperlink:visited, a.hyperlink:focus{ color: #2184be; }

.accordion h3{
    color: #444;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin: 0.3em;
}

.design_your_own{
    border-top: 1px solid #ccc;
    margin-top: 1em;
}

.sharer_wrapper { text-align: center; }

.sharer_wrapper ul {display: block;}
.sharer_wrapper ul li {display: inline-block !important;}
.sharer_wrapper ul li:hover {opacity:0.9;}

.sharer_wrapper a.social {     border: 1px solid grey;

    display: inline-block;
    font-size: 15px;
    margin-bottom: 0.3125em;
    margin-right: 0.3125em;
    padding: 1.0em 0.6875em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:white;
}

.sharer_wrapper ul li.facebook a {
    background-color: #3b5997;
    border-color: #3b5997;
}

.sharer_wrapper ul li.twitter a {
    background-color: #41b7d8;
    border-color: #41b7d8;
}

.sharer_wrapper ul li.gplus a {
    background-color: #d64937;
    border-color: #d64937;
}

.sharer_wrapper ul li.email a {
    background-color: #ff6600;
    border-color: #ff6600;
}

.sharer_wrapper ul li a:hover { color:white;}


.btn-custom-campaign i, .btn-done-funnels i{
  margin-right: 10px;
}

.btn-custom-campaign, .btn-done-funnels{ width: 60%; }

.campaign_wrapper {
    text-align: center;
    border: 1px solid #333;
    border-radius: 14px;
    padding: 20px;
  }

.optin-campaign ul li, .done-funnels ul li {
  text-align:left;
}

.btn-orange {
  background-color: #e97e00;
  border-color: #e97e00;
  color: #fff !important;
}

.btn-green {
    color: #fff !important;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn:hover { opacity:0.8;}
