{adesk_js lib="really/simplehistory.js"}
<script type="text/javascript">
  {include file="bounce_management.js"}
</script>

<div style="float: right;">
  <a href="desk.php?action=bounce_code">{"Bounce Codes"|alang}</a>
</div>
<h3 class="m-b">{"Bounce Settings"|alang}</h3>

{include file="bounce_management.list.htm"}
{include file="bounce_management.form.htm"}
{include file="bounce_management.delete.htm"}
{include file="bounce_management.search.htm"}
{include file="bounce_management.log.htm"}
{include file="help.bounce.inc.htm"}


<script type="text/javascript">
  adesk_ui_rsh_init(bounce_management_process, true);
</script>
