{adesk_js lib="really/simplehistory.js"}
<script type="text/javascript">
  {include file="subscriber_view.js"}
</script>
{* load javascript calendar *}
{adesk_calendar base=".."}

{assign var="name" value=$subscriber.first_name}
{if $name == ""}
{assign var="name" value=$subscriber.default_name}
{/if}<div class="panel bg bg-primary" style="padding:5px; margin-top:5px">
               <h3 class="m-b">
	<span id="subscriber_email_label">
		<span id="subscriber_email_title">{$subscriber.email|escape}</span>
		<span id="subscriber_email_editlink"><a class="btn btn-white btn-xs" href="#" onClick="$('subscriber_email_label').hide();$('subscriber_email_form').show();$('subscriber_email_field').value=subscriber_view_email;return false;">{"Edit"|alang}</a></span>
	</span>
	<span id="subscriber_email_form" style="display:none;">
		<input type="text" name="email" id="subscriber_email_field" value="{$subscriber.email|escape}" onKeyPress="adesk_dom_keypress_doif(event, 13, subscriber_email_update);" />
		<input type="button" value="{'Save'|alang}" onClick="subscriber_email_update();" />
		<input type="button" value="{'Cancel'|alang}" onClick="$('subscriber_email_form').hide();$('subscriber_email_label').show();" />
	</span>
</h3>
{if $formSubmitted}
<script>
{jsvar var=$submitResult.message name=r}
{if $submitResult.succeeded}
adesk_result_show(r);
{else}
adesk_error_show(r);
{/if}
</script>
{/if}

                </div>

<section class="content-sidebar bg-white" id="content" style="margin-left:-20px;">

    <!-- .sidebar -->
    <aside class="sidebar bg-lighter sidebar">
      <div class="text-center clearfix bg-white">
       <img src="http://www.gravatar.com/avatar/{$subscriber.md5email}?d={$subscriber.default_gravatar}&s=128" width="128" style="border:3px solid #EDECE7;">
      </div>
      <div class="bg-white padder padder-v">
         <span class="h4">{$subscriber.first_name} {$subscriber.last_name}</span>
         {if count($actions) > 0}
  <div>
	<div style="margin-bottom:10px;">{"Recent Actions"|alang}</div>

	  {foreach from=$actions item=e key=k}
	  <div style="margin-bottom:4px;">({$k|acpdate}) {$e}</div>
	  {/foreach}

  </div>
  {/if}
   <div>
	<small class="pull-right text-muted"> {"Subscribed on "|alang} <span id="subscribedate"></span><br>
	 {"from IP"|alang} <span id="subscriberip"></span><br></small>
  </div>
     <div>
     <h4>{"Geo Data(Auto fill)"|alang}</h4><small class="pull-right text-muted">{"This info prefills and is an approximation when subscriber  subscribers/updates his info using subscription form based on his/her IP"|alang} </small> <br />
     
	 {"Country"|alang} :&nbsp;<span id="geocountry"></span><br>
     {"State/Region "|alang} :&nbsp;<span id="geostate"></span><br>
     {"City"|alang} :&nbsp;<span id="geocity"></span><br>
 
  </div>
  
  <div id="unsubscribebox" style="display: none; margin-top: 15px; padding: 10px; border: 1px solid #E0DFDC; color:#999999;">
	 {"Unsubscribed on "|alang} <span id="unsubscribedate"></span><br>
  </div>
      </div>
       
    </aside>
    <div id="listmodal" class="adesk_modal" style="display:none">
  <div class="adesk_modal_inner">
	<h3 class="m-b">{"Add Subscription"|alang}</h3>

	<p>
	  {"Subscribe to one of the lists below by choosing it from the dropdown and clicking the \"Add\" button."|alang}
	</p>

	<div id="listmodaldiv">
	</div>

	<br>

	<div>
	  <input type="button" class="adesk_button_ok" value='{"Add"|alang}' onclick="subscriber_view_subscribe()">
	  <input type="button" class="adesk_button_cancel" value='{"Cancel"|alang}' onclick="$('listmodal').hide()">
	</div>
  </div>
</div>
    <!-- /.sidebar -->
    <!-- .sidebar -->
    <section class="main" style="padding-left:10px;">
       
      <ul class="nav nav-tabs m-b-none no-radius">
        <li class="active"><a data-toggle="tab" href="#maindiv">{"Lists"|alang}</a></li>
        <li class=""><a data-toggle="tab" href="#campaignhistory">{"Recent Campaign History"|alang}</a></li>
        <li class=""><a data-toggle="tab" href="#future">{"Future"|alang}</a></li>
        <li class=""><a data-toggle="tab" href="#bounce">{"Bounces"|alang}</a></li>
      </ul>
      <div class="tab-content">
        <div id="maindiv" class="tab-pane active">
        <h3 class="m-b">{"Lists"|alang}</h3>  <p>
  {$name|escape} {"is subscribed to"|alang} <strong><span id="listcount">{$listcount|default:0}</span></strong> {"mailing lists."|alang}
	{"Select a list to view list specific data:"|alang}
  </p>

  <p>
	<span id="listdiv">
	  <select id="listid" onchange="subscriber_view_load_fields(0)">
	  </select>
	</span>
	<span id="subscribelink" style="display:none">
	  {if $admin.pg_subscriber_edit}
	  <em>-{"or"|alang}-</em>
	  <a href="#" onclick="subscriber_view_unlists(); return false">{"add %s to another list"|alang:$name|escape}</a>
	  {/if}
	</span>
  </p>  <div id="details">
	<div style="float: right">
	  <span id="details_fields_editlink">
		{if $admin.pg_subscriber_edit}
		<a href="#" onclick="subscriber_view_load_fields(1); return false">{"Edit"|alang}</a>
		{/if}
	  </span>
	  <span id="details_fields_unsubscribelink">
		{if $admin.pg_subscriber_edit and $admin.pg_subscriber_delete}
		<a style="margin-left: 10px" href="#" onclick="subscriber_view_unsubscribe(); return false">{"Unsubscribe"|alang}</a>
		{/if}
	  </span>
	</div>
	<div>
	  <h3 class="m-b">{"Subscriber Details (List:"|alang} <span id="details_listname"></span>)</h3>
	</div>

	<div id="details_fields" style="clear: right; margin-top: 10px">
	</div>

	<div id="details_fields_updatebutton" style="display:none">
	  <input type="button" value='{"Update"|alang}' onclick="subscriber_view_save_fields()"/>
	  <input type="button" value='{"Cancel"|alang}' onclick="subscriber_view_load_fields(0)"/>
	</div>
  </div>
        </div>
        <div id="campaignhistory" class="tab-pane">
       <h3 class="m-b">{"Recent Campaign History"|alang}<span style="color:#ccc;"> {"(Last 90 days)"|alang}</span></h3>

	  <div class=" table-responsive"><table class="table table-striped m-b-none dataTable"  cellspacing="0" cellpadding="0" width="100%">
		<tr class="adesk_table_header_options">
		  <td>
			<select name="listid" id="logListManager" size="1" onchange="subscriber_view_filter(this.value);">
			  <option value="0">{"List Filter..."|alang}</option>
			  {foreach from=$listsList item=p}
			  <option value="{$p.id}">{$p.name|truncate:50}</option>
			  {/foreach}
			</select>
		  </td>
		</tr>
	  </table></div>

	  <div class=" table-responsive"><table class="table table-striped m-b-none dataTable"  border="0" cellspacing="0" cellpadding="1" width="100%s">
		<thead id="log_head">
		  <tr class="adesk_table_header">
			<td width="150">{adesk_headercol action="subscriber_view" id="01" idprefix="log_sorter" label="List"|alang}</td>
			<td>{adesk_headercol action="subscriber_view" id="02" idprefix="log_sorter" label="Campaign"|alang}</td>
			<td width="120">{adesk_headercol action="subscriber_view" id="03" idprefix="log_sorter" label="Date Sent"|alang}</td>
		  </tr>
		</thead>
		<tbody id="log_table">
		</tbody>
	  </table></div>
	  <div id="log_noresults" class="adesk_hidden">
		<div align="center">{"Nothing found."|alang}</div>
	  </div>
	  <div style="float:right">
		{include file="pagination.js.tpl.htm" tabelize="subscriber_view_tabelize" paginate="subscriber_view_paginate" limitize="subscriber_view_limitize" paginator=$paginators.log}
	  </div>
	  <div id="logLoadingBar" class="adesk_hidden" style="background: url(../awebdesk/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
		{"Loading. Please wait..."|alang}
	  </div>
        </div>
        <div id="future" class="tab-pane">
         	<h3 class="m-b">{"Future"|alang}</h3>
	<ul>
	  {foreach from=$future item=e}
	  <li>{$e}</li>
	  {foreachelse}
	  {"There are no campaigns that are scheduled to send to %s in the near future."|alang:$name|escape}
	  {/foreach}
	</ul>
        </div>
     <div id="bounce" class="tab-pane">
          <h3 class="m-b">{"Bounces"|alang}</h3>
	<ul>
	  {foreach from=$bounces item=e}
	  <li>{$e}</li>
	  {foreachelse}
	  {"No mailing to %s has ever bounced."|alang:$name|escape}
	  {/foreach}
	</ul>
        </div>
      </div>
    </section>
    <!-- /.sidebar -->
    <script type="text/javascript">
  subscriber_view_lists(0);
  //subscriber_view_process_mailing(["log", subscriber_view_sort, "0"]);
  subscriber_view_process_log(["log", subscriber_view_sort, "0"]);
  adesk_ui_rsh_init(subscriber_view_process, true);
</script>

  </section>