<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={"utf-8"|i18n}" />
	<meta http-equiv="Content-Language" content="{"en-us"|i18n}" />
	<link href="../css/default.css" rel="stylesheet" type="text/css" />
	<title>{"Check for Updates"|alang}</title>
</head>
<body style="margin: 0; padding: 0;">

{if $newVersion}
<div class="warning">
	<span class="resultMessage">{"Software Update available!"|alang}</span>
	{"You are running %s and version %s is already available."|alang:$site.version:$version}
	<a href="{$settings_update_link}" target="_top"><u>{"Details"|alang}</u>
</div>
{else}
<script>
<!--
if ( parent && parent.document.getElementById('updateCheckIFrame') )
	parent.document.getElementById('updateCheckIFrame').className = 'adesk_hidden';
-->
</script>
{/if}

</body>
</html>
