<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={"utf-8"|i18n}" />
<meta http-equiv="Content-Language" content="{"en-us"|i18n}" />
<meta name="robots" content="noindex,nofollow" />
<title>{"%s Setup"|alang:$appname}</title>
{adesk_js lib="scriptaculous/prototype.js"}
{adesk_js lib="scriptaculous/scriptaculous.js"}
{adesk_js base=".." acglobal="ajax,dom,b64,str,array,utf,ui,paginator,loader,tooltip,date,custom_fields,editor,form,class.Table,ihook,progressbar"}
{adesk_js lib="templates/install.js"}
<link href="../awebdesk/css/default.css" rel="stylesheet" type="text/css" />
<link href="../awebdesk/css/installer_updater.css" rel="stylesheet" type="text/css" />
<link href="../awebdesk/css/awebdeskstyle.css" rel="stylesheet" type="text/css" />
<link href="../awebdesk/css/grids-min.css" rel="stylesheet" type="text/css" />
<script>
<!--

{include file="adesk_strings.js"}

{* global js vars *}
{*
{jsvar name=datetimeformat var=$site.datetimeformat}
{jsvar name=dateformat var=$site.dateformat}
{jsvar name=timeformat var=$site.timeformat}

{jsvar name=adesk_js_site var=$jsSite}
{jsvar name=adesk_js_admin var=$jsAdmin}
{jsvar name=adesk_action var=$action}
*}

{jsvar name=plink var=$siteurl}

{jsvar name=appid var=$appid}
{jsvar name=appname var=$appname}
{jsvar name=requirements var=$requirements}
{jsvar name=step var=$step}
{jsvar name=subapps var=$subapps}


var apipath = "{$siteurl}/awebdesk/scripts/instup.php";

// set error bar for dropped api calls
var printAPIerrors = adesk_error_show;

-->
</script>
</head>
<body class="yui-skin-sam" onload="if ( $('dl_s') ) $('dl_s').focus();">

<div id="adesk_loading_bar" class="adesk_hidden"><span id="adesk_loading_text">{"Loading..."|alang}</span></div>
<div id="adesk_result_bar" class="adesk_hidden"><span id="adesk_result_text">{"Changes Saved."|alang}</span></div>
<div id="adesk_error_bar" class="adesk_hidden"><span id="adesk_error_text">{"Error Occurred!"|alang}</span></div>



<div class="yui-g" id="top_bar">
    <div class="yui-u first">
      <span class="company"><strong>{$appname} {$appver}</strong></span>
    </div>

 

 
  </div>




  <div class="yui-t2" id="doc3">
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">
          
 <div id="content" style="background:#FFFFFF;">
	{if defined($smarty.const.ICONV_DISABLED)}
	<div class="non-critical-warning">
	  {"The PHP function, iconv(), is disabled on your system.  Because iconv() is disabled, you may experience persistent language and character set issues.  You should contact your host to have iconv support enabled."|alang}
	</div>
	{/if}
	{if defined($smarty.const.MYSQL_UTF8_DISABLED)}
	<div class="non-critical-warning">
	  {"Your MySQL database server does not seem to be configured to use, or allow, the UTF-8 character set.  As a result, some of your text may appear garbled and may appear to be sorted in the wrong order.  We strongly recommend you contact your ISP and ask them to enable UTF-8 support before continuing."|alang}
	</div>
	{/if}
 
<div class="adesk_install_box">
 
{include file=$content_template}
 

 </div>
   </div>
        </div>
     
	  </div>
	 
 
 
 
    <div class="yui-b" id="sidebar">
        <div class="yui-g" id="sub_submenu">
		<h4>Installation</h4>
		<ul id="installmenu">
 
		<li class="{if !$allgood}nextstep{elseif $step == 1}currentstep{else}previousstep{/if}">{"System Checks"|alang}</li>
		<li class="{if !$allgood}nextstep{elseif $step == 2}currentstep{elseif $step < 2}nextstep{else}previousstep{/if}">{"Database Information"|alang}</li>
		<li class="{if !$allgood}nextstep{elseif $step == 3}currentstep{elseif $step < 3}nextstep{else}previousstep{/if}">{"License Agreement"|alang}</li>
		<li class="{if !$allgood}nextstep{elseif $step == 4}currentstep{elseif $step < 4}nextstep{else}previousstep{/if}">{"Software Settings"|alang}</li>
		<li class="nextstep">{"Finished"|alang}</li>
	</ul>
		
			</div></div>
 
 
 
 
 
 
 
 
 
 
 </div>
<div align="center">
  <div class="theme_container" align="left">
    <div class="theme_footer">
  		{"&copy; %s AwebDesk Softwares."|i18n:$year}
		{"All rights reserved."|alang}
		{if count($languages) > 0}
	<div id="langchangerbox" class="{if $step == 5}adesk_hidden{else}adesk_block{/if}" style="float: right;">
		<form action="install.php" method="post" name="reg" id="langForm">
			<input name="dl_s" type="hidden" value="{$dl_s}" />
			<input name="dl_d" type="hidden" value="{$d_r}" />
			<input name="dl_h" type="hidden" value="{$d_h}" />
			<input name="rd7" type="hidden" value="{$rd7}" />
			<input name="rd8" type="hidden" value="{$rd8}" />
			<input name="rd9" type="hidden" value="{$rd9}" />
			<input name="t" type="hidden" value="{$appid}" />
			<span id="installlangpointer" style="color:#080;padding:2px;">
				<span style="color:#800;padding:2px;">
					{"If you wish to use a different language as default in your install, please change it now"|alang}
				</span>
				&raquo;&raquo;
			</span>
			<select name="lang_ch" size="1" style="font-size:10px;">
				{html_options options=$languages selected=$lang}
			</select>
			<input type="submit" value="{'Change'|alang}"  style="font-size:10px;"/>
		</form>
	</div>
{/if}
 </div>
 
    </div>

 
	
	</div>
    </div>
  </div>
</div>

</body>
<script>
{literal}
$('installlangpointer').fade({duration: 10});
{/literal}
</script>
</html>
