{adesk_js lib="really/simplehistory.js" base=$site.p_link}
{* load javascript calendar *}
{adesk_calendar base=$site.p_link}

<script type="text/javascript">
  {include file="processes.js"}
</script>

<h3 class="m-b">{"Current Processes"|alang}</h3>

{include file="processes.list.htm"}
{include file="processes.form.htm"}
{include file="processes.delete.htm"}
{include file="processes.search.htm"}

<script type="text/javascript">
  adesk_ui_rsh_init(processes_process, true);
</script>
