{if !isset($shareTitle)}{assign var=shareTitle value=''}{/if}
{if !isset($filter)}{assign var=filter value=''}{/if}

{if isset($shareURL)}

	{if !$filter or $filter == 'facebook'}
	<a target="_blank" href="{if isset($shareURL_facebook_external)}{$shareURL_facebook_external}{else}{$shareURL}&ref=facebook{/if}" title="{'Share on Facebook'|plang}" aclinkname="Social: Facebook" target="_blank"><img src="{if isset($site.p_link2)}{$site.p_link2}{else}{$site.p_link}{/if}/awebdesk/media/social-facebook.png" border="0" height="16" width="16" alt="{'Facebook'|alang}" /></a>
	{/if}

	{if !$filter or $filter == 'twitter'}
	<a target="_blank" href="{if isset($shareURL_twitter_external)}{$shareURL_twitter_external}{else}{$shareURL}&ref=twitter{/if}" title="{'Share via Twitter'|plang}" aclinkname="Social: Twitter" target="_blank"><img src="{if isset($site.p_link2)}{$site.p_link2}{else}{$site.p_link}{/if}/awebdesk/media/social-twitter.png" border="0" height="16" width="16" alt="{'Twitter'|alang}" /></a>
	{/if}

	{if !$filter or $filter == 'digg'}
	<a target="_blank" href="{if isset($shareURL_digg_external)}{$shareURL_digg_external}{else}{$shareURL}&ref=digg{/if}" title="{'Share on Digg'|plang}" aclinkname="Social: Digg" target="_blank"><img src="{if isset($site.p_link2)}{$site.p_link2}{else}{$site.p_link}{/if}/awebdesk/media/social-digg.png" border="0" height="16" width="16" alt="{'Digg'|alang}" /></a>
	{/if}

	{if !$filter or $filter == 'delicious'}
	<a target="_blank" href="{if isset($shareURL_delicious_external)}{$shareURL_delicious_external}{else}{$shareURL}&ref=delicious{/if}" title="{'Share on del.icio.us'|plang}" aclinkname="Social: del.icio.us" target="_blank"><img src="{if isset($site.p_link2)}{$site.p_link2}{else}{$site.p_link}{/if}/awebdesk/media/social-delicious.png" border="0" height="16" width="16" alt="del.icio.us" /></a> {* We probably shouldn't allow del.icio.us to be translatable *}
	{/if}

	{if !$filter or $filter == 'greader'}
	<a target="_blank" href="{if isset($shareURL_greader_external)}{$shareURL_greader_external}{else}{$shareURL}&ref=greader{/if}" title="{'Share on buzz'|plang}" aclinkname="Social: buzz" target="_blank"><img src="{if isset($site.p_link2)}{$site.p_link2}{else}{$site.p_link}{/if}/awebdesk/media/social-buzz.png" border="0" height="16" width="16" alt="{'Google Reader'|alang}" /></a>
	{/if}

	{if !$filter or $filter == 'reddit'}
	<a target="_blank" href="{if isset($shareURL_reddit_external)}{$shareURL_reddit_external}{else}{$shareURL}&ref=reddit{/if}" title="{'Share on Reddit'|plang}" aclinkname="Social: Reddit" target="_blank"><img src="{if isset($site.p_link2)}{$site.p_link2}{else}{$site.p_link}{/if}/awebdesk/media/social-reddit.png" border="0" height="16" width="16" alt="{'Reddit'|alang}" /></a>
	{/if}

	{if !$filter or $filter == 'stumbleupon'}
	<a target="_blank" href="{if isset($shareURL_stumbleupon_external)}{$shareURL_stumbleupon_external}{else}{$shareURL}&referral=stumbleupon{/if}" title="{'Share on StumbleUpon'|plang}" aclinkname="Social: StumbleUpon" target="_blank"><img src="{if isset($site.p_link2)}{$site.p_link2}{else}{$site.p_link}{/if}/awebdesk/media/social-stumble.png" border="0" height="16" width="16" alt="{'StumbleUpon'|alang}" /></a>
	{/if}

{/if}
