<div id="syncListPanel" class="adesk_block">


<form action="desk.php?action=sync&mode=deletes" method="POST">
<div class=" table-responsive"><table width="100%"  border="0" cellspacing="0" cellpadding="0" class="table table-striped m-b-none dataTable">
  <thead>
  <tr class="adesk_table_header">
    <td align="center" width="20">
      <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onchange="adesk_form_check_all(this);" />
    </td>
    <td width="140">{"Options"|alang}</a></td>
    <td align="center"><a href="#" id="sorter01" onclick="return sync_sort('01');" class="{if $syncsort == '01'}adesk_sort_asc{elseif $syncsort == '01D'}adesk_sort_desc{else}adesk_sort_other{/if}">{"Name"|alang}</a></td>
    <td align="center"><a href="#" id="sorter02" onclick="return sync_sort('02');" class="{if $syncsort == '02'}adesk_sort_asc{elseif $syncsort == '02D'}adesk_sort_desc{else}adesk_sort_other{/if}">{"Database"|alang}</a></td>
    <td align="center" width="100"><a href="#" id="sorter03" onclick="return sync_sort('03');" class="{if $syncsort == '03'}adesk_sort_asc{elseif $syncsort == '03D'}adesk_sort_desc{else}adesk_sort_other{/if}">{"Last Ran"|alang}</a></td>
  </tr>
  </thead>
  <tfoot>
    <td colspan="5" align="left">
      <div id="loadingBar" class="adesk_block" style="background:url(../awebdesk/media/loader.gif); background-repeat:no-repeat; padding:5px; padding-left:20px; padding-top:2px; color:#999999; font-size:10px; margin:5px;">
        {"Loading. Please wait..."|alang}
      </div>
    </td>
  </tfoot>
  <tbody id="syncsTable">
  </tbody>
  <tr id="syncsNoResults" class="{*if $syncsCnt == 0}adesk_table_row{else*}adesk_hidden{*/if*}">
    <td colspan="5" align="center">
      <div>{"No syncs found."|alang}</div>
      <div>
        <a href="desk.php?action=sync#add-0-1">{"Do you wish to add one?"|alang}</a>
      </div>
    </td>
  </tr>
</table>
</div>


<div class="bottom_nav_options">
{if !$demoMode}

    <input type="button" value="{"Add Sync"|alang}" style="float: right;" onclick="adesk_ui_anchor_set('add-0-1');" />
	<input type="button" value="{"Delete Selected"|alang}" onclick="sync_delete_multiple();" />

{else}
	<span class="demoDisabled2">{"Disabled in demo"|alang}</span>
{/if}

</div>
</form>

</div>
