
 	</header>
  <!-- / header -->
  
   
  <!-- nav -->
  <nav id="nav" class="nav-primary hidden-xs nav-vertical bg-light">
    <ul class="nav" data-spy="affix" data-offset-top="50">
 {if !isset($usemainmenu) or $usemainmenu == 1}
	{include file="menu.htm"}
{/if}
 
                     {if $admin.pg_form_add || $admin.pg_form_edit || $admin.pg_form_delete}
		{if $style_integration != ''}
	 <li> <a href="desk.php?action=form#list-01-0-0"><i class="fa fa-edit fa-lg"></i><span>{"Forms"|alang}</span></a> </li>
		{else}
			 <li> <a href="desk.php?action=form#list-01-0-0"><i class="fa fa-edit fa-lg"></i><span>{"Forms"|alang}</span></a> </li>
		{/if}
	{/if}

        
      <li class="dropdown-submenu">
        <a href="#"><i class="fa fa-gears fa-lg"></i><span>{"Settings"|alang}</span></a>
        <ul class="dropdown-menu">
         
	 {if adesk_admin_ismaingroup()}   <li> <a href="desk.php?action=design#list-01-0-0"><i class="fa fa-edit fa-sm"></i>&nbsp;{"Branding"|alang}</a></li>
 	{/if}
	{if $admin.pg_user_add || $admin.pg_user_edit || $admin.pg_user_delete}
	  <li><a href="desk.php?action=user#list-01-0-0"><i class="fa fa-users fa-sm"></i>&nbsp;{"Users"|alang}</a> </li>
{/if}
{if adesk_admin_ismaingroup() and !$__ishosted}
 
 <li> <a href="desk.php?action=cron#list-01-0-0"><i class="fa fa-cog fa-sm"></i>&nbsp; {"Cron Settings"|alang}</a> </li>
 
{/if}
   {if adesk_admin_ismain()}
	    
	  <li>  <a href="desk.php?action=settings#settings_mailsending" title="{"Settings"|alang}"><i class="fa fa-cloud-upload fa-sm"></i>&nbsp;{"SMTP Connections"|alang}</a></li>
	   {/if}
	  {if adesk_admin_ismain()}
	  

					 <li><a href="desk.php?action=settings" title="{"Settings"|alang}"><i class="fa fa-gears fa-sm"></i>&nbsp;{"Global Settings"|alang}</a></li>
  <li><a href="desk.php?action=account" title="{"Settings"|alang}"><i class="fa fa-user fa-sm"></i> &nbsp;{"Account Settings"|alang}</a></li>
    {else}
					 <li><a href="desk.php?action=account" title="{"Settings"|alang}"><i class="fa fa-user fa-sm"></i> &nbsp;{"Account Settings"|alang}</a></li>
    {/if}
	
        </ul>
      </li>
       <li ><a  href=
      "index.php?action=logout"><i class="fa fa-power-off fa-lg"></i><span>{"Logout"|alang}</span></a></li>
      
    </ul>
  
  <!-- / nav -->
  