<tr>
  <td>{"Show on subscriber listing page?"|alang}</td>
  <td>
    <input name="show_in_list" type="checkbox" value="1" {if isset($field.show_in_list) and $field.show_in_list}checked{/if} />
  </td>
</tr>
<tr>
  <td>{"Personalization Tag"|alang}</td>
  <td>
    %<input name="perstag" type="text" size="16" value="{if isset($field.perstag) and $field.perstag}{$field.perstag}{/if}" />%
    {"This value will be used as a placeholder for this personalization field. If you enter 'MYTAG', then your content should have a placeholder %MYTAG% that would be replaced with a field value."|help}
  </td>
</tr>
