<div id="form" class="adesk_hidden">
  <form method="POST" onsubmit="service_form_save(service_form_id); return false">
    <input type="hidden" name="id" id="form_id" />
    <div class=" table-responsive"><table class="table table-striped m-b-none dataTable"  border="0" cellspacing="0" cellpadding="5">
		  <tr>
				<td>
				  {"Name"|alang}:
				</td>
				<td>
					<span id="nameField"></span>
				</td>
			</tr>
		  <tr>
				<td>
				  {"Description"|alang}:
				</td>
				<td>
					<span id="descriptionField"></span>
				</td>
			</tr>
			<tr>
				<td valign="top">
					{"Settings"|alang}:
				</td>
				<td>
					<div id="service_twitter">
						<div class="adesk_help_inline">
						  {"By default, Twitter updates will have a source from @awebdesk. To include your own source, "|alang}
						  <a href="http://twitter.com/apps">{"register an application on Twitter"|alang}</a>
						  {"and include the consumer keys here. Make sure your Twitter application meets the requirements that we outline (provide a value for the Callback URL). You will not be able to save these settings unless it does. NOTE: You may have to update your list settings if these values are changed."|alang}
						</div>
						{"Consumer key"|alang}:
						<br />
						<input type="text" name="service_twitter_key" id="service_twitter_key" size="40" />
						<br />
						<br />
						{"Consumer secret"|alang}:
						<br />
						<input type="text" name="service_twitter_secret" id="service_twitter_secret" size="40" />
						 
					</div>
					<div id="service_facebook">
						<div class="adesk_help_inline">
						  {"In order to send auto-updates to Facebook, you must first include your own application keys that correspond to your domain."|alang}
						  <a href="http://developers.facebook.com/setup/">{"Register an application on Facebook"|alang}</a>,
						  {"then include your application keys here. NOTE: You will have to update your list settings if these values are changed."|alang}
						</div>
						{"Application ID"|alang}:
						<br />
						<input type="text" name="service_facebook_id" id="service_facebook_id" size="40" />
						<br />
						<br />
						{"Application secret"|alang}:
						<br />
						<input type="text" name="service_facebook_secret" id="service_facebook_secret" size="40" />
					</div>
					<div id="service_unbounce">
						{"Choose the List that your Unbounce WebHook will add subscribers to:"|alang}
						<br />
						<br />
						<div id="parentsList_div" class="adesk_checkboxlist">
							{foreach from=$listsList item=p name=counter}
								<div>
									<label>
										<input type="checkbox" id="p_{$p.id}" class="parentsList" name="p[]" value="{$p.id}" onclick="service_form_reset_lists({$p.id}); service_form_gen_url({$p.id});" {if count($listsList) == 1 || $smarty.foreach.counter.iteration == 1}checked="checked"{/if} />
										{$p.name|truncate:50}
									</label>
								</div>
							{/foreach}
						</div>
						<br />
						<br />
						<b>{"Unbounce WebHook URL"|alang}</b>
						<br />
						{"Paste this URL into your Unbounce WebHook (POST to URL) field. New leads will automatically be added to your chosen list."|alang}
						<br />
						<br />
						<textarea id="service_form_url" onclick="this.select();" style="height: 150px; width: 500px;"></textarea>
					</div>
				</td>
			</tr>
    </table></div>

    <br />
    <div>
      <input type="button" id="form_submit" class="adesk_button_submit" value="{"Submit"|alang}" onclick="service_form_save(service_form_id)" />
      <input type="button" id="form_back" class="adesk_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
    </div>
    <input type="submit" style="display:none"/>
  </form>
</div>
