<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
	
	<!-- Title --> 
	<title>Thank you</title>
	
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="description" content="glchub.com" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="glchub.com">
		
	<!-- favicon --> 
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon.png  ">
	
	<!-- Mobile Specific Meta --> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	
	
	<!-- Fonts  -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
	<!-- CSS  -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css"/>
	<link rel="stylesheet" type="text/css" href="style.css" media="all" />
	
	<!--  Mordanizr CSS / Prefix CSS  -->
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>
	<script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        
    </head>
	
    <body>
	
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

    <!-- Site contents start here-->

    <header id="header">
    	<div class="container">
    		<div class="row">
    			<div class="text-center">
    				<h1>Thanks!</h1>
    			</div>
    		</div>
    	</div>
    </header>

    <section id="about">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12 text-center">
    				<div class="about">
    					
    					<h2>CHECK YOUR EMAIL FOR EVERYTHING WE PROMISED. 
						<br>MAKE SURE TO CHECK YOUR SPAM OR JUNK MAIL FOLDER, AS IT MAY HAVE ENDED UP THERE.  </h2>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section id="discretion">
    	<div class="container">
    		<div class="row">
			  	<div class="col-sm-12 text-center">
    				<div class="about">
    					<h3>While you wait for your materials to arrive via email, check out our Free Video Training Course on: </h3>
    				</div>
    			</div>
    			<div class="col-sm-12 text-center">
    				<div class="discretion">
						<h1>Creating website traffic without a budget!</h1>
    					<p>This Video Training Course is FREE along with many others. 
						<br> There&#39;s no credit card needed to sign up. Enjoy!</p>
    				</div>
					<div class="btn btn-primary btn-lg col-sm-6 col-sm-offset-3">
    						<a href="/choose-your-membership">Sign Up For Free</a>	
    				</div>
    			</div>
    		</div>
    	</div>
    </section>



    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="foooter">
                        <p> &copy; 2016, all rights reserved.  </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
		
	<!-- Site contents End here-->
 
	<!--JQuery Library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		
	<!--JQuery -->
	<script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    </body>
</html>
