<script type="text/javascript">
<!--
{include file="account.js"}
-->
</script>
        <div class="row" style="margin-top:20px;"><div class="col-lg-6">  
      
          
          <section class="panel">
            <header class="panel-heading">
              <ul class="nav nav-pills pull-right">
                <li>
                  <a href="#" class="panel-toggle text-muted"><i 

class="fa fa-caret-down fa-lg text-active"></i><i class="fa fa-

caret-up fa-lg text"></i></a>
                </li>
              </ul>
             <h4>{"Update Account"|plang}</h4>
            </header>
            <section   class="panel-body m-b">

 

{if $account_message}
	{$account_message}
{else}

	{*if $site.general_public*}

		<form method="post" action="{$_}/surround.php" onsubmit="return account_validate();">

			<input type="hidden" name="funcml" value="account" />

			<p>
				<label>
					{"Your e-mail address"|plang}
					<input type="text" name="email" id="emailField" size="30" />
				</label>
			</p>

			{if $site.gd}
			<p>
				{"Please also verify yourself by typing the text in the following image into the box next to it."|plang}
				<br/>
				<img src="{$_}/awebdesk/scripts/imgrand.php?rand={$rand}" align="absmiddle" />
				<input type="text" name="imgverify" id="imgverify" />
			</p>
			{/if}

			<p>
				<input type="submit" value="{'Modify Account'|plang}" class="btn btn-info" />
			</p>

		</form>
</section></section></div></div>
	{*/if*}

{/if}
