<script type="text/javascript">
<!--
{include file="message.js"}
-->
</script>


      <div class="row" style="margin-top:20px;">
      
      
        <div class="col-lg-12">  
      
          
          <section class="panel">
            <header class="panel-heading">
              <ul class="nav nav-pills pull-right">
                <li>
                  <a href="#" class="panel-toggle text-muted"><i class="fa fa-caret-down fa-lg text-active"></i><i class="fa fa-caret-up fa-lg text"></i></a>
                </li>
              </ul>
             <h4>{if !$subscriber}
 {"Archive"|plang} 
{/if}</h4>
            </header>
            <section   class="panel-body   m-b">
 
{if $campaignid}
<div class="archive_title">
	<div style="float:right;">
		{if $public && $campaign.public}{include file=social.share.inc.htm' shareURL=$webcopy shareTitle=$message.subject}{/if}
	</div>
	{$message.subject}
	<span style="font-weight:normal; color:#A7A7A7; margin-left:15px;">{"From"|plang}: {$message.fromname} (<a href="mailto:{$message.fromemail}" style="color:#A7A7A7;">{$message.fromemail}</a>)</span>
	<span style="font-weight:normal; color:#D0D0D0; margin-left:15px;">{"Sent"|plang}: {$campaign.sdate}</span>
</div>

{if $messagebody}

<div style="padding-left: 10px">
  {$messagebody}
</div>

{else}

{if $message.format != 'text'}

<iframe src="{$_}/awebview.php?c={$campaignid}&m={$messageid}&previewtype=html{if $subscriber}&s={$hash}{/if}" height="600" width="100%" style="border: 0px;" border="0" frameborder="0"></iframe>

{elseif $message.format != 'html'}

<iframe src="{$_}/awebview.php?c={$campaignid}&m={$messageid}&previewtype=text{if $subscriber}&s={$hash}{/if}" height="600" width="100%" style="border: 0px;" border="0" frameborder="0"></iframe>
{/if}

{/if}

{else}

	{if isset($campaign) and $campaign and !$public}

		<p>{"Private campaign."|plang}</p>

	{else}

	{if $messageid == -1}
		<p>{"This feature is not supported when testing messages."|plang}</p>
	{else}
		<p>{"This feature is not supported when testing campaigns."|plang}</p>
	{/if}

	{/if}

{/if}
</section></section></div></div>