<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{if $ieCompatFix}
<meta http-equiv="X-UA-Compatible" content="IE=8" />
{/if}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="{"en-us"|i18n}" />
{adesk_js base=$_ lib="scriptaculous/prototype.js"}
{adesk_js base=$_ lib="scriptaculous/scriptaculous.js"}
{adesk_js base=$_ acglobal="ajax,dom,b64,str,array,liveedit,utf,ui,paginator,star,loader,tooltip,date,custom_fields,editor,form,class.Table,ihook"}
<script language="JavaScript" type="text/javascript" src="{$_}/manage/js/jsv6.js"></script>
{adesk_js base=$_ src="awebdeskjs.php"}

<link href="{$_}/awebdesk/css/default.css" rel="stylesheet" type="text/css" />
<link href="{$_}/css/default.css" rel="stylesheet" type="text/css" />

{literal}
<style>
.archive_title{
	border-bottom:1px solid #666666;
	background:#F9F9F9;
	padding:5px;
	padding-left:10px;
	font-weight:bold;
	margin:0px;
	margin-bottom:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;

}
</style>
{/literal}

<title>{$message.subject}</title>
</head>

<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" style="margin:0px; padding:0px;">

<div id="fb-root"></div>
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({literal}{{/literal}
	appId: '{$site.facebook_app_id}',
	status: true,
	cookie: true,
	xfbml: true
  {literal}}{/literal});
</script>

<div class="archive_title">
	<div style="float:right;">
		{include file=social.share.inc.htm' shareURL=$webcopy shareTitle=$message.subject}
	</div>
	{$message.subject}
	<span style="font-weight:normal; color:#A7A7A7; margin-left:15px;">{"From"|plang}: {$message.fromname} (<a href="mailto:{$message.fromemail}" style="color:#A7A7A7;">{$message.fromemail}</a>)</span>
	<span style="font-weight:normal; color:#D0D0D0; margin-left:15px;">{"Sent"|plang}: {$campaign.sdate}</span>
</div>

{if $messagebody}

<div>
  {$messagebody}
</div>

{elseif $message.format != 'text'}

<iframe src="{$_}/awebview.php?fromsocial=1&c={$campaign.id}&m={$message.id}&previewtype=html{if $subscriber}&s={$hash}{/if}" height="600" width="100%" style="border: 0px;" border="0" frameborder="0"></iframe>

{elseif $message.format != 'html'}

<iframe src="{$_}/awebview.php?fromsocial=1&c={$campaign.id}&m={$message.id}&previewtype=text{if $subscriber}&s={$hash}{/if}" height="600" width="100%" style="border: 0px;" border="0" frameborder="0"></iframe>
{/if}

{if isset($smarty.get.facebook) and $smarty.get.facebook == 'like'}
<div class="adesk_modal" id="facebookmodal">
  <div class="adesk_modal_inner">
	<h1>Click the Like button below!</h1>

	<fb:like href="{$bitly_facebook}" show_faces="true" width="450" send="true"></fb:like>
	{*<iframe src="http://www.facebook.com/plugins/like.php?href={$bitly_facebook}&layout=standard&show_faces=true&width=400&action=like&font=arial&colorscheme=light&send=true&height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:80px;" allowTransparency="true"></iframe>*}

	<div>
	  <br/>
	  <input type="button" value="{'Close'|alang}" onclick="$('facebookmodal').hide()">
	</div>
  </div>
</div>
{/if}

{if $site.brand_links}
<div align="center" style="margin-top:20px; border-top:1px solid #F1ECE2; padding-top:5px;">
  <div style="color:#999999; padding-left:10px; text-align:left; font-size:11px; font-family:Arial, Helvetica, sans-serif;">
	<a href="http://awebdesk.com/emailmarketing-software/" style="text-decoration:none; color:#999999;" title="email marketing">Email marketing software </a> {"by AwebDesk"|i18n}
  </div>
</div>
{/if}

</body>
</html>
