{if !isset($uselistfilter) or $uselistfilter == 1}
{if !isset($preset)}
{assign var=preset value=1}
{/if}
<form id="listfilter{rand assign='randvar'}" action="desk.php?action={$action}" method="GET" onsubmit="list_filter({$randvar}); return false" style="margin:0px;">
  <select name="listid" id="listFilterManager{$randvar}" size="1" onchange="list_filter({$randvar});" style="border:0px; font-size:11px; background:#EEF3F9;">
    <option value="0"{if $preset and $nl == 0} selected="selected"{/if}>{"All Lists"|alang}</option>
{foreach from=$listsList item=p}
    <option value="{$p.id}"{if $preset and $nl == $p.id} selected="selected"{/if}>{$p.name|truncate:50}</option>
{/foreach}
  </select>
</form>
<script>listfilters[{$randvar}] = {jsvar var=$nl};</script>
{/if}
