    <div style="padding-top: 10px; margin-top: 10px; border-top: 1px solid #ccc;">
      <div class="h2_wrap">
        <h2 onclick="adesk_dom_toggle_class('campaignfaqpanel', 'h2_content_invis', 'h2_content');">{"Frequently Asked Questions"|alang}</h5><div class="line"></div>
        <div id="campaignfaqpanel" class="h2_content_invis">

          <div class="question">{"Question?"|alang}</div>
          <div class="answer">{"Answer."|alang}</div>

          <div class="question">{"Question?"|alang}</div>
          <div class="answer">{"Answer."|alang}</div>

        </div>
      </div>
    </div>
