<div id="delete" class="adesk_modal_delete" align="center" style="display: none">
  <div class="adesk_modal_inner">
    <h3 class="m-b">{"Delete Email Confirmation Set(s)"|alang}</h3>
    <span id="delete_message"></span>
    <br />
    <ul id="delete_list"></ul>
    <br />
    <div>
      <input type="button" class="adesk_button_ok" value="{"OK"|alang}" onclick="optinoptout_delete(optinoptout_delete_id)" />
      <input type="button" class="adesk_button_cancel" value="{"Cancel"|alang}" onclick="adesk_dom_toggle_display('delete', 'block'); adesk_ui_anchor_set(optinoptout_list_anchor())" />
    </div>
  </div>
</div>
