

<div class="h2_wrap">
<h2 onclick="adesk_dom_toggle_class('accountBio', 'h2_content', 'h2_content_invis');">{"Stats"|alang}</h2>
<div id="accountBio" class="h2_content_invis">
  <table border="0" cellspacing="0" cellpadding="4">
	{if $admin.limit_user}
		<tr>
		  <td>{"Users Limit"|alang}</td>
		  <td>{$admin.limit_user}</td>
		</tr>
	{/if}
	{if $admin.limit_list}
		<tr>
		  <td>{"Lists Limit"|alang}</td>
		  <td>{$admin.limit_list}</td>
		</tr>
	{/if}
	{if $admin.limit_subscriber > 0}
		<tr>
		  <td>{"Subscribers Limit"|alang}</td>
		  <td>{$admin.limit_subscriber}</td>
		</tr>
	{/if}
	{if $admin.limit_mail > 0}
		<tr>
		  <td>{"Mail Limit"|alang}</td>
		  <td>
			{if $admin.limit_mail_type == 'month1st'}
				{"%s per calendar month (counting from the 1st)"|alang:$admin.limit_mail}
			{elseif $admin.limit_mail_type == 'monthcdate'}
				{"%s per calendar month (counting from the user's creation date)"|alang:$admin.limit_mail}
			{else}
				{$admin.limit_mail}
				{if $admin.limit_mail_type != 'ever'}
					{"per"|alang}
					{$admin.limit_mail_type|alang}
				{/if}
			{/if}
		  </td>
		</tr>
	{/if}
{if $admin.limit_mail and $admin.limit_mail_type != 'ever'}
    <tr>
      <td>{"Messages Sent In This Cycle"|alang}:</td>
      <td>{$admin.emails_sent}</td>
    </tr>
{/if}
    <tr>
      <td>{"Total Messages Sent"|alang}:</td>
      <td>{$admin.emails_sent_total_formatted}</td>
    </tr>
	{if $admin.limit_attachment != -1}
		<tr>
		  <td>{"Attachments Limit"|alang}</td>
		  <td>{$admin.limit_attachment} {"per message"|alang}</td>
		</tr>
	{/if}
	{if $admin.limit_campaign}
		<tr>
		  <td>{"Campaign Limit"|alang}</td>
		  <td>
			{if $admin.limit_campaign_type == 'month1st'}
				{"%s per calendar month (counting from the 1st)"|alang:$admin.limit_campaign}
			{elseif $admin.limit_campaign_type == 'monthcdate'}
				{"%s per calendar month (counting from the user's creation date)"|alang:$admin.limit_campaign}
			{else}
				{$admin.limit_campaign}
				{if $admin.limit_campaign_type != 'ever'}
					{"per"|alang}
					{$admin.limit_campaign_type|alang}
				{/if}
			{/if}
		  </td>
		</tr>
	{/if}
{if $admin.limit_campaign and $admin.limit_campaign_type != 'ever'}
    <tr>
      <td>{"Campaigns Sent In This Cycle"|alang}:</td>
      <td>{$admin.campaigns_sent}</td>
    </tr>
{/if}
    <tr>
      <td>{"Total Campaigns Sent"|alang}:</td>
      <td>{$admin.campaigns_sent_total}</td>
    </tr>
  </table>
</div>
</div>

