<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{if $ieCompatFix}
<meta http-equiv="X-UA-Compatible" content="IE=8" />
{/if}
<meta http-equiv="Content-Type" content="text/html; charset={"utf-8"|i18n}" />
<meta http-equiv="Content-Language" content="{"en-us"|i18n}" />
{* Don't escape site_name here, since the title element is CDATA *}
<title>{$site.site_name}</title>
<meta name="robots" content="noindex,nofollow">
{adesk_js lib="scriptaculous/prototype.js"}
{adesk_js lib="scriptaculous/scriptaculous.js"}
<script language="JavaScript" type="text/javascript" src="js/jsmodules.js"></script><script type="text/javascript">
  {include file="strings.js"}
</script>
<script language="JavaScript" type="text/javascript" src="js/jsv6.js"></script>
<link href="css/default.css" rel="stylesheet" type="text/css" />
{adesk_js base="" src="awebdeskjs.php"}
<script>
<!--

{* global js vars *}
{jsvar name=datetimeformat var=$site.datetimeformat}
{jsvar name=dateformat var=$site.dateformat}
{jsvar name=timeformat var=$site.timeformat}

{jsvar name=adesk_action var=$action}
{jsvar name=plink var=$plink}

var apipath = "{$plink}/manage/awebdeskapi.php";

-->
</script>
</head>
<body bgcolor="#EDECE7" style="{'direction: ltr'|i18n}">
<div id="adesk_loading_bar" class="adesk_hidden"><span id="adesk_loading_text">{"Loading..."|alang}</span></div>
<div id="adesk_result_bar" class="adesk_hidden"><span id="adesk_result_text">{"Changes Saved."|alang}</span></div>
<div id="adesk_error_bar" class="adesk_hidden"><span id="adesk_error_text">{"Error Occurred!"|alang}</span></div>


<div align="center">

	<div class="adesk_login_box_container">


 

	<div class="adesk_login_box_border">
	<div class="adesk_login_box">
		 <img src="{if $site.site_logo}{$site.site_logo}{else}../manage/images/logo.gif{/if}" border="0" alt="" /> 
	{if isset($browser_alert)}
		{include file=index.alert.htm}
	{else}
	{include file=$content_template}
	{/if}
	</div>
	</div>


	<div class="adesk_copyright_text" style="margin-top:10px;">
    	{if $content_template == 'index.login.htm'}<span style="color:#999; font-size:11px;"><a href="index.php?action=account_lookup" style="color:#999;">{"Forgot your login information?"|alang}</a></span>{/if}
    	{if $content_template == 'index.lookup.htm' OR $content_template == 'index.message.htm'}<span style="color:#999; font-size:11px;"><a href="index.php" style="color:#999;">{"Return to the login page"|alang}</a></span>{/if}
    </div>
</div>

</body>
</html>
