<div id="form" class="adesk_hidden">
  <form method="POST" onsubmit="template_form_save(template_form_id); return false">
	<input type="hidden" name="id" id="form_id" />
	<table border="0" cellspacing="0" cellpadding="5">
	  <tr>
		<td>
		  <label for="nameField">{"Template Name"|alang}:</label>
		</td>
		<td>
		  <input type="text" name="name" id="nameField" value="" style="width: 300px;" />
		  {"Brief Description for you to recognize. Does NOT affect your actual template."|help}
		</td>
	  </tr>
	  <tr>
		<td>
		  <label for="subjectField">{"Message Subject"|alang}:</label>
		</td>
		<td>
		  <input type="text" name="subject" id="subjectField" style="width: 300px;" />
		  {"The default subject any message begins with when you select this template."|help}
		</td>
	  </tr>
	  {if adesk_admin_ismaingroup()}
	  <tr>
		<td>{"Visibility"|alang}:</td>
		<td>
		  <input type="radio" name="template_scope" id="template_scope_all" value="all" onclick="template_form_lists_toggle_scope(this.value);" />
		  <label for="template_scope_all">{"Available for all lists and users"|alang}</label>
		  <br />
		  <input type="radio" name="template_scope" id="template_scope_specific" value="specific" onclick="template_form_lists_toggle_scope(this.value);" />
		  <label for="template_scope_specific">{"Available for specific lists"|alang}</label>
		</td>
	  </tr>
	  {else}
	  <tr>
		<td></td>
		<td>
		  <div style="display: none;">
			<input type="radio" name="template_scope" id="template_scope_all" value="all" />
			<input type="radio" name="template_scope" id="template_scope_specific" value="specific" />
		  </div>
		</td>
	  </tr>
	  {/if}
	  <tbody id="template_form_lists">
		<tr valign="top">
		  <td>{"Used in Lists:"|alang}</td>
		  <td>

			<div id="parentsList_div" class="adesk_checkboxlist">
			  {foreach from=$listsList item=p}
			  <div>
				<label>
				  <input type="checkbox" id="p_{$p.id}" class="parentsList" name="p[]" value="{$p.id}" {if count($listsList) == 1}checked="checked"{/if} />
				  {$p.name|truncate:50}
				</label>
			  </div>
			  {/foreach}
			</div>
			<div>
			  {"Select:"|alang}
			  <a href="#" onclick="parents_box_select(1, 0); return false;">{"All"|alang}</a>
			  &middot;
			  <a href="#" onclick="parents_box_select(0, 0); return false;">{"None"|alang}</a>
			</div>
			
			{* when we removed the format field, there were still some JS global functions referencing the below elements *}
			<input type="hidden" id="templateformatField" />
			<input type="hidden" id="templatetext" />
			<input type="hidden" id="templatetextField" />

		  </td>
		</tr>
	  </tbody>
	</table>

	<div id="templatehtml" class="adesk_hidden" style="margin-top:15px;">
	  <div style="border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC; border-top:1px solid #CCCCCC; margin:0px; padding:2px; padding-bottom:0px; background:#F0F0EE;">
		<div style="float:right; margin-top:5px; margin-bottom:3px;">

		  <div align="right" style="vertical-align: middle;">
			{* if $templatesCnt}
			<a href="#" onclick="form_editor_template_open('html', 'templateEditor');return false;" style="padding:2px; background:url(images/editor_template.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Template'|alang}</a>
			{/if *}
			<a href="#" onclick="form_editor_deskrss_open('html', 'templateEditor');return false;" style="padding:2px; background:url(images/editor_deskrss.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert RSS'|alang}</a>
			<a href="#" onclick="form_editor_conditional_open('html', 'templateEditor');return false;" style="padding:2px; background:url(images/editor_conditional.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Conditional Content'|alang}</a>
			<a href="#" onclick="form_editor_personalize_open('html', 'templateEditor'); return false;" style=" margin-right:8px; padding:2px; background:url(images/editor_personalization.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; font-weight:bold; color:#006600;">{'Personalize Message'|alang}</a>
		  </div>
		</div>

		<div>
		  <ul class="navlist" style="padding-left:4px; border-bottom:0px;">

			<li id="templateEditorLinkOn" class="{if $admin.htmleditor}currenttab{else}othertab{/if}">
			<a href="#" onclick="return toggleEditor('template', true, adesk_editor_init_word_object);" style="border-bottom:0px;"><span>{"Visual Editor"|alang}</span></a>
			</li>
			<li id="templateEditorLinkOff" class="{if !$admin.htmleditor}currenttab{else}othertab{/if}">
			<a href="#" onclick="return toggleEditor('template', false, adesk_editor_init_word_object);" style="border-bottom:0px;"><span>{"Code Editor"|alang}</span></a>
			</li>

		  </ul>
		</div>
		<div id="templateEditorLinkDefault" class="adesk_hidden" style="padding:2px; padding-left:4px; font-size:10px; background:none; border-top:1px solid #CCCCCC; background:#FFFFD5; ">
		  <a href="#" onclick="return setDefaultEditor('template');" style="color:#666666;">{"Set as default editor mode"|alang}</a>
		</div>
	  </div>
	  <textarea name="html" id="templateEditor" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px; border:1px solid #CCCCCC; margin:0px;"></textarea>
	  {if $admin.htmleditor}<script>toggleEditor('template', true, adesk_editor_init_word_object);</script>{/if}
	</div>

	<h3 style="background:#D3E2F1; padding:5px; padding-left:12px; font-size:14px;">{"Template Preview"|alang}</h3>

	<div id="template_preview_text1">
	  {"You can (optionally) add a template preview. Your preview must be a GIF, JPG, or PNG image file. The size of your preview should be at least 200px wide. 200px width by 250px height is suggested."|alang}
	</div>

	<div id="template_preview_text2">
	  {"Current template preview:"|alang}
	</div>

	<div id="template_preview_upload_div" style="margin-top: 15px;">
	  {adesk_upload id='template_preview' name='preview' action='template_preview' limit=1}
	</div>

	<div id="template_preview_image_div" style="margin: 15px 0;">
	  <img src="" id="template_preview_image" align="top" width="200" height="250" />
	</div>

	<input type="hidden" name="template_preview_cache_filename" id="template_preview_cache_filename" />
	<input type="hidden" name="template_preview_cache_filename_mimetype" id="template_preview_cache_filename_mimetype" />

	<div id="template_preview_upload_extra">
	  <a href="javascript: template_preview_upload_reset();">{"Upload a different file"|alang}</a>
	</div>

	<br />
	<div>
	  <input type="button" id="form_submit" class="adesk_button_submit" value="{"Submit"|alang}" onclick="template_form_save(template_form_id)" />
	  <input type="button" id="form_back" class="adesk_button_back" value="{"Back"|alang}" onclick="window.history.go(-2)" />
	</div>
	<input type="submit" style="display:none"/>
  </form>
</div>
