<div id="bounce" class="adesk_block">
	<div id="bouncechoose" class="adesk_block">
		<div class="h2_wrap_static">
			<h5>{"Choose a Bounce Email Address:"|alang}</h5><div class="line"></div>
			<div class="h2_content">
				<select id="bounceidField" name="bounceid[]" size="5" multiple>
				{foreach from=$bouncesList item=b}
				  <option value="{$b.id}">{if $b.type == 'none'}{"No bounce Management"|alang}{else}{$b.email}{/if}</option>
				{/foreach}
				</select>
				<div>
				  {"Select:"|alang}
				  <a href="#" onclick="return adesk_form_select_multiple_all($('bounceidField'));">{"All"|alang}</a>
				  &middot;
				  <a href="#" onclick="return adesk_form_select_multiple_none($('bounceidField'));">{"None"|alang}</a>
				  {"Notice: Hold CTRL to select multiple lists."|help}
				</div>
			</div>
		</div>
	</div>
</div>
