{adesk_js lib="really/simplehistory.js"}
<script type="text/javascript">
  {include file="list.js"}
</script>

{include file="list.list.htm"}
{include file="list.form.htm"}
{include file="list.delete.htm"}
{include file="list.copy.htm"}
{include file="list.search.htm"}
{include file="editor.personalize.inc.htm"}
{include file="editor.conditional.inc.htm"}
{include file="editor.template.inc.htm"}

<script type="text/javascript">
  adesk_ui_rsh_init(list_process, true);
</script>
