 {if $admin.pg_list_add}
  <p><div class="text-center clearfix"><a href="desk.php?action=list#form-0" class="btn btn-info"><i class="fa fa-plus-circle  fa-sm"></i> {"Add New List"|alang}</a></div></p>  
   
{/if}
{if $admin.pg_list_add || $admin.pg_list_edit || $admin.pg_list_delete}
 <p><div class="text-center clearfix"><a href="desk.php?action=list" class="btn btn-info"><i class="fa fa-list-alt fa-sm"></i> {"Manage Lists"|alang}</a></div></p>
  
 {/if}
 

 
{if $admin.pg_subscriber_fields || $admin.pg_subscriber_filters || $admin.pg_subscriber_actions || $admin.pg_list_emailaccount}
 
 <header class="panel-heading bg bg-inverse">
           {"List Settings"|alang}
            </header>
 <div class="list-group list-normal m-b-none">
		{if $admin.pg_subscriber_fields} <a href="desk.php?action=list_field#list-01-0-0" class="list-group-item first"  > <i class="fa fa-columns fa-sm"></i> {"Subscriber Fields"|alang}</a>{/if}
		{if $admin.pg_subscriber_filters}  <a href="desk.php?action=filter#list-01-0-0" class="list-group-item"> <i class="fa fa-th fa-sm"></i> {"List Segments"|alang}</a> {/if}  
		{if $admin.pg_subscriber_actions}  <a href="desk.php?action=subscriber_action#list-01-0-0" class="list-group-item"> <i class="fa fa-bolt fa-sm"></i> {"Subscriber Actions"|alang}</a> {/if}
		{if $admin.pg_list_emailaccount}
		{if !$__ishosted or adesk_admin_ismaingroup()}  <a href="desk.php?action=emailaccount#list-01-0-0" class="list-group-item"> <i class="fa fa-envelope-o fa-sm"></i> {"Subscriptions by Email"|alang}</a> {/if}
		{/if}
 </div> 
{/if}

 
{if $admin.pg_list_opt || $admin.pg_list_headers || $admin.pg_list_bounce }
  <header class="panel-heading bg bg-inverse">
        {"Other List Settings"|alang}
            </header>
 
 <div class="list-group list-normal m-b-none">
		{if $admin.pg_list_opt}  <a href="desk.php?action=optinoptout#list-01-0-0" class="list-group-item"> <i class="fa fa-file-text  fa-sm"></i> {"Email Confirmation Sets"|alang}</a> {/if}
		{if $admin.pg_list_headers}  <a href="desk.php?action=header#list-01-0-0" class="list-group-item"> <i class="fa fa-qrcode fa-sm"></i> {"Custom Email Headers"|alang}</a> {/if}
		{if $admin.pg_list_bounce and !$__ishosted}  <a href="desk.php?action=bounce_management#list-01-0-0" class="list-group-item"> <i class="fa fa-level-up fa-sm"></i> {"Bounce Settings"|alang}</a> {/if}
 
{/if}
 
</div>