<div id="delete" class="adesk_modal_delete" align="center" style="display: none">
  <div class="adesk_modal_inner">
    <h1>{"Delete List(s)"|alang}</h1>
    <span id="delete_message"></span>
    <br />
    <ul id="delete_list"></ul>
    <br />
    <div>
      <input type="button" class="adesk_button_ok" value="{"OK"|alang}" onclick="list_delete(list_delete_id)" />
      <input type="button" class="adesk_button_cancel" value="{"Cancel"|alang}" onclick="adesk_dom_toggle_display('delete', 'block'); adesk_ui_anchor_set(list_list_anchor())" />
    </div>
  </div>
</div>
