<div id="settings_addons" style="margin-top: 10px; {if $__ishosted}display:none{/if}">
  <h2>{"Add-Ons"|alang}</h2>
{if $emailcheck and $deskrss and $autoremind and $flashforms}
	<br />{"All add-ons have been activated."|alang}<br /><br />
{else}

	<div id="addons_emailcheck" class="addons_get">
		<h3>{"Email Check"|alang}</h3>
{if !$emailcheck}
		<div>
			{"Not Installed"|alang}
            {if $admin.brand_links}
            <a href="http://www.awebdesk.com/AEM/addon.php?addon=emailcheck&h={$hash}" target="_blank">
				{"(Get It)"|alang}
			</a>
            {/if}
		</div>
{else}
		<div>
			{"Installed"|alang}
		</div>
{/if}
	</div>

	<div id="addons_deskrss" class="addons_get">
		<h3>{"RSS Triggered Emails"|alang}</h3>
{if !$deskrss}
		<div>
			{"Not Installed"|alang}
            {if $admin.brand_links}
			<a href="http://www.awebdesk.com/AEM/addon.php?addon=deskrss&h={$hash}" target="_blank">
				{"(Get It)"|alang}
			</a>
            {/if}
		</div>
{else}
		<div>
			{"Installed"|alang}
		</div>
{/if}
	</div>

	<div id="addons_autoremind" class="addons_get">
		<h3>{"Auto-Reminder"|alang}</h3>
{if !$autoremind}
		<div>
			{"Not Installed"|alang}
            {if $admin.brand_links}
			<a href="http://www.awebdesk.com/AEM/addon.php?addon=autoremind&h={$hash}" target="_blank">
				{"(Get It)"|alang}
			</a>
            {/if}
		</div>
{else}
		<div>
			{"Installed"|alang}
		</div>
{/if}
	</div>



{/if}
<br />

</div>
