{adesk_js lib="really/simplehistory.js"}
<script "text/javascript">
  {include file="subscriber.js"}
</script>
{* load javascript calendar *}
{adesk_calendar base=".."}

<h1>{"Subscribers"|alang}<span id="subscriber_list_count" class="adesk_hidden"></span></h1>

{include file="subscriber.list.htm"}
{include file="subscriber.exportlist.htm"}
{include file="subscriber.form.htm"}
{include file="subscriber.delete.htm"}
{include file="subscriber.search.htm"}
{include file="subscriber.optin.htm"}

<script type="text/javascript">
  adesk_ui_rsh_init(subscriber_process, true);
</script>
