<html>

<head>
</head>

<body>

	{foreach from=$clients2check item=shortname name=counter}

		{* create var that we can re-use later, since we perform this long test more than once *}
		{if $clients.$shortname.html_result.issuescnt.style+$clients.$shortname.html_result.issuescnt.inline+$clients.$shortname.html_result.issuescnt.link == 0}
			{assign var="issues_detected" value="false"}
		{else}
			{assign var="issues_detected" value="true"}
		{/if}

		{if isset($clients.$shortname.quickname)}
			<h3 class="m-b">{$clients.$shortname.quickname}</h3>
		{else}
			<h3 class="m-b">{$clients.$shortname.vendor} {$clients.$shortname.software} {$clients.$shortname.version}</h3>
		{/if}

		{if $issues_detected == "false"}
			{"No issues detected"|alang}
		{else}
			{$clients.$shortname.html_result.issuescnt.style+$clients.$shortname.html_result.issuescnt.inline+$clients.$shortname.html_result.issuescnt.link}
			{"possible issue(s)"|alang}:
		{/if}

		{foreach from=$clients.$shortname.html_result.issues key=type item=issue}

			{if $type == "locations"}

				{foreach from=$issue key=location item=issue_}

					{foreach from=$issue_ key=element item=issue__ name=counter_}

						<p>&lt;{$element}&gt; {"in"|alang} &lt;{$location}&gt; {"present"|alang}{if $issue__.occurrences|@count > 1} ({$issue__.occurrences|@count} {"times"|alang}){/if}</p>

						<ul>
							{foreach from=$issue__.occurrences item=occurrence}
								<li>{$occurrence.display}</li>
							{/foreach}
						</ul>

					{/foreach}

				{/foreach}

			{elseif $type == "selectors"}

				{foreach from=$issue key=selector item=issue_ name=counter_}

					<p>{$selector} {"selector present"|alang}{if $issue_.occurrences.total > 1} ({$issue_.occurrences.total} {"times"|alang}){/if}</p>

					<ul>
						{foreach from=$issue_.occurrences key=source item=source_occurrences}
							{if $source != "total"}
								{foreach from=$source_occurrences item=occurrence}
									<li>{$occurrence}</li>
								{/foreach}
							{/if}
						{/foreach}
					</ul>

				{/foreach}

			{elseif $type == "properties"}

				{foreach from=$issue key=property item=issue_ name=counter_}

					<p>{$property} {"property present"|alang}{if $issue_.occurrences.total > 1} ({$issue_.occurrences.total} {"times"|alang}){/if}</p>

					<ul>
						{foreach from=$issue_.occurrences key=source item=source_occurrences}
							{if $source != "total"}
								{foreach from=$source_occurrences item=occurrence}
									<li>{$occurrence}</li>
								{/foreach}
							{/if}
						{/foreach}
					</ul>

				{/foreach}

			{/if}

		{/foreach}

	{/foreach}

</body>

</html>