{* message.tpl.htm *}
{* If there was a status message, this will print it out *}

{if isset($error_mesg) and $error_mesg != '' and !isset($resultMessage)}
{assign var="resultMessage" value=$error_mesg}
{/if}

{if isset($smarty.post.info)}
{assign var="resultMessage" value=$smarty.post.info}
{/if}
{if isset($smarty.get.info)}
{assign var="resultMessage" value=$smarty.get.info}
{/if}

{if isset($resultMessage)}
<script>
{if isset($resultStatus)}
{if $resultStatus}adesk_result_show{else}adesk_error_show{/if}('{$resultMessage|js}');
{else}
adesk_result_show('{$resultMessage|js}');
{/if}
</script>
{/if}
