.ace_scroller {
    background-color: #fff !important;
    color: #333 !important;
}

.ace-twilight .ace_gutter {
    background: #fff !important;
    color: #333 !important;
}

.ace-twilight .ace_print-margin {
    width: 0 !important;
    background: #fff !important;
}

span.publish_btn {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
}