{if $error_mesg != ''}
<script>
{if $error_mesg == 'timeout'}
adesk_error_show('{"Timeout occurred. Please login again."|alang|js}');
{elseif $error_mesg == 'invalidlogin'}
adesk_error_show('{"Invalid Login Information Provided. Please try again."|alang|js}');
{elseif $error_mesg == 'logout'}
adesk_result_show('{"You have been logged out."|alang|js}');
{/if}
</script>
{/if}

<form action="login.php" method="post" name="log_user" id="log_user" style="margin:0px;">
	<div>{"Username"|alang}</div>
	<input name="user" type="text" id="user" style="width:97%;" tabindex="1" />
	<div style="margin-top:14px;">{"Password"|alang} </div>
	<input name="pass" type="password" id="pass" style="width:97%;" tabindex="2" />

	<div style="margin-top:14px;">
		<div style="float:right; padding-top:8px;">
			<label>
				<div class=" table-responsive"><table class="table table-striped m-b-none dataTable"  cellpadding="1" cellspacing="0" border="0" class="adesk_login_box_remember_me">
					<tr>
						<td><input name="rm" type="checkbox" id="rm" value="1" tabindex="3" /></td>
						<td>{"Remember me"|alang}</td>
					</tr>
				</table></div>
			</label>
		</div>
	<input type="submit" class="adesk_button_login" value="{"Login"|alang}" tabindex="4" />
	<input name="idt" type="hidden" id="idt" value="{$idt|escape:'html'}" />
	</div>
</form>


