<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html style="min-width:800px;">
  <head>
{if $ieCompatFix}
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
{/if}
	<meta http-equiv="Content-Type" content="text/html; charset={"utf-8"|i18n}" />
	<meta http-equiv="Content-Language" content="{"en-us"|i18n}" />
	{* Don't escape site_name here, since the title element is CDATA *}
	<title>{$site.site_name} - {$pageTitle}</title>
	<script type="text/javascript" src="../awebdesk/js/jquery-1.2.6.min.js"></script>
	{adesk_js lib="scriptaculous/prototype.js"}
	{adesk_js lib="scriptaculous/scriptaculous.js"}
	{adesk_js base=".." acglobal="amcharts,ajax,dom,b64,str,array,utf,ui,paginator,loader,tooltip,date,custom_fields,editor,form,class.Table,ihook,menu,progressbar,calendar"}
	<script language="JavaScript" type="text/javascript" src="../awebdesk/editor_tiny/tiny_mce.js?_v=3.4.3.2"></script>
	<script language="JavaScript" type="text/javascript" src="js/jsv6.js"></script>
	{foreach from=$header_lines item=line}
	{$line}
	{/foreach}
	<link href="css/default.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="../awebdesk/css/menu.css" />

	<script type="text/javascript" src="../awebdesk/js/ddsmoothmenu.js"></script>
	{adesk_js base="" src="awebdeskjs.php"}
	<script>
	  {include file="strings.js"}
	  <!--

	  {* global js vars *}
	  {jsvar name=datetimeformat var=$site.datetimeformat}
	  {jsvar name=dateformat var=$site.dateformat}
	  {jsvar name=timeformat var=$site.timeformat}

	  {jsvar name=adesk_action var=$action}
	  {jsvar name=plink var=$plink}

	  {jsvar name=nl var=$nl}

	  var apipath = "{$plink}/manage/awebdeskapi.php";
	  var acgpath = "{$plink}/awebdesk";

	  var paginator_b64 = false;

	  {literal}
	  // stalled processes restarter
	  adesk_ajax_call_url('process.php', null, null);
	  // cron restarter - run every 5 minutes
	  var cronTimer = window.setInterval(
	    function() {
	    	adesk_ajax_call_url('cron.php', null, null);
	    },
	    10 * 60 * 1000 // every 10 minutes
	  );
	  {/literal}
	  -->
	</script>
  </head>
  <body style="{'direction: ltr'|i18n}">
	<div id="adesk_loading_bar" class="adesk_hidden"><span id="adesk_loading_text">{"Loading..."|alang}</span></div>
	<div id="adesk_result_bar" class="adesk_hidden"><span id="adesk_result_text">{"Changes Saved."|alang}</span></div>
	<div id="adesk_error_bar" class="adesk_hidden"><span id="adesk_error_text">{"Error Occurred!"|alang}</span></div>

	<div id="adesk_admin_container">
	  <div>
		{if isset($side_content_template)}
		{if $side_content_template != ''}
		<div id="adesk_admin_side">
		  { include file=$side_content_template }
		</div>
		{/if}
		{/if}
		<div id="adesk_admin_content">
		  {include file="updatecheck.htm"}
		  { include file=$content_template }
		</div>
		<br clear="all" />
	  </div>
	<div id="adesk_admin_footer">
	  {if !isset($useacctlinks) or $useacctlinks == 1}
	  <div id="footer_links">
		{if $site.general_public == 1}<a href="../index.php" target="_blank">{"Public Side"|alang}</a> &nbsp;|&nbsp;{/if}
		<a href="desk.php?action=account">{"Your Account"|alang}</a> &nbsp;|&nbsp;
		<a href="index.php?action=logout">{"Logout"|alang}</a>
	  </div>
	  {/if}
	  {*  You ARE allowed to remove this powered by notice!  *}
	 
	  {if !$admin.brand_version} ({$site.version}{if $build > 1} {"Build %s"|alang:$build}{/if}) {/if}
	  {if $admin.brand_copyright and ($admin.brand_links or !$admin.brand_version)}{/if}
	  {if $admin.brand_copyright}
	  <div>
	  	 
 
		{"All rights reserved."|alang}
 
	  </div>
	  {/if}
	</div>

  </div>
  {if !isset($usemainmenu) or $usemainmenu == 1}
  <script type="text/javascript">
	adesk_tooltip_init();
{literal}
ddsmoothmenu.init({
mainmenuid: "main_menu",
//customtheme: ["#1c5a80", "#18374a"], //override default menu CSS background values? Uncomment: ["normal_background", "hover_background"]
contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
{/literal}
// set error bar for dropped api calls
var printAPIerrors = adesk_error_show;
</script>
{/if}
</body>
</html>
