<script type="text/javascript">
  {include file='startup.js'}
</script>

<h3 class="m-b">{"Welcome"|alang}, {$admin.first_name}!</h3>
 
{if isset($newversionavailable) and $admin.id == 1}
<div class="resultMessage" style="border-color:#109309;">
  <strong>{"New version available"|alang} - v {$latestversion}. {$moreinfo}</strong>
 
  <br />
  <div style="color:#999999;"> {"This notice will only be visible to <b>admin</b>. To hide new version alert change value of NEW_VERSION_ALERT in /cache/serialkey.php to 0"|alang}</div>
</div>
{/if}



{if isset($httpauth_warning)}
<div class="resultMessage" style="color:#990000; border:1px solid #FF0000; background:#F9E4E3; font-size:12px;">
  <strong>{"Your software directory currently has password and/or authentication requirements that cause software conflicts"|alang}</strong><br />

  {"Many parts of the software will NOT function properly if you have authentication required (such as htaccess auth)  Please remove all password/authentication requirements from the software folder and refresh this page."|alang}
</div>
{/if}

{if isset($suphp_warning)}
<div class="resultMessage" style="color:#990000; border:1px solid #FF0000; background:#F9E4E3; font-size:12px;">
  <strong>{"Your server seems to have PHPsuExec or suPHP installed"|alang}</strong><br />

  {"Having PHPsuExec or suPHP enabled could cause unexpected performance and/or stability issues. Some parts of the software might NOT function properly if you have these security extensions loaded on your server.  Please remove the extension to hide this message."|alang}
</div>
{/if}



{if $site.mailer_log_file and $admin.id == 1}
<div id="campaign_sendlog_warn" class="resultMessage">
  <strong>
    {"Campaign sending logs are currently enabled. This means every campaign sent is being logged. This is useful for debugging potential sending issues but will cause your sending to be slower than usual. If you are not debugging your email sending click %shere%s to disable logging."|alang:'<a href="#" onclick="return campaign_sendlog_switch();">':'</a>'}
  </strong>
</div>
{/if}
	

	{if $creditbased and $maillimitleft_raw < 50}
	<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
	  {"Your account is almost out of email credits; soon you won't be able to send any more mailings to your subscribers."|alang}
	  {if !adesk_site_hosted_rsid()}
	  <a href="/manage/manage/index.php">{"Purchase more credits now!"|alang}</a>
	  {/if}
	</div>
	{/if}

{if $close2limit}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
{if !$isAllTime}
	{if $admin.limit_mail_type == 'month1st'}
			{"Your account is nearing your email sending limit of %s emails per calendar month."|alang:$admin.limit_mail}
	{else}
			{"Your account is nearing your email sending limit of %s emails per %s."|alang:$admin.limit_mail:$admin.limit_mail_type}
	{/if}
{else}
			{"Your account is nearing your email sending limit of %s emails."|alang:$admin.limit_mail}
{/if}
			{"You have %s emails left."|alang:$availLeft}
			{"Any campaigns that exceed your limit will not start sending."|alang}
		</div>
{/if}

{if $site.mail_abuse and $admin.abuseratio_overlimit}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"Your account has been temporarily suspended due to a high number of abuse complaints.  You have had %s subscribers report your email."|alang:$admin.abuses_reported}
			{"That is %s%% of all emails you have sent so far, which is more than the %s%% that we allow for our service."|alang:$admin.abuseratio_current:$admin.abuseratio}
			{"The ability to send emails has been disabled at this time."|alang}
		</div>
{/if}

{if !$__ishosted and $site.mail_abuse and $abusers}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"There is %s user group(s) that are currently suspended due to abuse complaints."|alang:$abusers}
			<a href="desk.php?action=abuse">{"Manage & Take Action"|alang}</a>
		</div>
{/if}

{if !$__ishosted and $approvals}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"There is %s campaign(s) that need your approval."|alang:$approvals}
			<a href="desk.php?action=approval">{"View & Approve Campaigns"|alang}</a>
		</div>
{/if}

 

{if $down4maint}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"The software is currently set to be \"down for maintenance\"."|alang}
			<a href="desk.php?action=settings#general">{"Click here to turn this setting off"|alang}</a>
		</div>
{/if}

{if !$__ishosted}
	{if !$canAddSubscriber}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"You have maxed out the subscribers allowed with your account."|alang}
			{if $site.brand_links and adesk_admin_ismaingroup()}
			{'No new subscribers will be able to subscribe until you either delete subscribers or <a href="https://awebdesk.com/order/" target="_blank">purchase more user licenses to increase your subscriber limit</a>.'|alang}
			{else}
			{"No new subscribers will be able to subscribe until you delete some subscribers."|alang}
			{/if}
		</div>
	{elseif $close2subscriberlimit}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"You have nearly maxed out the subscribers allowed with your account."|alang}
			{if $site.brand_links and adesk_admin_ismaingroup()}
			{'You may want to either delete subscribers or <a href="https://awebdesk.com/order/" target="_blank">purchase more user licenses to increase your subscriber limit</a>.'|alang}
			{else}
			{"No new subscribers will be able to subscribe until you delete some subscribers."|alang}
			{/if}
		</div>
	{/if}
{/if}



 
{if $admin.pg_startup_gettingstarted == 1}


<div class="row"  id="startup_box_getting_started"><div style="float:right; padding-top:2px; padding-right:20px;">
			<a href="#" onclick="startup_gettingstarted_hide({$groupids}); return false;" style="color:#ddd;">{"Hide This Section"|alang}</a>
		</div>
<div class="col-lg-12">
          <!-- .crousel slide -->
          <section class="panel">
            <div id="c-slide" class="carousel slide  panel-body">
                <ol class="carousel-indicators out">
                  <li class="active" data-slide-to="0" data-target="#c-slide"></li>
                  <li class="" data-slide-to="1" data-target="#c-slide"></li>
                  <li class="" data-slide-to="2" data-target="#c-slide"></li>
                  <li class="" data-slide-to="3" data-target="#c-slide"></li>
                  <li class="" data-slide-to="4" data-target="#c-slide"></li>
                  <li class="" data-slide-to="5" data-target="#c-slide"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <p class="text-center">
                      <em class="h4 text-mute">{"Let's get started..."|alang}</em><br>
                      <small class="text-muted">{"Simply follow this carousel for quick startup"|alang}</small>
                    </p>
                  </div>
                {if $canAddList}  <div class="item">
                      <p class="text-center">
                      <em class="h4 text-mute"><a href="desk.php?action=list#form-0">{"Create a list"|alang}</a></em> {if $group_lists_status == 0}&nbsp;<span class="label bg-success">{"Completed"|alang}</span>{/if}<br>
                      <small class="text-muted">{"A list has subscribers whom you will send emails frequently."}</small>
                     </p>
                  </div>{/if}
                 {if $canAddSubscriber}  <div class="item">
                    <p class="text-center">
                      <em class="h4 text-mute"><a href="desk.php?action=subscriber_import">{"Import subscribers"|alang}</a></em>{if $group_lists_subscribers_status == 0}&nbsp;<span class="label bg-success">{"Completed"|alang}</span>{/if}<br>
                      <small class="text-muted">{"Import using CSV file, copy paste data, or from Gmail , Salesforce, Highrise, Zendesk and many others."}</small>
                    </p>
                  </div>{/if}
                   {if $admin.pg_form_edit}<div class="item">
                    <p class="text-center">
                      <em class="h4 text-mute"><a href="desk.php?action=form">{"Integrate with website"|alang}{"(Optional)"|alang}</a></em> {if $group_lists_forms_status == 0}&nbsp;<span class="label bg-success">{"Completed"|alang}</span>{/if}<br>
                      <small class="text-muted">{"Create subscription forms and generate html codes to paste it on your website."}</small>
                    </p>
                  </div>{/if}
                  {if $admin.pg_message_add}<div class="item">
                    <p class="text-center">
                      <em class="h4 text-mute"><a href="desk.php?action=campaign_new">{"Create a campaign"|alang}</a></em> {if $group_lists_campaigns_status == 0}&nbsp;<span class="label bg-success">{"Completed"|alang}</span>{/if}<br>
                      <small class="text-muted">{"This is your message/newsletter content. Use HTML/texts/images/ attachments , the choice is yours."}</small>
                    </p>
                  </div>{/if}
                  {if $admin.pg_reports_campaign}<div class="item">
                    <p class="text-center">
                      <em class="h4 text-mute"><a href="desk.php?action=campaign&reports=1">{"View reports"|alang}</a></em> {if $group_reports_link_status == 0}&nbsp;<span class="label bg-success">{"Completed"|alang}</span>{/if}<br>
                      <small class="text-muted">{"View realtime reports of email opens, clicks, bounces and much more."}</small>
                    </p>
                  </div>{/if}
                </div>
                <a data-slide="prev" href="#c-slide" class="left carousel-control">
                  <i class="fa fa-chevron-left"></i>
                </a>
                <a data-slide="next" href="#c-slide" class="right carousel-control">
                  <i class="fa fa-chevron-right"></i>
                </a>
            </div>
          </section>
          <!-- / .carousel slide -->
        </div>
</div>

 
{/if}
     
		 
 			 <div class="row">
             
             
            <!-- easypiechart -->
            <div class="col-lg-12">              
              <section class="panel">
                <header class="panel-heading bg-white">
                  <div class="text-center h5">{"Quick Stats"|alang}</div>
                </header>
                <div class="panel-body pull-in text-center">
                    
                <div class="col-lg-3">
              <section class="panel text-center">
                <div class="panel-body">
                  <a class="btn btn-circle btn-twitter btn-lg"><i class="fa fa-bars"></i></a>
                  <div class="h6">{"Total Lists"|alang}</div>
                  <div class="line m-l m-r"></div>
                  <h4 class="text-success"><strong>{$listcounts}</strong></h4>
                   
                </div>
              </section>
            </div>
                <div class="col-lg-3">
              <section class="panel text-center">
                <div class="panel-body">
                  <a class="btn btn-circle btn-twitter btn-lg"><i class="fa fa-users"></i></a>
                  <div class="h6">{"Active"|alang} {"Subscribers"|alang}</div>
                  <div class="line m-l m-r"></div>
                  <h4 class="text-success"><strong>{$subscriberscount}</strong></h4>
                   
                </div>
              </section>
            </div>
            
              <div class="col-lg-3">
              <section class="panel text-center">
                <div class="panel-body">
                  <a class="btn btn-circle btn-twitter btn-lg"><i class="fa fa-envelope-o"></i></a>
                  <div class="h6">{"Total emails sent"|alang} </div>
                  <div class="line m-l m-r"></div>
                  <h4 class="text-success"><strong>{$totalemailc}</strong></h4>
                   
                </div>
              </section>
            </div>
            
            
            
            
              <div class="col-lg-3">
              <section class="panel text-center">
                <div class="panel-body">
                  <a class="btn btn-circle btn-twitter btn-lg"><i class="fa fa-envelope"></i></a>
                  <div class="h6">{"Campaigns sent"|alang}</div>
                  <div class="line m-l m-r"></div>
                  <h4 class="text-success"><strong>{$campcount}</strong></h4>
                   
                </div>
              </section>
            </div>
            
            
                </div>
               {if $admin.limit_subscriber or $admin.limit_mail} 
                <div class="panel-body">
               {if $admin.limit_mail} 
              <div class="media">
              <div class="pull-left media-small">{"Sending Limit"|alang}</div>
               <div class="pull-right media-small">{$admin.limit_mail}</div>
                <div class="progress bg-success">
                  <div style='width: {math equation="(x-w)/y*z" x=$admin.limit_mail w=$availLeft y=$admin.limit_mail z=100}%' class="progress-bar bg-danger">&nbsp;{math equation="x-w" x=$admin.limit_mail w=$availLeft}</div>
                </div>
              </div>
              {/if}
              
              
             {if $admin.limit_subscriber} <div class="media m-t-none">
              <div class="pull-left media-small">{"Subscribers Limit"|alang}</div>
              
               
                <div class="pull-right media-small">{$admin.limit_subscriber}</div>
                <div class="progress bg-success">
                  <div style='width: {math equation="x/y*z" x=$subscriberscount y=$admin.limit_subscriber z=100}%' class="progress-bar bg-danger">
                   &nbsp;{$subscriberscount}</div>
                </div>
              </div>{/if}
              
              
         
             
                </div>{/if}
                 
              </section>
            </div>
             
            
             
       
            
          
                 
            </div>
            
            

 
 
<div class="row">
<div class="col-lg-6">
 
	  {if $admin.pg_reports_campaign}
	  <div class="startup_box_container_shadow">
	  <div id="startup_box_container_trend" class="startup_box_container">
		<div class="startup_box_title">
		  <span id="startup_box_span_subscribe" class="startup_selected"><a href="#" onclick="startup_toggle_tab('startup_box_container_trend', 'subscribe');return false;">{"Subscribe Trend"|alang}</a></span>
		  <span id="startup_box_span_unsubscribe"><a href="#" onclick="startup_toggle_tab('startup_box_container_trend', 'unsubscribe');return false;">{"Unsubscribe Trend"|alang}</a></span>
		</div>
		<script type="text/javascript" src="../awebdesk/amline/swfobject.js"></script>
		<div id="startup_box_div_subscribe" class="startup_box_container_inner">
		  {adesk_amchart type="line" divid="chart_subscribed_bydate" location="admin" url="graph.php?g=subscribed_bydate" width="100%" height="250" bgcolor="#FFFFFF"}
		</div>
		<div id="startup_box_div_unsubscribe" class="startup_box_container_inner adesk_hidden">
		  {adesk_amchart type="line" divid="chart_unsubscribed_bydate" location="admin" url="graph.php?g=unsubscribed_bydate" width="100%" height="250" bgcolor="#FFFFFF"}
		</div>
	  </div>
	  </div>
	  {/if}
<section class="panel" style="margin-top:10px;">
            <header class="panel-heading">
              <span class="label bg-info pull-right">{if $processesCnt}{"%s"|alang:$processesCnt}{else}0{/if}</span>
            {"Ongoing Processes"|alang}
            </header>
            <section class="panel-body">
              <article class="media">
                <div class="pull-left thumb-small">
                  <span class="fa-stack fa-lg">
                  {if $pausedProcessesCnt}
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-flag fa-stack-1x text-white"></i>
                    {else}
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-flag fa-stack-1x text-white"></i>
                    {/if}
                  </span>
                </div>
                <div class="media-body">
                 
                
                  {if $processesCnt or $pausedProcessesCnt}{if $processesCnt}
   <a class="h4" href="desk.php?action=processes#list-01-0-0">{"Current Processes (%s)"|alang:$processesCnt}</a>
    {/if}{if $pausedProcessesCnt}<small class="block"><a class="" href="desk.php?action=processes&status=paused#list-01-0-0">{"Paused Processes (%s)"|alang:$pausedProcessesCnt}</a>  </small>
		
	 
		{/if}
 
{else if}
 
<a class="h4" href="desk.php?action=processes#list-01-0-0">{"No Active process Now"|alang}</a>

{/if} 
                </div>
              </article>
              
       
            </section>
          </section>
</div>
<div class="col-lg-6">  
 

	  {if $admin.pg_subscriber_add || $admin.pg_subscriber_edit || $admin.pg_subscriber_delete}
	  <div class="startup_box_container_shadow">
	  <div id="startup_box_container_recent" class="startup_box_container">
		<div class="startup_box_title">
		  <span id="startup_box_span_recentsubscribers" class="startup_selected"><a href="#" onclick="startup_toggle_tab('startup_box_container_recent', 'recentsubscribers');return false;">{"Recent Subscribers"|alang}</a></span>
		  <span id="startup_box_span_recentcampaigns"><a href="#" onclick="startup_toggle_tab('startup_box_container_recent', 'recentcampaigns');return false;">{"Recent Campaigns"|alang}</a></span>
		</div>

		<div id="startup_box_div_recentsubscribers" class="startup_box_container_inner">
		 <div class=" table-responsive"><table class="table table-striped m-b-none dataTable"  width="100%"  >
			<tbody>
			  <tr>
				<th style="color:#999999;">{"List"|alang}</th>
				<th style="color:#999999;">{"Email"|alang}</th>
				<th style="color:#999999;">{"Name"|alang}</th>
				<th style="color:#999999;">{"Date/Time"|alang}</th>
			  </tr>
			</tbody>
			<tbody id="subTable">
			</tbody>
		  </table></div> 
		</div>
		<div id="subLoadingBar" class="adesk_block" style="color: #999999; font-size: 10px; margin-bottom:10px; margin-top:0px; margin-left:12px; ">
		  {"Loading. Please wait..."|alang}
		</div>
		{/if}

		<div id="startup_box_div_recentcampaigns" class="startup_box_container_inner adesk_hidden">
		  <div class=" table-responsive"><table class="table table-striped m-b-none dataTable"  width="100%">
			<tbody>
			  <tr>
				<th style="color:#999999;">{"Campaign"|alang}</th>
				<th style="color:#999999;">{"List(s)"|alang}</th>
				<th style="color:#999999;">{"Status"|alang}</th>
				<th style="color:#999999;">{"Date/Time"|alang}</th>
				<th style="color:#999999;">{"View Reports"|alang}</th>
			  </tr>
			</tbody>
			<tbody id="campTable">
			</tbody>
		  </table></div>
		</div><div class=" table-responsive">
		<div id="campLoadingBar" class="adesk_hidden" style="color: #999999; font-size: 10px; margin-bottom:10px; margin-top:0px; margin-left:12px; ">
		  {"Loading. Please wait..."|alang}
		</div></div>
	  </div>
	  </div>
	  
	 </div>
     </div>

<div id="badhttp" class="adesk_hidden">
  <div class="adesk_modal" align="center">
	<div class="adesk_modal_inner" align="left">
	  <h1 style="color:red;">{"A server problem was detected"|alang}</h3>
	  <p>{"The software is unable to contact itself from your server.  This prevents certain features from working properly."|alang}
	  <br />
	  <br />

	  <strong>{"Common Causes:"|alang}</strong>  </p>
	  <ul>
		<li>{"A firewall that is blocking any attempts to:"|alang}
		<br />
		{$site.p_link}
		<br />
		{"from your server."|alang}
		<br />
		<br />
		</li>
		<li>{"A local DNS issue (on your server) that makes it so your server cannot resolve to:"|alang}
		<br />
		{$site.p_link}    </li>
	  </ul>
	  {if !$isWindows}
	  <p><strong>{"How To Prove This:"|alang}</strong></p>
	  <ul>
		<li>{"Login to your server with SSH (or ask your web host/server admin to do these steps)"|alang}</li>
		<li>{"Go to the directory where your software is installed"|alang}</li>
		<li>{"Enter the following command:"|alang}
		<br />
		wget {$site.p_link}    </li>
		<li>{"See if there are any results (it will likely stall out without results proving the server cannot contact your software URL due to a firewall or DNS issue."|alang}</li>
	  </ul>
	  {/if}
	  <br />

	  <form>
		<input type="button" value="{"Re-Check"|alang}" style="font-weight:bold;" onclick="$('badhttp').className = 'adesk_hidden'; startup_viable()"/> &nbsp; <input type="button" value="{"Close"|alang}" onclick="$('badhttp').className = 'adesk_hidden'"/>
	  </form>
	</div>
  </div>
</div>

<div id="badfriendlyurls" class="adesk_hidden">
  <div class="adesk_modal" align="center">
	<div class="adesk_modal_inner" align="left">
	  <h1 style="color:red;">{"A server problem was detected"|alang}</h3>
	  <p>{"You have (Use search-friendly URLs) enabled on the Settings > General Settings > Public page but your server does not seem to be able to use the search-engine friendly URLs"|alang}
	  <br />
	  <br />

	  <strong>{"Things to check:"|alang}</strong>  </p>
	  <ul>
		<li>{"Verify that you put the .htaccess file"|alang} (<a href="desk.php?action=settings#public" target="_blank">{"from the Settings > General Settings > Public page"|alang}</a>) {"in your main software folder.  You can get the contents of what should be put in the .htaccess file by going to Settings > General Settings > Public and clicking (View .htaccess Content)"|alang}
		<br />
		<br />
		</li>
		<li>{"If the .htaccess file is in your main software folder and search-engine friendly URLs still do not work contact your web host or webmaster for further assistance.  You can also disable the (Use search-friendly URLs) until your web host or webmaster fixes this for you."|alang}
  		</li>
	  </ul>
	  <br />

	  <form>
		<input type="button" value="{"Re-Check"|alang}" style="font-weight:bold;" onclick="$('badfriendlyurls').className = 'adesk_hidden'; location.reload()"/> &nbsp; <input type="button" value="{"Close"|alang}" onclick="$('badfriendlyurls').className = 'adesk_hidden'"/>
	  </form>
	</div>
  </div>
</div>

<script type="text/javascript">
startup_recent_subscribers(10);
startup_recent_campaigns(10);
{if !$__ishosted}
	{literal}
	window.setTimeout(function() {
	{/literal}
		startup_viable();
		{if !$site.general_maint}
		startup_rewrite();
		{/if}
	{literal}
	}, 7 * 1000);
	{/literal}
{/if}
</script>
