{adesk_js lib="really/simplehistory.js"}
<script language="JavaScript" type="text/javascript">
<!--
{include file="subscriber_import.js"}
-->
</script>

<div id="subscriber_import">

<h3 class="m-b">{"Import Subscribers"|alang}</h3>



{if $formSubmitted and $submitResult.section == "generic"}
{if !$submitResult.status}
<script>
adesk_error_show('{$submitResult.message|js}');
</script>
{else}
<script>
adesk_result_show('{$submitResult.message|js}');
</script>
{/if}
{/if}

<div id="import_limit_warning" class="{if !$canImportSubscriber}adesk_block{else}adesk_hidden{/if}">
	{"Some subscribers might not be imported as it would exceed your currently allowed subscribers."|alang}
</div>

{if !$configured}
	{include file="subscriber_import.step1.htm"}
{else}
<div id="step2" class="adesk_block">
	{include file="subscriber_import.step2.htm"}
</div>
<div id="step3" style="display: none;">
	{include file="subscriber_import.step3.htm"}
</div>
	{include file="subscriber_import.report.htm"}
{/if}

</div>

<script type="text/javascript">
  adesk_ui_rsh_init(import_process, true);
</script>