<div style="padding:10px; font-size:12px;">
  <strong>{"You are using Internet Explorer %s."|alang:$browser_version}</strong><br /><br />
  <strong>{"This software requires Internet Explorer 8.0+, Firefox, or Chrome."|alang}</strong><br /><br />
  <strong>{"This is why..."|alang}</strong><br /><br />
{"Not supporting Internet Explorer 6 and 7 enables us to focus on providing the best email marketing software and most stable environment possible."|alang}<br /><br />
{"If you are using Internet Explorer 8 and see this warning, ensure that Compatibility Mode is not turned on."|alang}
</div>
