<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="table-responsive">
			<table class="table table-hover dataTables">
				<thead>
					<tr>
						<th>Name</th>
						<th>Slug</th>
						<th>Type</th>
						<th>Category</th>
						<th>AEM Image URL</th>
						<th>Builder ID</th>
						<th>Builder URL</th>
						<th>Groupset ID</th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$templateList item=p}
					    <tr>
					    	<a href="#selectOption" rel="modal:open">
						    	<td>{$p.name}</td>
						    	<td>{$p.slug}</td>
						    	<td>{$p.type}</td>
						    	<td>{$p.category}</td>
						    	<td>{$p.aem_image_url}</td>
						    	<td>{$p.builder_id}</td>
						    	<td>{$p.builder_url}</td>
						    	<td>{$p.groupset_id}</td>
					    	</a>
					    </tr>
					{/foreach}
				</tbody>
			</table>
		</div>	
	</div>
</div>

<div id="selectOption" style="display:none;">
	<div class="col-md-12 col-xs-12">
		<form id="selectOptionForm">
			<div class="form-group">
				<a class="btn btn-default" href="#addRowModal" rel="modal:open">Add New</a>
			</div>
			<div class="form-group">
				<a class="btn btn-default" href="#editRowModal" rel="modal:open">Edit</a>
			</div>
			<div class="form-group">
				<a class="btn btn-default" href="#deleteRowModal" rel="modal:open">Delete</a>
			</div>
		</form>
	</div>
</div>
<div id="addRowModal" style="display:none;">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<form id="addRowForm">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type="text" class="form-control" id="name">
				</div>
				<div class="form-group">
					<label for="slug">Slug:</label>
					<input type="text" class="form-control" id="slug">
				</div>
				<div class="form-group">
					<label for="type">Type:</label>
					<input type="text" class="form-control" id="type">
				</div>
				<div class="form-group">
					<label for="category">Category:</label>
					<input type="text" class="form-control" id="category">
				</div>
				<div class="form-group">
					<label for="image_url">Image URL:</label>
					<input type="text" class="form-control" id="image_url">
				</div>
				<div class="form-group">
					<label for="builder_id">Builder ID:</label>
					<input type="text" class="form-control" id="builder_id">
				</div>
				<div class="form-group">
					<label for="builder_url">Builder URL:</label>
					<input type="text" class="form-control" id="builder_url">
				</div>
				<div class="form-group">
					<label for="groupset_id">Groupset ID:</label>
					<input type="text" class="form-control" id="groupset_id">
				</div>
				<button type="submit" id="addRowButton" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
<div id="editRowModal" style="display:none;">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<form id="addRowForm">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type="text" class="form-control" id="name">
				</div>
				<div class="form-group">
					<label for="slug">Slug:</label>
					<input type="text" class="form-control" id="slug">
				</div>
				<div class="form-group">
					<label for="type">Type:</label>
					<input type="text" class="form-control" id="type">
				</div>
				<div class="form-group">
					<label for="category">Category:</label>
					<input type="text" class="form-control" id="category">
				</div>
				<div class="form-group">
					<label for="image_url">Image URL:</label>
					<input type="text" class="form-control" id="image_url">
				</div>
				<div class="form-group">
					<label for="builder_id">Builder ID:</label>
					<input type="text" class="form-control" id="builder_id">
				</div>
				<div class="form-group">
					<label for="builder_url">Builder URL:</label>
					<input type="text" class="form-control" id="builder_url">
				</div>
				<div class="form-group">
					<label for="groupset_id">Groupset ID:</label>
					<input type="text" class="form-control" id="groupset_id">
				</div>
				<button type="submit" id="addRowButton" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
<div id="deleteRowModal" style="display:none;"></div>