<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="table-responsive">
			<table class="table table-hover dataTables">
				<thead>
					<tr>
						<th>Name</th>
						<th>Slug</th>
						<th>Type</th>
						<th>Category</th>
						<th>AEM Image URL</th>
						<th>Builder ID</th>
						<th>Builder URL</th>
						<th>Groupset ID</th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$templateList item=p}
					    <tr>
					    	<td>{$p.name}</td>
					    	<td>{$p.slug}</td>
					    	<td>{$p.type}</td>
					    	<td>{$p.category}</td>
					    	<td>{$p.aem_image_url}</td>
					    	<td>{$p.builder_id}</td>
					    	<td>{$p.groupset_id}</td>
					    </tr>
					{/foreach}
				</tbody>
			</table>
		</div>	
	</div>
</div>