<div id="list" class="adesk_hidden">
  <form action="desk.php?action=campaign{if $reportsOnly}&reports=1{/if}" method="GET" onsubmit="campaign_list_search(); return false">
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr class="adesk_table_header_options">
        <td>
          <select name="listid" id="JSListManager" size="1" onchange="campaign_list_search()">
            <option value="0">{"List Filter..."|alang}</option>
{foreach from=$listsList item=p}
            <option value="{$p.id}">{$p.name|truncate:50}</option>
{/foreach}
          </select>
          <select name="type" id="JSTypeManager" size="1" onchange="campaign_list_search()">
            <option value="">{"Campaign Type..."|alang}</option>
{foreach from=$types item=t key=k}
            <option value="{$k}">{$t}</option>
{/foreach}
            <!--<option value="special">{"special"|alang}</option>-->
          </select>
          <select name="status" id="JSStatusManager" size="1" onchange="campaign_list_search()">
            <option value="">{"Status..."|alang}</option>
{foreach from=$statuses item=s key=k}
            <option value="{$k}">{$s}</option>
{/foreach}
          </select>
        </td>
        <td align="right">
          <div>
            <input type="text" name="qsearch" id="list_search" />
            <input type="button" value='{"Search"|alang}' onclick="campaign_list_search()" />
            <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="campaign_list_clear()" />
            &nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="adesk_table_header">
          <td align="center" width="20">
            <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="adesk_form_check_selection_all(this, $('selectXPageAllBox'))" />
          </td>
          <td width="{if $reportsOnly}100{else}200{/if}">{"Options"|alang}</td>
          <td width="120">{adesk_headercol action="campaign" id="02" label="Type"|alang}</td>
          <td width="50">{adesk_headercol action="campaign" id="03" label="Status"|alang}</td>
          <td>{adesk_headercol action="campaign" id="04" label="Name"|alang}</td>
          <td width="100">{adesk_headercol action="campaign" id="05" label="First Sent Date"|alang}</td>
          <td width="100">{adesk_headercol action="campaign" id="01" label="Last Sent Date"|alang}</td>
        </tr>
      </thead>
      <tbody id="list_table">
      </tbody>
    </table>
    <div id="list_noresults" class="adesk_hidden">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
    <div style="float:right">
      {include file="pagination.js.tpl.htm" tabelize="campaign_list_tabelize" paginate="campaign_list_paginate"}
    </div>
    <div id="loadingBar" class="adesk_hidden" style="background: url(../awebdesk/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
      {"Loading. Please wait..."|alang}
    </div>
    <span id="selectXPageAllBox" class="adesk_hidden">
      <span class="adesk_hidden">{"All campaigns are now selected."|alang}</span>
      <span class="adesk_hidden">{"All campaigns on this page are now selected."|alang}</span>
      <a class="adesk_hidden" href="#" onclick="return adesk_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
    </span>
  </form>

  <br />
  {if $admin.pg_message_delete}
  	<input type="button" id="list_delete_button" value="{"Delete Selected"|alang}" onclick="adesk_ui_anchor_set('delete_multi')" />
  {/if}
  {if $admin.pg_message_add}
    <input type="button" value="{"Create New"|alang}" onclick="window.location = 'desk.php?action=campaign_new';" style="font-weight: bold;" />
  {/if}
  {if $reportsOnly}
  	<input type="button" id="list_delete_button" value="{"Export Selected"|alang}" onclick="campaign_export_open();" />
  {/if}
</div>



<div id="list_reuse" class="adesk_modal" align="center" style="display:none;">
  <div class="adesk_modal_inner" align="left">
	<h1>{"Resend"|alang}</h1>
	<div class="adesk_help_inline">{"Select how you would like to resend this campaign."|alang}</div>

	<table border="0" cellspacing="0" cellpadding="0" width="100%">
{if $admin.pg_message_add}
		<tr>
	      <td><input name="action" id="campaign_use_reuse" type="radio" value="reuse" checked="checked" /></td>
		  <td><label for="campaign_use_reuse">{"Create a new campaign based off of this campaign"|alang}</label></td>
	    </tr>
{/if}
		<tbody id="resend_filter">
		  {if $canSendCampaign}
		  <tr>
			<td><input name="action" id="campaign_use_newsub" type="radio" value="newsub" {if !$admin.pg_message_add}checked="checked"{/if} /></td>
			<td><label for="campaign_use_newsub">{"Send to new subscribers (since this campaign was originally sent)"|alang}</label></td>
		  </tr>
		  <tr>
			<td width="30"><input name="action" id="campaign_use_unread" type="radio" value="unread" /></td>
			<td><label for="campaign_use_unread">{"Send to subscribers who have not read/opened this campaign"|alang}</label></td>
		  </tr>
		  {/if}
		</tbody>
  </table>
	<br />

    <div>
      <input type="hidden" id="campaign_use_id" name="id" value="" />
      <input type="button" value='{"Cancel"|alang}' onclick="adesk_dom_toggle_display('list_reuse', 'block');" />
      <input type="button" value='{"Continue"|alang}' onclick="campaign_reuse();" class="adesk_button_ok" />
    </div>
  </div>
</div>



<div id="list_edit" class="adesk_modal" align="center" style="display:none;">
  <div class="adesk_modal_inner" align="left">
	<h1>{"Edit"|alang}</h1>
	<div style="margin-bottom: 10px;">{"Select what would you like to edit:"|alang}</div>

	<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
	      <td><input name="action" id="campaign_edit_campaign" type="radio" value="campaign" checked="checked" onclick="$('campaign_edit_split_box').className='adesk_hidden';" /></td>
		  <td><label for="campaign_edit_campaign">{"Edit campaign settings (Using the campaign wizard)"|alang}</label></td>
	    </tr>
		<tr>
	      <td><input name="action" id="campaign_edit_message" type="radio" value="message" onclick="if($('campaign_edit_split_field').getElementsByTagName('option').length > 1) $('campaign_edit_split_box').className='adesk_table_rowgroup';" /></td>
		  <td><label for="campaign_edit_message">{"Edit the message contents"|alang}</label></td>
	    </tr>
	<tbody id="campaign_edit_split_box" class="adesk_hidden">
		<tr>
	      <td>&nbsp;</td>
		  <td>
		    <select id="campaign_edit_split_field" name="messageid"></select>
		  </td>
	    </tr>
    </tbody>
  </table>
	<br />

    <div>
      <input type="hidden" id="campaign_edit_id" name="id" value="" />
      <input type="button" value='{"Cancel"|alang}' onclick="adesk_dom_toggle_display('list_edit', 'block');" />
      <input type="button" value='{"Continue"|alang}' onclick="campaign_edit();" class="adesk_button_ok" />
    </div>
  </div>
</div>


{if $reportsOnly}

<div id="list_export" class="adesk_modal" align="center" style="display:none;">
  <div class="adesk_modal_inner" align="left">
	<h1>{"Export Campaign Reports"|alang}</h1>

	<div>{"You have selected %s campaigns for exporting."|alang:'<span id="list_export_count"></span>'}</div>

	<ul id="list_export_campaigns"></ul>

	<div style="margin-bottom: 10px;">{"Select what would you like to export:"|alang}</div>

	{* opens, links, clicks, forwards, bounces, unsubscriptions, updates *}
	<div>
	  <label>
	    <input type="checkbox" value="open" name="reports[]" id="export_report_open" />
	    {"Opens"|alang}
	  </label>
	</div>

	<div>
	  <label>
	    <input type="checkbox" value="link" name="reports[]" id="export_report_link" />
	    {"Links"|alang}
	  </label>
	</div>

	<div style="margin-left: 20px;">
	  <label>
	    <input type="checkbox" value="click" name="reports[]" id="export_report_click" />
	    {"Clicks"|alang}
	  </label>
	</div>

	<div>
	  <label>
	    <input type="checkbox" value="forward" name="reports[]" id="export_report_forward" />
	    {"Forwards"|alang}
	  </label>
	</div>

	<div>
	  <label>
	    <input type="checkbox" value="bounce" name="reports[]" id="export_report_bounce" />
	    {"Bounces"|alang}
	  </label>
	</div>

	<div>
	  <label>
	    <input type="checkbox" value="unsub" name="reports[]" id="export_report_unsub" />
	    {"Unsubscriptions"|alang}
	  </label>
	</div>

	<div>
	  <label>
	    <input type="checkbox" value="update" name="reports[]" id="export_report_update" />
	    {"Updates"|alang}
	  </label>
	</div>

	<br />

    <div>
      <input type="button" value='{"Export"|alang}' onclick="campaign_export();" class="adesk_button_ok" />
      <input type="button" value='{"Cancel"|alang}' onclick="adesk_dom_display_none('list_export');" />
    </div>
  </div>
</div>

{/if}
