<div id="search" class="adesk_modal_search" align="center" style="display:none">
  <div class="adesk_modal_inner">
    <h1>{"Search Campaigns"|alang}</h1>
    <form method="GET" onsubmit="campaign_search(); return false">
      <table border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td>{"Search for"|alang}</td>
          <td><input type="text" name="content" id="search_content"/></td>
        </tr>
        <tr valign="top">
          <td>{"Search in"|alang}</td>
          <td>
            {foreach from=$search_sections item=s}
            <input type="checkbox" name="section[]" value="{$s.col}"> {$s.label}<br/>
            {/foreach}
          </td>
        </tr>
        <tr valign="top">
          <td>{"In Lists"|alang}</td>
          <td>
            <select name="listid" id="JSListFilter" size="4" multiple />
{foreach from=$listsList item=p}
              <option value="{$p.id}">{$p.name|truncate:50}</option>
{/foreach}
             </select>

            <div>

              {"Select:"|alang}
              <a href="#" onclick="return adesk_form_select_multiple_all($('JSListFilter'));">{"All"|alang}</a>
              &middot;
              <a href="#" onclick="return adesk_form_select_multiple_none($('JSListFilter'));">{"None"|alang}</a>
			  {"Notice: Hold CTRL to select multiple lists."|help}
            </div>
          </td>
        </tr>
        <tr valign="top">
          <td>{"Of Type"|alang}</td>
          <td>
            <select name="type" id="JSTypeFilter" size="4" multiple style="width:99%;"/>
              <option value="">{"- All Types -"|alang}</option>
{foreach from=$types item=t key=k}
              <option value="{$k}">{$t}</option>
{/foreach}
             </select>

            <div>
              {"Select:"|alang}
              <a href="#" onclick="return adesk_form_select_multiple_all($('JSTypeFilter'), true);">{"All"|alang}</a>
              &middot;
              <a href="#" onclick="return adesk_form_select_multiple_none($('JSTypeFilter'));">{"None"|alang}</a>
			  {"Notice: Hold CTRL to select multiple statuses."|help}
            </div>
          </td>
        </tr>
        <tr valign="top">
          <td>{"With Status"|alang}</td>
          <td>
            <select name="status" id="JSStatusFilter" size="4" multiple style="width:99%;"/>
              <option value="">{"- All Statuses -"|alang}</option>
{foreach from=$statuses item=s key=k}
              <option value="{$k}">{$s}</option>
{/foreach}
             </select>

            <div>
              {"Select:"|alang}
              <a href="#" onclick="return adesk_form_select_multiple_all($('JSStatusFilter'), true);">{"All"|alang}</a>
              &middot;
              <a href="#" onclick="return adesk_form_select_multiple_none($('JSStatusFilter'));">{"None"|alang}</a>
			  {"Notice: Hold CTRL to select multiple statuses."|help}
            </div>
          </td>
        </tr>
      </table>
    </form>
    <br/>
    <br/>
    <div>
      <input type="button" value='{"Search"|alang}' onclick="campaign_search()" class="adesk_button_ok" />
      <input type="button" value='{"Cancel"|alang}' onclick="adesk_dom_toggle_display('search', 'block'); adesk_ui_anchor_set(campaign_list_anchor())"/>
    </div>
  </div>
</div>
<script type="text/javascript">
  campaign_search_defaults();
</script>
