<!-- GLC eMARKETER GENERATED FORM -->
<!-- ~ Please DO NOT DELETE -->
<!-- ~ v1.0 -->

<form method="post" action="{$site.p_link}/surround.php">
	<div class="form-group">
		<!-- <label>{"Email:"|alang}</label> -->
		<input name="email" value="" type="email" class="form-control" id="email" placeholder="Email" />
	</div>

	{if $form.ask4fname || $form.require_name}
	<div class="form-group">
		<!-- <label>{"First Name:"|alang}</label> -->
		<input name="first_name" value="" type="text" class="form-control" id="first_name" placeholder="First Name" />
	</div>
	{/if}

	{if $form.ask4lname || $form.require_name}
	<div class="form-group">
		<!-- <label>{"Last Name:"|alang}</label> -->
		<input name="last_name" value="" type="text" class="form-control" id="last_name" placeholder="Last Name" />
	</div>
	{/if}

{if $form.type != "unsubscribe"}
	{if $form.fieldsarray|@count > 0}
		{foreach from=$form.fieldsarray item=field}
			{if $field.type == 6}
				{adesk_field_html field=$field}
			{else}
	<div class="form-group">
		<!-- <label>{$field.title|adesk_field_title:$field.type}:</label> -->
		{adesk_field_html field=$field nobubbles=1}
	</div>
			{/if}{/foreach}{else}

	<input type="hidden" name="field[]" />

	{/if}

{/if}

<!-- {if $site.gd and $form.captcha}
	<div class="form-group">
		<label>{"Verify"|alang}</label>
		<img border="1" align="middle" src="{$site.p_link}/awebdesk/scripts/imgrand.php" /><br />
		<input type="text" name="imgverify" id="imgverify" class="form-control" />
		<div style="font-size:10px; color:#999999;">{"Enter the text as it appears on the image"|alang}</div>
	</div>
{/if} -->

{if $form.allowselection}
	<div class="form-control">
		<label>{"Select Lists:"|alang}</label>
{/if}

	{foreach from=$form.lists item=l}
		{if $form.allowselection}
			<label {*if $l.descript}title="{$l.descript}"{/if*}><input class="form-control" type="checkbox" name="nlbox[]" value="{$l.id}" checked="checked" />{$l.name}</label><br />
		{else}
			<input type="hidden" name="nlbox[]" value="{$l.id}" />
		{/if}
	{/foreach}

{if $form.allowselection}
	</div>
{/if}

{if $form.type == "both"}

	<div class="form-group">
		<label><input type="radio" name="funcml" value="add" checked="checked" />{"Subscribe"|alang}</label><br />
			<label><input type="radio" name="funcml" value="unsub2" />{"Unsubscribe"|alang}</label>
	</div>
{else}
<input type="hidden" name="funcml" value="{if $form.type == "subscribe"}add{else}unsub2{/if}" />
{/if}
	<div class="form-group">
		<input type="hidden" name="p" value="{$form.id}" />
		<input type="hidden" name="_charset" value="{'utf-8'|i18n}" />
		<input type="submit" value="{'Submit'|alang}" class="form-control btn btn-primary" />		
	</div>
</form>
