<div id="view" class="adesk_hidden">

<div id="formview_integration" class="h2_wrap_static">
    <h2>{"Click the 'Copy Form' button and this will save it so you can paste this Campaign Form into your Website."|alang}</h2>
    <div class="h2_content">
        <div class="icon_box_selector">
            <button data-clipboard-target="#codeBox" class="selected btnCopy" style="height:52px; width:250px;">
            <div style="float:left; margin-right:15px;"><img src="images/code_line.png" width="32" height="32" border="0" /></div>
            <strong>{"Copy Form"|alang}</strong><br />
            {"To past in your website"|alang}
            </button>
            
            {if adesk_admin_ismaingroup()} 
            <a href="#" id="form_select_link" onclick="return form_view_switch('link');" style="height:52px; width:250px;">
            <div style="float:left; margin-right:15px;"><img src="images/window_next.png" width="32" height="32" border="0" /></div>
            <strong>{"Link"|alang}</strong><br />
            {"Link to your form"|alang}
            </a>
            {/if}
            
            {if adesk_admin_ismaingroup()} 
            <a href="#" id="form_select_popup" onclick="return form_view_switch('popup');" style="height:52px; width:250px;">
            <div style="float:left; margin-right:15px;"><img src="images/windows.png" width="32" height="32" border="0" /></div>
            <strong>{"Popup"|alang}</strong><br />
            {"Form opens in a popup"|alang}
            </a>
            {/if}

            <a href="#" id="form_select_xml" onclick="return form_view_switch('xml');" style="display:none; height:52px; width:250px;">
            <div style="float:left; margin-right:15px;"><img src="images/film.png" width="32" height="32" border="0" /></div>
            <strong>{"SWF/XML"|alang}</strong><br />
            {"Embed in a Flash movie"|alang}
            </a>
        </div>
        <br clear="left" />
    </div>
</div>

<br />

<div id="formview_code" class="h2_wrap_static">
    <h2 style="display:none;">{"Get Code"|alang}</h2>
    <div class="h2_content">
        <div id="integration_details_html" class="integration_details">
            {"Copy the HTML source code in the text box below and paste it anywhere into your web site."|alang}
        </div>
        <div id="integration_details_link" class="adesk_hidden">
            {"You can direct users to this URL to subscribe and/or unsubscribe."|alang}
        </div>
        <div id="integration_details_popup" class="adesk_hidden">
            {"Copy the HTML/JavaScript source code in the text box below and paste it anywhere into your web site."|alang}
        </div>
        <div id="integration_details_xml" class="adesk_hidden">
            {"whatever is in flash docs."|alang}
        </div>

        <textarea id="codeBox" readonly="readonly" rows="14" cols="80" style="width: 99%;" onfocus="adesk_form_highlight(this);"></textarea>
        <div style="float:right;display:none;">
            <a href="#" id="previewLink">{"Preview"|alang}</a>
        </div>
        <!-- {"Character Set:"|alang} -->
         <input type="text" id="charsetField" style="display:none;" value="" size="6" />

        {if adesk_admin_ismaingroup()} 
        <input type="button" value="{'Update'|alang}" onclick="form_view_regenerate();" />
        {"Enter the character set that will be used on pages where you wish to put this form."|help}
        {/if}
        
    </div>
</div>

<div id="previewBox" class="adesk_hidden"></div>

<div id="formview_default" class="adesk_hidden">
    <h2>Default Redirection Options Set</h2>
    <p>Your default redirection options have been saved. Visitors who do not subscribe using a custom subscription form will be
    redirected based off of your saved settings.</p>
</div>

<br />
<div>
    <!-- <input type="button" class="adesk_button_back" value="{"Edit This Form"|alang}" onclick="window.location='desk.php?action=form#form-' + form_view_id;" /> -->
    <input type="button" class="adesk_button_back" value="{"Manage Forms"|alang}" onclick="window.location='desk.php?action=form'" />
    <input type="button" class="adesk_button_back" value="{"Add a New Form"|alang}" onclick="window.location='desk.php?action=form#form-0'" />
</div>

</div>
