<table class="table">
	<thead>
		<tr>
			<th>Campaign Name</th>
			<th>Description</th>
			<th>Campaign Type</th>
			<th>List ID</th>
			<th>Preview</th>
			<th>Social Sharer</th>
			<th>Date Created</th>
		</tr>
	</thead>
	<tbody>
		{foreach from=$funnels item=t key=k}
			<tr>
				<td>{$t.title}</td>
				<td>{$t.description}</td>
				<td>{$t.type}</td>
				<td>{$t.list_id}</td>
				<td><a href="{$t.page_link}" target="_blank" class="hyperlink">{$t.page_link}</a></td>
				<td>
					<ul class="campaign_sharer">
						<li class="facebook"><a class="social" id="fb_share" href="https://www.facebook.com/sharer/sharer.php?u={$t.page_link}" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
						<li class="twitter"><a class="social" id="twitter_share" href="https://twitter.com/home?status={$t.page_link}" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
						<li class="gplus"><a class="social" id="gplus_share" href="https://plus.google.com/share?url={$t.page_link}" target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
						<li class="email"><a class="social" id="email_share" href="mailto:?body={$t.page_link}" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
					</ul>
				</td>
				<td>{$t.date_created}</td>
			</tr>
		{/foreach}
	</tbody>
</table>