<div style="display:none;">
<h1 style="margin-top: 20px;">{"Other Integration Options"|alang}</h1>

<ul id="form_list_other_options" class="navlist">

	{if $site.general_public}<li id="form_list_other_li_public" class="othertab"><a href="javascript: form_list_other_cycle('public');">{"Public Message Archive"|alang}</a></li>{/if}
	<li id="form_list_other_li_api" class="othertab"><a href="javascript: form_list_other_cycle('api');">{"Using The API"|alang}</a></li>
	<li id="form_list_other_li_advanced" class="othertab"><a href="javascript: form_list_other_cycle('advanced');">{"Advanced Subscription Form Integration"|alang}</a></li>

</ul>

<div style="padding-top: 10px; margin: 10px 0 0 15px;">

	<div id="form_list_other_public">

		<div style="margin-left: 15px;">

			<script>
			// <!--

			{jsvar name=links var=$links}

			{literal}

			function buildLink(section) {
				var val = $(section + 'Select').value;
				//alert("Section: " + section + "\nValue: " + val + "\nLink: " + links[section] + val);
				$(section + 'URL').href = links[section] + val;
				$(section + 'URL').innerHTML = links[section] + val;
				//window.location.href = links[section] + val;
			}

			{/literal}

			// -->
			</script>

			<div class="h2_wrap_static">
				<h3>{"General Public Archive"|alang}</h3>
				<div class="h2_content" style="font-size:12px;">
					<p>
						{"This is a general public archive that will show all publicly available mailing lists and campaigns in the software."|alang}
					</p>
					<p>
						<a class="publiclink" href="{$links.archive}" target="_blank">{$links.archive}</a>
					</p>
				</div>
			</div>
			<br />

			<div class="h2_wrap_static" {if $__ishosted}style="display:none;"{/if}>
				<h3>{"Your Public Archive"|alang}</h3>
				<div class="h2_content" style="font-size:12px;">
					<p>
						{"View the message archive that is filtered to lists and campaigns from a particular User Group."|alang}
					</p>
					{if $maingroup}
						<p>
							{"Select A User Group:"|alang}<br />
							<select id="groupSelect" size="1" onchange="buildLink('group');">
							{foreach from=$groups item=p}
								{if $p.id != 1 && $p.id != 2}<option value="{$p.id}" {if $p.id == $groupid}selected="selected"{/if}>{$p.title}</option>{/if}
							{/foreach}
							</select>
						</p>
					{/if}
					<p>
						<a id="groupURL" class="publiclink" href="{$links.group}{$groupid}" target="_blank">{$links.group}{$groupid}</a>
					</p>
				</div>
			</div>
			<br />

			<div class="h2_wrap_static">
				<h3>{"List Specific Public Archive"|alang}</h3>
				<div class="h2_content" style="font-size:12px;">
					<p>
						{"View the message archive that is filtered to campaigns from a particular List."|alang}
					</p>
					<p>
						{"Select A List:"|alang}<br />
						<select id="listSelect" size="1" onchange="buildLink('list');">
							{foreach from=$lists item=p name=lloop}
								<option value="{if $seo}{$p.stringid}{else}{$p.id}{/if}" {if $smarty.foreach.lloop.last}selected="selected"{/if}>{$p.name|truncate:50}</option>
							{/foreach}
						</select>
					</p>
					<p>
						<a id="listURL" class="publiclink" href="{$links.list}{if $seo}{$p.stringid}{else}{$p.id}{/if}" target="_blank">{$links.list}{if $seo}{$p.stringid}{else}{$p.id}{/if}</a>
					</p>
				</div>
			</div>

		</div>

	</div>

	<div id="form_list_other_api">

		<div style="margin-left: 15px;">

			<table border="0" cellspacing="0" cellpadding="0" width="99%">

				<tr>

					<td valign="top" width="325">

						<ul>
							{foreach from=$api_example_filenames item=filename name=counter}
								{if !adesk_site_hosted_rsid() or substr($filename, 0, 9) != 'branding_'}
								<li><a href="javascript: form_list_other_api_load('{$filename}');">{$filename}</a></li>
								{/if}
							{/foreach}
						</ul>

					</td>

					<td valign="top">

						<h2 id="form_list_other_api_filename" style="background: #ffc; font-weight: bold;">{$api_example_filename1}</h2>

						<div id="form_list_other_api_content_div">
							<textarea id="form_list_other_api_content" class="brush: php" style="height: 600px; width: 100%;" wrap="off">{$api_example_content1}</textarea>
						</div>

					</td>

				</tr>

			</table>

		</div>

	</div>

	<div id="form_list_other_advanced">

		<div style="margin-left: 15px;">

			<div class="h2_wrap">
				<h3 onclick="adesk_dom_toggle_class('formlinkspanel', 'h2_content_invis', 'h2_content');">{"Other Forms of Allowing Users To Subscribe - VIA LINK"|alang}</h3>
				<div id="formlinkspanel" class="h2_content_invis">

				  <div class="question">{"Link to complete subscription form with option to subscribe to multiple lists"|alang}</div>
				  <div class="answer">{"To link to the subscription form with giving the user the ability to subscribe to multiple lists, simply create a link pointing to:"|alang}</div>
				  <div class="explanation">{$site.p_link}/index.php?action=subscribe&amp;nl={if intval($nl) > 0}{$nl}{else}[LISTID]{/if}</div>

				  <hr width="100%" size="1" noshade />

				  <div class="question">{"Link to complete subscription form without option to subscribe to multiple lists"|alang}</div>
				  <div class="answer">{"To link to the subscription form without giving the user the ability to subscribe to multiple lists, simply create a link pointing to:"|alang}</div>
				  <div class="explanation">{$site.p_link}/index.php?action=subscribe&amp;mlt=no&amp;nl={if intval($nl) > 0}{$nl}{else}[LISTID]{/if}</div>

				  <hr width="100%" size="1" noshade />

				  <div class="question">{"Link to UN-Subscribe form without option to unsubscribe from multiple lists"|alang}</div>
				  <div class="answer">{"To link to the UN-subscribe form without giving the user the ability to unsubscribe from multiple lists, simply create a link pointing to:"|alang}</div>
				  <div class="explanation">{$site.p_link}/index.php?action=unsubscribe&amp;mlt=no&amp;nl={if intval($nl) > 0}{$nl}{else}[LISTID]{/if}</div>

				</div>
			</div>

			<div class="h2_wrap">
			  <h3 onclick="adesk_dom_toggle_class('formredirectpanel', 'h2_content_invis', 'h2_content');">{"Optional Redirection Pages - Further Information"|alang}</h3>
			  <div id="formredirectpanel" class="h2_content_invis">

			    <ul>
			      <li>{"By entering a url in any of the fields, the user will be redirected to that url when the action takes place.<br />IE: you enter http://www.example.com/thanks.htm in the &quot;Successful Completed Subscription URL&quot; field. Then when a user successfully subscribes to your list he or she would be redirected to http://www.example.com/thanks.htm instantly upon filling out the initial form. The users information will be added to your list in the background while redirection is taking place."|alang}</li>
			      <li>{"Pre-Confirmed Subscription URL or Pre-Confirmed Un-Subscription URL will only be used when you have Require Opt-In/Opt-Out turned on."|alang}</li>
			      <li>
			      {"You may further customize your redirection pages by including the system generated messages within your redirection page."|alang}<br />
			      {"Here's how it works:  When processing a subscriber's information, the system will generate two variables containing the necessary information."|alang}<br /><br />

			      {"The first variable is a comma seperated string containing all the IDs of your lists,"|alang}
			      {"and the second variable is a comma seperated string containing message codes for each list in the first string."|alang}<br /><br />

			      {"For example, let's say our lists variable contains \"1,4,2,7\", and the message codes variable contains \"4,8,5,2\"."|alang}<br /><br />

			      {"This would be interpreted like this:"|alang}<br /><br />

			      {"List 1: Message code 4,"|alang}<br />
			      {"List 4: Message code 8,"|alang}<br />
			      {"List 2: Message code 5,"|alang}<br />
			      {"List 7: Message code 2,"|alang}<br /><br />

			      {"If you copy and paste the following code sample into your redirection page (assuming it is a .php page),"|alang}
			      {"it will print out the actual message text from the two variables passed in.  You can modify this code sample to better suit your needs."|alang}<br /><br />

			      <textarea style="width:100%;" rows="20" wrap="off">{adesk_printphp str=$assemble_error_codes type='string'}</textarea>
						{*
						{adesk_printphp str=$assemble_error_codes type='string' html=true}
						{adesk_printphp str=$assemble_error_codes type='string' html=true linenumbers=true}
						*}
			    </li>
			  </ul>

			  </div>
			</div>

		</div>

	</div>

</div>
</div>