<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<section>  
  <div class="row">
    <h2>Getting Started</h2>
    <p>Let's get show you how the system works to help you get traffic, leads, sales and branding...</p>
  </div>
</section>

<section>
  <h2>Choose Campaign Type</h2>
  <div class="row">
      <div class="col-md-6">
          <a href="/aem/manage/desk.php?action=new_funnel_campaign" class="btn glc_button glc_button_large btn-lg">Create New Campaign</a>
      </div>
      <div class="col-md-6">
          <a href="/aem/manage/desk.php?action=campaign#list-01D-0-0" class="btn glc_button glc_button_large btn-lg">Existing Campaigns</a>
      </div>
  </div>
</section>


<section>
  <h2>Quick-Start Video Training</h2>
  <div class="row">
      <div class="col-md-12">
      
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#step1">Step 1</a></li>
            <li role="presentation"><a data-toggle="tab" href="#step2">Step 2</a></li>
            <li role="presentation"><a data-toggle="tab" href="#step3">Step 3</a></li>
            <li role="presentation"><a data-toggle="tab" href="#step4">Step 4</a></li>
            <li role="presentation"><a data-toggle="tab" href="#step5">Step 5</a></li>
            <li role="presentation"><a data-toggle="tab" href="#step6">Step 6</a></li>
          </ul>
          
          <div class="tab-content">
        <div id="step1" class="tab-pane fade in active">
          <br>
          <h2>VIDEO 1 GOES HERE</h2>
          <h1>Quick Links & Downloads</h1>
        </div>
        <div id="step2" class="tab-pane fade">
          <br>
          <h2>VIDEO 2 GOES HERE</h2>
          <h1>Quick Links & Downloads</h1>
        </div>
      </div>
      </div>
  </div>
</section>
