{if !$is_campaign_new}

<div style="float:right;">
 
    
    <div style=
          "PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px">
		<input type="text" name="search" id="search_box" onkeypress="{literal}adesk_dom_keypress_doif( event, 13, function() { main_search($('search_box').value) } );{/literal}" /><div class="search_button" onclick="main_search($('search_box').value);" style="height:10px;">
		{"Search"|plang}
	</div>
	</div>
    
	
    
    

</div>



{/if}
