    <div id="general" class="adesk_block">

      <div class="h2_wrap_static">
        <h2>{"List Info"|alang}</h2>
        <div class="adesk_blockquote">
          <table border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td colspan="2">
                {"Name of List"|alang}<br />
                <input name="name" type="text" id="nameField" value="" size="50" style="width:300px;" onblur="setSafeTitle(this.value);" tabindex="1" />{"This is used in the public archive and also in the administrative section.  Lists are used to group sets of subscribers"|help}
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <div><a href="#" onclick="adesk_dom_toggle_class('otherpanel', 'adesk_hidden', 'adesk_block');return false;" tabindex="2">{"Additional & Advanced Settings"|alang}</a></div>
        <div id="otherpanel" class="adesk_hidden" style="margin-top: 10px;">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="2">
                {"Select:"|alang}
                <a href="#" onclick="adesk_form_check_selection_element_all('otherpanel', true);return false;">{"All"|alang}</a>
                &middot;
                <a href="#" onclick="adesk_form_check_selection_element_all('otherpanel', false);return false;">{"None"|alang}</a>
              </td>
            </tr>
            <tr>
              <td>{"Allow duplicate emails to subscribe"|alang}</td>
              <td><input type="checkbox" name="p_duplicate_subscribe" id="duplicatesubscribePField" value="1" /> {"Check this option if you would like to allow subscribers to subscribe multiple times to this list with the same email address."|help}</td>
            </tr>
            <tr>
              <td>{"Allow duplicate emails to be sent"|alang}</td>
              <td><input type="checkbox" name="p_duplicate_send" id="duplicatesendPField" value="1" /> {"Check this option if you would like to allow a single campaign to be sent to a single email address multiple times.  Multiple emails would only be sent if an email is subscribed multiple times to the same list."|help}</td>
            </tr>
            <tr>
              <td>{"Ask for reason for unsubscription"|alang}</td>
              <td><input type="checkbox" name="get_unsubscribe_reason" id="unsubreasonPField" value="1" /> {"If you check this option your subscribers will be asked why they unsubscribed after they unsubscribe from this list.  Subscribers do not necesarily have to give a reason when they unsubscribe - but this option asks them to submit their reason if they would like to share that information."|help}</td>
            </tr>
            <tr>
              <td>{"Send last campaign to new subscribers"|alang}</td>
              <td><input type="checkbox" name="send_last_broadcast" id="lastbroadcastPField" value="1" /> {"If you check this option all new subscribers will be sent a copy of the last campaign you sent immediately upon subscribing."|help}</td>
            </tr>
            <tr>
              <td>{"Use Captcha Image"|alang}</td>
              <td>
{if $site.gd}
            	<input type="checkbox" name="p_use_captcha" id="usecaptchaPField" value="1" /> {"If you check this option your subscribers will have to look at an image and enter the characters that they see in order to subscribe.  This is used to prevent automated bots or automated software from subscribing to your list."|help}
{else}
            	<input type="hidden" id="usecaptchaPField" value="0" />
            	{"Captcha requires GD library to be installed with PHP, and GD is not installed or enabled on your system. Please contact your web host to install or enable GD."|alang}
{/if}
              </td>
            </tr>
            <tr>
              <td>{"Require Name"|alang}</td>
              <td><input type="checkbox" name="require_name" id="requirenamePField" value="1" /> {"When a user subscribes they are asked to enter a name.  If you check this box it will not let them subscribe unless they enter a name"|help}</td>
            </tr>
            <tr>
              <td>{"Do not show in public section"|alang}</td>
              <td><input type="checkbox" name="private" id="privatelistPField" value="1" /> {"There is a public section where your subscribers can manage their subscription and view past campaigns.  If you check this box this list will not be shown in the public section."|help}</td>
            </tr>
            <tr>
              <td>{"Default Subscriber Name"|alang}</td>
              <td><input type="text" name="to_name" id="tonameField" value="" size="30" /> {"If you personalize a campaign with the subscribers name - and a subscriber did not enter a name - it will use this default name as their name when sending that campaign."|help} </td>
            </tr>
            <tr>
              <td>{"Send copies of campaigns to"|alang}</td>
              <td>
                <input name="carboncopy" type="text" id="carboncopyField" value="" size="30" />
                {"All campaigns sent to this list will be sent to the provided email address(es). Separate multiple emails by comma"|help}
              </td>
            </tr>
            <tr>
              <td>{"Public URL Short Name"|alang}</td>
              <td>
                <input name="stringid" type="text" id="stringidField" value="" size="30" onblur="setSafeTitle(this.value);" />
                {"If search-friendly URLs are used, this list can have a human readable ID that will be a part of the links."|help}
              </td>
            </tr>
            <tr>
              <td>{"Subscription notification email"|alang}</td>
              <td>
                <input name="subscription_notify" type="text" id="subscriptnotifyField" value="" size="30" />
                {"Whenever a subscriber subscribes to this list, the system will send an email to these recipients. Separate multiple emails by comma"|help}
            </tr>
            <tr>
              <td>
                {"Unsubscription notification email"|alang}<br /></td>
              <td>
                <input name="unsubscription_notify" type="text" id="unsubscriptnotifyField" value="" size="30" />
                {"Whenever a subscriber unsubscribes from this list, the system will send an email to these recipients. Separate multiple emails by comma"|help}
              </td>
            </tr>

{if adesk_admin_ismaingroup()}
            <tr>
              <td>
                {"List Owner"|alang}<br /></td>
              <td>
                <select name="userid" id="useridField" size="1">
{foreach from=$groupsList item=g}
                  <optgroup label="{$g.title}">
{foreach from=$g.admins item=u}
                    <option value="{$u.id}">{$u.username}</option>
{/foreach}
                  </optgroup>
{/foreach}
                </select>
                {"The user who owns the list will determine which branding settings the list uses."|help}
              </td>
            </tr>
            
            
                        <tr>
              <td>
                {"Additional List Owners<br />(comma separated user ids)"|alang}<br /></td>
              <td>
                <input name="additional_owners" type="text" id="additionalownersField" value="" size="30" />
                {"If you want to allow access to this list to additonal users, type the comma separated userids. For e.g: 5(for single user,no comma) or 5,6,7. If you dont know user's userid contact administrators or get it from admin->users(if you have access to admin panel)"|help}
              </td>
            </tr>
            
            
{else}
<input type="hidden" name="userid" id="useridField" />
{/if}

          </table>
        </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

	  <br />

      <div class="h2_wrap_static">
        <h2>{"Your Contact Information"|alang}</h2>
        <div class="adesk_blockquote">
{if !$__ishosted and !$admin.forcesenderinfo}
          <div class="adesk_help_inline" style="font-size:12px;">{"This information is what your contacts will see specific to each campaign."|alang}</div>
{/if}
          <table border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td colspan="2">
                {"Company (or Organization)"|alang}<br />
                <input name="sender_name" type="text" id="sendernameField" value="" size="50" tabindex="3" style="width:300px;" onkeyup="list_form_sender_livepreview(this.value, 'company', 1);" />
              </td>

	              <td rowspan="4">&nbsp;</td>
	              <td rowspan="4" valign="top" width="350">
					  <div class="adesk_help_inline" style="font-size:12px; width:300px; {if !$__ishosted}display:none{/if}">
	              		{"Your senders contact information is required for compliance with email sending laws."|alang}
						<div style="font-size:11px; margin-top:10px;">{"The company name and address will be included in the footer of all of your emails sent. A preview is below:"|alang}</div>
						<div style="font-size:10px;padding:5px; background:#FCFCF2; border:1px dotted #ccc; margin-top:10px;">
							<span style="text-decoration:underline;">{"Unsubscribe"|alang}</span><br>
							<br />
							<span id="sender_company_display">{"Your Company"|alang}</span><br />
							<span id="sender_address1_display">{"Address"|alang}</span>, <span id="sender_address2_display">{"Suite/Apt"|alang}</span>,<br />
							<span id="sender_city_display">{"City"|alang}</span>, <span id="sender_state_display">{"State"|alang}</span> <span id="sender_zip_display">{"ZIP"|alang}</span><br />
							<span id="sender_country_display">{"Country"|alang}</span>
						</div>
					</div>
	              </td>
            </tr>

            <tr>
              <td colspan="2">
                {"Address"|alang}<br />
                <input name="sender_addr1" type="text" id="senderaddr1Field" value="" size="50" tabindex="4" style="width:300px;" onkeyup="list_form_sender_livepreview(this.value, 'address1', 1);" /><br />
                <input name="sender_addr2" type="text" id="senderaddr2Field" value="" size="50" tabindex="5" style="width:300px;" onkeyup="list_form_sender_livepreview(this.value, 'address2', 1);" />
              </td>
            </tr>

            <tr>
              <td>
                {"City"|alang}<br />
                <input name="sender_city" type="text" id="sendercityField" value="" size="20" tabindex="6" style="width:140px;" onkeyup="list_form_sender_livepreview(this.value, 'city', 1);" />
              </td>
              <td>
                {"State, Province, or Region"|alang}<br />
                <input name="sender_state" type="text" id="senderstateField" value="" size="20" tabindex="7" style="width:140px;" onkeyup="list_form_sender_livepreview(this.value, 'state', 1);" />
              </td>
            </tr>
            <tr>
              <td>
                {"Zip or Postal Code"|alang}<br />
                <input name="sender_zip" type="text" id="senderzipField" value="" size="20" tabindex="8" style="width:140px;" onkeyup="list_form_sender_livepreview(this.value, 'zip', 1);" />
              </td>
              <td>
                {"Country"|alang}<br />
                <input name="sender_country" type="text" id="sendercountryField" value="" size="20" tabindex="9" style="width:140px;" onkeyup="list_form_sender_livepreview(this.value, 'country', 1);" />
              </td>
            </tr>
            <tr style="display:none;">
              <td width="50%">&nbsp;

              </td>
              <td>
                {"Phone #"|alang}<br />
                <input name="sender_phone" type="text" id="senderphoneField" value="" size="20" style="width:140px;" />
              </td>
            </tr>

          </table>
        </div>
      </div>

    </div>
