<div id="optinout" class="adesk_block" {if count($optsetsList) < 2}style="display:none"{/if}>
      <div id="optinoutchoose" class="adesk_block">
		<div class="h2_wrap_static">
		<br />

          <h2>{"Choose an Email Confirmation Set for this list:"|alang}</h2>
		  <div class="adesk_blockquote">
            <select id="optinoutidField" name="optid" size="1" style="width:310px;">
{foreach from=$optsetsList item=o}
              <option value="{$o.id}">{$o.name}</option>
{/foreach}
            </select>
            <br />
{if $admin.pg_list_opt}
{if false}
        	<a href="desk.php?action=optinoptout" onclick="optinout_get($('optinoutidField').value);return false;">{"Manage"|alang}</a>
        	<a href="desk.php?action=optinoptout#form-0" onclick="optinout_get(0);return false;">{"Add New"|alang}</a>
{/if}

            {* MODAL FOR ADDING NEW ONE *}
            <div id="optinoutnew" class="adesk_hidden">
              {include file="form.optinoptout.inc.htm"}
              <input type="hidden" value="0" id="hiddenOptinId" />
              <br />
              <div>
                <input type="button" id="optinout_form_save" class="adesk_button_save" value="{"Save"|alang}" onclick="optinout_set();" />
                <input type="button" id="optinout_form_cancel" class="adesk_button_back" value="{"Cancel"|alang}" onclick="$('optinoutnew').className = 'adesk_hidden';" />
              </div>
            </div>
{/if}
          </div>
        </div>
      </div>
    </div>
