<div id="form" class="adesk_hidden">
  <form method="POST" onsubmit="list_form_save(list_form_id); return false">
    <input type="hidden" name="id" id="form_id" />

  <h1 id="list_title_add">{"Add new list for your campaign"|alang}</h1>
  <h1 id="list_title_edit">{"Edit This List"|alang}</h1>

    {include file="list.form.settings.inc.htm"}
    {include file="list.form.optinoptout.inc.htm"}
	{if $admin.pg_list_bounce}
    {include file="list.form.bounce.inc.htm"}
	{/if}
    {include file="list.form.external.inc.htm"}

    <br />
    <div>
      <input type="button" id="form_submit" class="adesk_button_submit" value="{"Create campagin list"|alang}" onclick="list_form_save(list_form_id)" />
      <input type="button" id="form_back" class="adesk_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
    </div>
    <input type="submit" style="display:none"/>
  </form>
</div>

<div id="added" class="adesk_modal" align="center" style="display: none">
  <div class="adesk_modal_inner">
    <h1>{"Your list has been added"|alang}</h1>
    <div>{"Now that your list has been added you can start adding subscribers to your list so that you can send a campaign."|alang}</div>
    <br />
    <div>
      <input type="button" class="adesk_button_ok" value="{"Add Subscriber"|alang}" onclick="window.location.href='desk.php?action=subscriber#form-0';" />
      <input type="button" class="adesk_button_ok" value="{"Import Subscribers"|alang}" onclick="window.location.href='desk.php?action=subscriber_import';" />
      <input type="button" class="adesk_button_close" value="{"Manage Lists"|alang}" onclick="adesk_dom_display_none('added'); adesk_ui_anchor_set(list_list_anchor())" />
    </div>
  </div>
</div>
