<div id="sublimit" class="adesk_modal" style="display:none">
  <div class="adesk_modal_inner">
	{if $__ishosted}
	<h1>{"Unable to delete at this time..."|alang}</h1>

	<p>{"We have noticed a substantial amount of deletions taking place--well over two times your subscriber limit, to be precise."|alang}</p>

	<p>{"This type of importing and deleting subscribers automatically flags your account as a potential sending risk.  You should never need to delete and re-import your subscribers multiple times within a given month."|alang}</p>

	<p>{"This deletion limit will be reduced with your next billing cycle--but if a lot of importing/deleting occurs in the near future it could subject your account to suspension."|alang}</p>

	<input type="button" onclick="$('sublimit').hide()" value='{"OK"|alang}' class="adesk_button_ok">
	{/if}
  </div>
</div>

<div id="list" class="adesk_hidden">
  <h1>{"Lists"|alang}<span id="list_list_count" class="adesk_hidden"></span></h1>

  <form action="desk.php?action=list" method="GET" onsubmit="list_list_search(); return false">
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr class="adesk_table_header_options">
        <td align="right">
          <div>
            <input type="text" name="qsearch" id="list_search" />
            <input type="button" value='{"Search"|alang}' onclick="list_list_search()" />
            <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="list_list_clear(); " />
            &nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="adesk_table_header">
          <td align="center" width="20">
            <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="adesk_form_check_selection_all(this, $('selectXPageAllBox'))" />
          </td>
          <td style="width: 170px;">{"Options"|alang}</td>
		  <td>{adesk_headercol action="list" id="01" label="List Name"|alang}</td>
		  <td width="80" align="center">{adesk_headercol action="list" id="02" label="Subscribers"|alang}</td>
		  <td width="80" style="display:none;" align="center">{adesk_headercol action="list" id="03" label="Campaigns Sent"|alang}</td>
		  <td width="80" style="display:none;" align="center">{adesk_headercol action="list" id="04" label="Emails Sent"|alang}</td>
        </tr>
      </thead>
      <tbody id="list_table">
      </tbody>
    </table>
    <div id="list_noresults" class="adesk_hidden">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
    <div style="float:right">
      {include file="pagination.js.tpl.htm" tabelize="list_list_tabelize" paginate="list_list_paginate" limitize="list_list_limitize"}
    </div>
    <div id="loadingBar" class="adesk_hidden" style="background: url(../awebdesk/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
      {"Loading. Please wait..."|alang}
    </div>
    <span id="selectXPageAllBox" class="adesk_hidden">
      <span class="adesk_hidden">{"All items are now selected."|alang}</span>
      <span class="adesk_hidden">{"All items on this page are now selected."|alang}</span>
      <a class="adesk_hidden" href="#" onclick="return adesk_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
    </span>
  </form>

  <br />
  
  {if $admin.pg_list_delete}
  <input type="button" id="list_delete_button" value="{"Delete Selected"|alang}" onclick="adesk_ui_anchor_set('delete_multi')" />
  {/if}
  {if $canAddList}
  <input type="button" value="{"Add"|alang}" onclick="adesk_ui_anchor_set('form-0')" />
  {/if}


  <div id="send_test_email" class="adesk_modal" align="center" style="display:none;">
  <div class="adesk_modal_inner" align="left">
	<h1>{"Copy list:"|alang} LISTNAMEHERE</h1>

  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td width="100">{"New list name"|alang}</td>
      <td><input name="name" id="name" type="text"></td>
    </tr>
    <tr>

      <td>{"Default from email"|alang}</td>
      <td><input name="email" id="email" type="text"></td>
    </tr>
	<tr>
	<td>&nbsp;</td>
	</tr>
    <tr>
      <td>
      </td><td>
		      <input name="clone_settings" id="clone_settings" value="1" checked="checked" type="checkbox">{"Copy List Settings"|alang}
		      <br><input name="clone_settings" id="clone_settings" value="1" checked="checked" type="checkbox">{"Copy Subscriber Fields"|alang}
		      <br><input name="clone_autoresponders" id="clone_autoresponders" value="1" checked="checked" type="checkbox">{"Copy Messages"|alang}
		      <br><input name="clone_templates" id="clone_templates" value="1" checked="checked" type="checkbox">{"Copy Templates"|alang}
              <br><input name="clone_cheaders" id="clone_cheaders" value="1" checked="checked" type="checkbox">{"Copy Email Headers"|alang}
			  <br />
			  <br><input name="clone_users" id="clone_users" value="1" checked="checked" type="checkbox">{"Copy Subscribers"|alang}
      </td>
    </tr>

  </table>



	<br />
    <div>
      <input type="button" value='{"Copy List"|alang}' onclick="campaign_actions_save();" class="adesk_button_ok" />
      <input type="button" value='{"Cancel"|alang}' onclick="adesk_dom_toggle_display('link_actions', 'block');" />

    </div>
</div>
</div>


</div>