<div id="copy" class="adesk_modal_delete" align="center" style="display: none">
  <div class="adesk_modal_inner">
    <h1>{"Copy List"|alang}</h1>
    <span id="copy_message"></span>
    <br />
	<br />
	<div id="copy_pref">
	  <input type="checkbox" id="copy_bounce" name="copy_bounce"                   value="1" checked="checked"> {"Bounce Settings"|alang}<br>
	  <input type="checkbox" id="copy_exclusion" name="copy_exclusion"             value="1" checked="checked"> {"Exclusions"|alang}<br>
	  <input type="checkbox" id="copy_filter" name="copy_filter"                   value="1" checked="checked"> {"Sending Filters"|alang}<br>
	  <input type="checkbox" id="copy_header" name="copy_header"                   value="1" checked="checked"> {"Custom Email Headers"|alang}<br>
	  <input type="checkbox" id="copy_personalization" name="copy_personalization" value="1" checked="checked"> {"Personalization"|alang}<br>
	  <input type="checkbox" id="copy_template" name="copy_template"               value="1" checked="checked"> {"Templates"|alang}<br>
	  <input type="checkbox" id="copy_field" name="copy_field"                     value="1" checked="checked"> {"Custom Subscriber Fields"|alang}<br>
	  <input type="checkbox" id="copy_form" name="copy_form"                       value="1" checked="checked"> {"Subscription Forms"|alang}
	  <div style="margin-top:10px;">
	    <input type="checkbox" id="copy_subscriber" name="copy_subscriber"      value="1"> {"Subscribers"|alang}<br>
	  </div>
	</div>
    <br />
    <div>
      <input type="button" class="adesk_button_ok" value="{"OK"|alang}" onclick="list_copy(list_copy_id)" />
      <input type="button" class="adesk_button_cancel" value="{"Cancel"|alang}" onclick="$('copy').style.display = 'none'; adesk_ui_anchor_set(list_list_anchor())" />
    </div>
  </div>
</div>
