<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html style="min-width:800px;">
  <head>
{if $ieCompatFix}
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
{/if}
    <meta http-equiv="Content-Type" content="text/html; charset={"utf-8"|i18n}" />
    <meta http-equiv="Content-Language" content="{"en-us"|i18n}" />
 <meta name="robots" content="noindex,nofollow">
    {* Don't escape site_name here, since the title element is CDATA *}
    <title>{$site.site_name} - {$pageTitle}</title>
    <script type="text/javascript" src="../awebdesk/js/jquery-1.2.6.min.js"></script>
    {adesk_js lib="scriptaculous/prototype.js"}
    {adesk_js lib="scriptaculous/scriptaculous.js"}
        <script language="JavaScript" type="text/javascript" src="js/jsmodules.js"></script>
    <script language="JavaScript" type="text/javascript" src="js/jsv6.js"></script>
    {foreach from=$header_lines item=line}
    {$line}
    {/foreach}
        <link href="templates/classic/css/default.css" rel="stylesheet" type="text/css" />
 
      <link media="screen" href="templates/classic/css/grids-min.css" type="text/css" rel="stylesheet" />
  <link media="screen" href="templates/classic/css/awebdeskstyle.css" type="text/css" rel="stylesheet" />
  <link media="print" href="templates/classic/css/print.css" type="text/css" rel="stylesheet" />

{if isset($site.template_css) and $site.template_css}
<style>
{$site.template_css}
</style>
{/if}
    {adesk_js base="" src="awebdeskjs.php"}
    
    
    
    <script>
      {include file="strings.js"}
      <!--

      {* global js vars *}
      {jsvar name=datetimeformat var=$site.datetimeformat}
      {jsvar name=dateformat var=$site.dateformat}
      {jsvar name=timeformat var=$site.timeformat}

      {jsvar name=adesk_action var=$action}
      {jsvar name=plink var=$plink}

      {jsvar name=nl var=$nl}

      var apipath = "{$plink}/manage/awebdeskapi.php";
      var acgpath = "{$plink}/awebdesk";

      var paginator_b64 = false;

{if !$__ishosted and !$smarty.session._adesk_disablespawning}
      // stalled processes restarter
      adesk_ajax_call_url('process.php', null, null);
      {literal}
      // cron restarter - run every 5 minutes
      var cronTimer = window.setInterval(
        function() {
            adesk_ajax_call_url('cron.php', null, null);
        },
        10 * 60 * 1000 // every 10 minutes
      );
      {/literal}
{/if}
      -->
    </script>
  </head>
  {php} flush(); {/php}
<body class="yui-skin-sam">
    <script language="JavaScript" type="text/javascript" src="../awebdesk/editor_tiny/tiny_mce.js?_v=3.4.3.2"></script>

    <div id="adesk_loading_bar" class="adesk_hidden"><span id="adesk_loading_text">{"Loading..."|alang}</span></div>
    <div id="adesk_result_bar" class="adesk_hidden"><span id="adesk_result_text">{"Changes Saved."|alang}</span></div>
    <div id="adesk_error_bar" class="adesk_hidden"><span id="adesk_error_text">{"Error Occurred!"|alang}</span></div>




    {if isset($site.templates)}
    {$site.templates.precontent}
    {/if}
    
    
    
    
    
    
    
    
    

  <div class="yui-t2" id="doc3">
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">
          
 
<div id="content">

<div id="admin_content">
     
  <div id="admin_side" style="width:100%;">
 
 
        { include file=$content_template }
 </div>
    </div>
    
    
    
              </div>
        </div>
     
      </div>
     
    
    
{if isset($side_content_template)}
    {if $side_content_template != ''}
          <div class="yui-b" id="sidebar">
          
          
          
          
          
          
          
          
          
          
        <div class="yui-g" id="sub_submenu">
        { include file=$side_content_template }
    </div></div>
    {/if}
    
 
     
{/if}
{if (!$side_content_template) }
          <div class="yui-b" id="sidebar" >
          
 
          
        <div class="yui-g" id="sub_submenu">
     <h2>{"Steps to Send Campaign"|alang}</h2>
     
     
<ul> 

{if $admin.pg_list_add}
    <li class="special small"><a href="desk.php?action=list#form-0"><img class="va" src="css/images/addnewlist.png" /> {"Add New List"|alang}</a></li>
{/if}
{if $canAddSubscriber}  
    <li class="special small">
        <a href="desk.php?action=subscriber#form-0"><img  class="va" src="images/user_add-32.png" width="16" height="16" /> 
            {"Add Subscriber"|alang}, or
        </a>
    </li>  
{/if}
{if $canImportSubscriber}
    <li class="special small">
        <a href="desk.php?action=subscriber_import"><img  class="va" src="images/users4_add-32.png" width="16" height="16" /> 
            {"Import Subscribers"|alang}
        </a>
    </li>     
{/if}
{if $admin.pg_message_add}
    <li class="special small">
            <a href="desk.php?action=campaign_new"><img class="va" src="images/mail_add-32-32.png" width="16" height="16" /> 
            {"Create Campaign"|alang}</a>
    </li>
{/if}

{if $admin.pg_form_add || $admin.pg_form_edit || $admin.pg_form_delete}
    {if $style_integration != ''}
        <li class="special small">
            <a href="desk.php?action=form#list-01-0-0"><img class="va" src="css/images/integration2.png" /> {"Integration"|alang}</a> 
        </li>
    {else}
        <li class="special small">
            <a href="desk.php?action=form#list-01-0-0"><img class="va" alt="Menu_dashboard" src="css/images/integration2.png" />{"Integration"|alang}</a> 
        </li>
    {/if}
{/if}

{if $admin.pg_message_add || $admin.pg_message_edit || $admin.pg_message_delete || $admin.pg_message_send}
    <li class="special small">
        <a href="desk.php?action=campaign#list-01D-0-0"><img class="va" src="css/images/campaign.png" /> {"View / Send Drafts"|alang}</a> 
    </li>
{/if}
{if $admin.pg_reports_campaign}   
    <li class="special small">
        <a href="desk.php?action=campaign&reports=1"><img  class="va" src="images/chart_pie2-32-32.png" width="16" height="16" /> 
            {"Campaign Reports"|alang}
        </a>
    </li> 
{/if}

      

          </ul>
 
</div>


  <div class="yui-g" id="sub_submenu">
{if $processesCnt or $pausedProcessesCnt}
<h2>{"Ongoing Processes"|alang}</h2>
<ul>{if $processesCnt}
        <li><a href="desk.php?action=processes#list-01-0-0"><img class="va" src="css/images/currentprocesses.png" /> {"Current Processes (%s)"|alang:$processesCnt}</a></li>{/if}
        {if $pausedProcessesCnt}
        <li><a href="desk.php?action=processes&status=paused#list-01-0-0"><img class="va" src="css/images/pausedprocesses.png" /> {"Paused Processes (%s)"|alang:$pausedProcessesCnt}</a></li>
        {/if}
</ul>
{else if}
<h2>{"Ongoing Processes"|alang}</h2>
<ul><li style="color:red; font-weight:bolder;">No Active process Now</li></ul>

{/if}

</div>


</div>
{/if}
 
 </div>
    
    
    
    
    
    

 
     


        {if isset($site.templates)}
        {$site.templates.postcontent}
        {/if}

 

<script type="text/javascript">
adesk_tooltip_init();
// set error bar for dropped api calls
var printAPIerrors = adesk_error_show;
</script>

{if $demoMode == 1}<h1 style="color:#FF0000"><strong>{"This is a demo"|alang}</strong> - {"Certain features such as sending email are disabled."|alang}</h1>{/if}

</body>
</html>
