 {if !$is_campaign_new}

 
    

 <a href="desk.php"><img class="va"
      src="css/images/Dashboard.png" /> {"Dashboard"|alang}</a> 


	{if $admin.pg_subscriber_add || $admin.pg_subscriber_edit || $admin.pg_subscriber_delete}
 <a href="desk.php?action=subscriber#list-01-0-0"><img class="va"
      src="css/images/subscribers.png" /> {"Subscribers"|alang}</a> 	{/if}

	{if $admin.pg_message_add || $admin.pg_message_edit || $admin.pg_message_delete || $admin.pg_message_send}
	 <a href="desk.php?action=campaign#list-01D-0-0"><img class="va"
      src="css/images/campaign.png" /> {"Campaigns"|alang}</a> 
	{/if}

	 {if $admin.pg_list_add || $admin.pg_list_edit || $admin.pg_list_delete || $admin.pg_subscriber_filters || $admin.pg_subscriber_fields || $admin.pg_subscriber_actions || $admin.pg_list_headers || $admin.pg_list_emailaccount || $admin.pg_list_opt || $admin.pg_list_bounce}

	 <a href="desk.php?action=list#list-01-0-0"><img class="va"
      src="css/images/lists.png" /> {"Campaign List"|alang}</a> 

     <a href="desk.php?action=form#list-01-0-0"><img class="va" src="css/images/integration2.png" /> {"Forms"|alang}</a>  
	{/if}

	{if $admin.pg_reports_campaign}
 <a href="desk.php?action=campaign&reports=1#list-01D-0-0"><img class="va"
      src="css/images/reports.png" /> {"Reports"|alang}</a> 
	{elseif $admin.pg_reports_list}
 <a href="desk.php?action=report_list#general-01-0-0"><img class="va"
      src="css/images/reports.png" /> {"Reports"|alang}</a> 
	{elseif $admin.pg_reports_user}
	 <a href="desk.php?action=report_user#general-01-0-0"><img class="va"
      src="css/images/reports.png" /> {"Reports"|alang}</a> 
	{elseif $admin.pg_reports_trend}
 <a href="desk.php?action=report_trend#general-01-0-0"><img class="va"
      src="css/images/reports.png" /> {"Reports"|alang}</a> 
	{/if}
 
 

 
{else}
 <a href="desk.php" style="z-index:999;"><img class="va"
      src="css/images/Dashboard.png" /> {"Exit To Dashboard"|alang}</a> 
	 
{/if}

 
 
 
 
 
 
 