<ul class="nav nav-tabs">
{if !$is_campaign_new}
    <!-- <li id="menu_home">
        <a href="desk.php?action=home""><img class="va" src="css/images/Dashboard.png" /> 
        {"Home"|alang}
        </a>
    </li>  -->

    <li id="menu_dashboard">
        <a href="desk.php"><img class="va" src="css/images/Dashboard.png" /> 
        {"Home"|alang}
        </a>
    </li> 

    <!-- <li id="menu_dashboard">
        <a href="/builder"><img class="va" src="css/images/lists.png" /> 
        {"Site Builder"|alang}
        </a>
    </li>  -->

    {if $admin.pg_message_add || $admin.pg_message_edit || $admin.pg_message_delete || $admin.pg_message_send}
        <li id="menu_campaign">
            <a href="desk.php?action=funnel_campaign"><img class="va" src="css/images/campaign.png" />
            {"Campaigns"|alang}
            </a>
        </li> 
    {/if}
    
    {if adesk_admin_ismain()}
        <li id="menu_templates">
            <a href="desk.php?action=templates#list-01D-0-0"><img class="va" src="css/images/campaign.png" />
            {"Templates"|alang}
            </a>
        </li> 
    {/if}

    {if $admin.pg_subscriber_add || $admin.pg_subscriber_edit || $admin.pg_subscriber_delete}
        <li id="menu_subscriber">
            <a href="desk.php?action=subscriber#list-01-0-0"><img class="va" src="css/images/subscribers.png" />
            {"Contacts"|alang}
            </a>
        </li>    
    {/if}
    
    {if adesk_admin_ismain()}
        {if $admin.pg_list_add || $admin.pg_list_edit || $admin.pg_list_delete || $admin.pg_subscriber_filters || $admin.pg_subscriber_fields || $admin.pg_subscriber_actions || $admin.pg_list_headers || $admin.pg_list_emailaccount || $admin.pg_list_opt || $admin.pg_list_bounce}
            <li id="menu_list">
                <a href="desk.php?action=list#list-01-0-0"><img class="va" src="css/images/lists.png" />
                {"Lists"|alang}
                </a>
            </li>
            <li id="menu_form">
                <a href="desk.php?action=form#list-01-0-0"><img class="va" src="css/images/integration2.png" /> 
                {"Forms"|alang}
                </a>
            </li>  
        {/if}
    {/if}
    
    {if $admin.pg_reports}
        <li id="menu_reports">
            <a href="desk.php?action=campaign&reports=1#list-01D-0-0"><img class="va" src="css/images/reports.png" /> 
            {"Reporting"|alang}
            </a>
        </li> 
    {elseif $admin.pg_reports_list}
        <li id="menu_report_list">
            <a href="desk.php?action=report_list#general-01-0-0"><img class="va" src="css/images/reports.png" />
            {"Reporting"|alang}
            </a>
        </li> 
    {elseif $admin.pg_reports_user}
        <li id="menu_report_user">
            <a href="desk.php?action=report_user#general-01-0-0"><img class="va" src="css/images/reports.png" />
            {"Reporting"|alang}
            </a>
        </li> 
    {elseif $admin.pg_reports_trend}
        <li id="menu_report_trend">
            <a href="desk.php?action=report_trend#general-01-0-0"><img class="va" src="css/images/reports.png" /> 
            {"Reporting"|alang}
            </a>
        </li> 
    {/if}
    
    <!-- <li id="menu_landingpages">
	   <a href="desk.php?action=landingpages#list-01-0-0"><img class="va" src="css/images/integration2.png" /> 
	   {"Landing Pages"|alang}
	   </a>
    </li>  --> 
    <li id="menu_landingpages">
       <a href="/hub-training"><img class="va" src="css/images/integration2.png" /> 
       {"HUB How To's"|alang}
       </a>
    </li>

{else}
    <li id="menu_dashboard">
        <a href="desk.php" style="z-index:999;"><img class="va" src="css/images/Dashboard.png" />
            {"Exit To Dashboard"|alang}
        </a>
    </li>  
{/if}
</ul>