<!-- {if $hosted_down4 != 'nobody'}
{"Due to your account status, you are unable to create any landing pages."|alang}
<a href="desk.php">{"Return to the Dashboard."|alang}</a>
{else} -->

<!-- <h1 class="step_header_text text_center">Create New Campaign</h1> -->

    <!-- Step 2 -->

    <section>
			<div class="row">
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-list-ol" aria-hidden="true"></i>
						{"Choose Campaign Type"|alang}
					</h1>

					<!-- <div class="campaign_help">
						<p class="lead text_center">
							{"Create a new Leads list or select from an existing one that you have already created.<br />Your leads are categories in your contacts section for follow-up or prospecting."|alang}<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
						</p>
					</div> -->
				</div>
			</div>

      <div class="row">

    		<div class="col-md-4 optin-campaign" style="text-align:center;">
					<div class="campaign_wrapper">
						<h1>Optin Page</h1>
						<!-- <ul>
							<li>Mix & Match Pre-designed Pages</li>
							<li>Design Page</li>
							<li>Thank you Page (Optional)</li>
							<li>Download Page (Optional)</li>
							<li>Built-in Form</li>
							<li>System Generated Email Sent to Your Lead</li>
							<li>Personal Branding</li>
							<li>Just Copy & Paste</li>
						</ul> -->
						<div class="description">
							<p>Create an Opt-in Page (sometimes known as a Squeeze Page), with a form to collect an email Address, First or Last Name or Phone Number.</p>
							<p>You can also choose to use a GLC giveaway Gift, or one of your own, or send your Visitors to URL or your choice.</p>
						</div>

						<a class="btn btn-orange btn-lg btn-custom-campaign" href="/aem/manage/desk.php?action=new_custom_campaign">
					 		<i class="fa fa-file-text-o" aria-hidden="true"></i>
					 		Create Now
				 		</a>
					</div>
				</div>

				<div class="col-md-4 done-funnels" style="text-align:center;">
					<div class="campaign_wrapper">
						<h1>DFY Funnel<br /><span style="color:red; font-weight:bold;">Coming Soon</span></h1>
						<div class="description">
							<p>Done For You (DFY) Funnel includes a Pre-Designed Optin Page with Form, a Thank You Page and a Download Page with a pre-determined giveaway gift for your Subscribers.</p>
							<p>You also have the option to edit text for each of the Pre-Designed Pages in the Site Builder.</p>
						</div>

						<!-- <ul>
							<li>Capture Page</li>
							<li>Thank You Page</li>
							<li>Download Page</li>
							<li>Built-in Form</li>
							<li>Free Giveaway (ebook, video, etc...)</li>
							<li>System Generated Email Sent to Your Lead</li>
							<li>Personal Branding</li>
							<li>Just Copy & Paste</li>
						</ul> -->

						<a class="btn btn-green btn-lg btn-done-funnels" href="/aem/manage/desk.php?action=new_premade_campaign">
							<i class="fa fa-file-text-o" aria-hidden="true"></i>
							Create Now
						</a>
					</div>
				</div>

				<div class="col-md-4 sales-option" style="text-align:center;">
					<div class="campaign_wrapper">
						<h1>Sales Page</h1>
						<div class="description">
							<p>Create a Sales Page (sometimes known as a Landing Page), is a page with NO FORM.</p> 
							<p>Sales pages are pages with one single Call To Action — to get visitors to buy something and to make a sale. They are typically used for products, programs, services, and events.</p>
						</div>

						<!-- <ul>
							<li>Capture Page</li>
							<li>Thank You Page</li>
							<li>Download Page</li>
							<li>Built-in Form</li>
							<li>Free Giveaway (ebook, video, etc...)</li>
							<li>System Generated Email Sent to Your Lead</li>
							<li>Personal Branding</li>
							<li>Just Copy & Paste</li>
						</ul> -->

						<a class="btn btn-green btn-lg btn-sales-option" href="/aem/manage/desk.php?action=new_sales_option_campaign">
							<i class="fa fa-file-text-o" aria-hidden="true"></i>
							Create Now
						</a>
					</div>
				</div>

			</div>

    </section>


<!-- {/if} -->
