<!-- {if $hosted_down4 != 'nobody'}
{"Due to your account status, you are unable to create any landing pages."|alang}
<a href="desk.php">{"Return to the Dashboard."|alang}</a>
{else} -->

<!-- <h1 class="step_header_text text_center">Create New Campaign</h1> -->

    <!-- Step 2 -->

    <section>
			<div class="row">
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-list-ol" aria-hidden="true"></i>
						{"Leads List"|alang}
					</h1>

					<div class="campaign_help">
						<p class="lead text_center">
							{"Create a new Leads list or select from an existing one that you have already created.<br />Your leads are categories in your contacts section for follow-up or prospecting."|alang}<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
						</p>
					</div>
				</div>
			</div>

      <div class="row">

    		<div class="col-md-4 col-md-offset-2">
			 		<a class="btn btn-lg btn-custom-campaign" href="/aem/manage/desk.php?action=new_custom_campaign">
				 		<i class="fa fa-file-text-o" aria-hidden="true"></i>
				 		<span>Create Campaign</span>
			 		</a>
				</div>

				<div class="col-md-4">
					<a class="btn btn-lg btn-done-funnels" href="/aem/manage/desk.php?action=new_premade_campaign">
						<i class="fa fa-list-alt" aria-hidden="true"></i>
						<span>Done For Your Funnels</span>
					</a>
				</div>
			</div>

    </section>


<!-- {/if} -->
