<!-- {if $hosted_down4 != 'nobody'}
{"Due to your account status, you are unable to create any landing pages."|alang}
<a href="desk.php">{"Return to the Dashboard."|alang}</a>
{else} -->

<h1>Create Landing Page</h1>

<form method="POST" action="/aem/manage/functions/funnel_campaign.php" id="create-funnel-campaign">
<input type="hidden" name="action" value="list_insert_post">

    <h3>Select Funnel Type</h3>
    <section>
        <div class="col-md-12">
			<h1>
				{"Name Your Landing Page"|alang}
			</h1>
			<div class="campaign_help">
				<p class="lead">
				{"Enter a name to help you remember what this campaign is all about.  Only you will see the campaign name.  Your subscribers will not see this."|alang}
				</p>
			</div>
			<div class="campaign_input form-group">
				<input type="text" class="form-control" value="" id="landing-page-name" name="landing-page-name"  />
				<div id="landing-page-name-error"></div>
			</div>
			
			<h1>
				{"Describe Your Landing Page"|alang}
			</h1>
			<div class="campaign_help">
				<p class="lead">
				{"Short description for your landing page.  Only you will see the landing page description.  Your subscribers will not see this."|alang}
				</p>
			</div>
			<div class="campaign_input form-group">
				<textarea class="form-control" value="" id="landing-page-description" name="landing-page-description"></textarea>
			</div>

			<h1>
				{"Select Funnel Type"|alang}
			</h1>
			<div class="campaign_help">
				<p>
				{"Select the funnel type below to help you determine the correct funnel type this is all about."|alang}
				</p>
			</div>
        	<div class="radio form-group">
	        	<label class="radio-inline acquisition">
					<input type="radio" id="landing-page-type" name="landing-page-type" value="acquisition" class="radio" /> Acquisition
				</label>
			</div>
			
			<div class="radio">
	        	<label class="radio-inline activation">
					<input type="radio" id="landing-page-type" name="landing-page-type" value="activation"  class="radio" /> Activation
				</label>
			</div>

			<div class="radio">
	        	<label class="radio-inline monetization">
					<input type="radio" id="landing-page-type" name="landing-page-type" value="monetization"  class="radio" /> Monetization
				</label>
			</div>
        </div>
        <div class="col-md-12" id="landing-page-type-error"></div>
    </section>
    <h3>Create Your List</h3>
    <section>
        <div class="row">
	        <div class="col-md-12">
		        <div class="campaign_help">
		        	<p class="lead">You need to create a list for your funnel. Click the button below to create a new list or select an existing list below. If you create a new list, refresh the list below by clicking the "Refresh List" button to select your newly created list. <!-- We will record the list ID and save it in our database table for tracking purposes. --></p>
	        	</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-8 col-md-offset-2" style="text-align:center;">
		        <a href="/aem/manage/desk.php?action=list#form-0" class="btn btn-primary btn-lg steps-btn" target="_blank">Create a List</a>
        	</div>
        </div>
        <hr />
        <div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">
					<label for="">Select List: </label>
					<select class="form-control" id="landing-page-list-id" name="landing-page-list-id"></select>
					<div id="landing-page-list-id-error"></div>
					<button id="refresh_list_list">Refresh List</button>
				</div>
			</div>
        </div>
    </section>
    <h3>Generate Form Code</h3>
    <section>
 		<div class="row">
	        <div class="col-md-12">
	        	<div class="campaign_help">
	        		<p class="lead">You need to generate a form for your campaign. Click the button below to generate a new form snippet or select an existing form below.</p>
	        	</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-8 col-md-offset-2" style="text-align:center;">
		        <a href="/aem/manage/desk.php?action=form#form-0" class="btn btn-primary btn-lg steps-btn" target="_blank">Generate New Form</a>
		        <!-- <br />
		        <br />
		        <a href="/aem/manage/desk.php?action=form#list-01-0-0" class="btn btn-primary btn-lg steps-btn" target="_blank">Select an Existing Form</a> -->
        	</div>
        </div>
        <!-- <hr />
        <div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">
					<label for="">Select Form: </label>
					<select class="form-control" id="landing-page-form-id" name="landing-page-form-id"></select>
					<button id="refresh_form_list">Refresh List</button>
				</div>
			</div>
        </div> -->
    </section>
    
    <!-- Step 4 -->
    <h3>Create Your Landing Page</h3>
    <section>
        <div class="row">
			<div class="col-md-12">
				<div class="campaign_help">
					<p class="lead">
						Click the link below to open our GLC Page Builder and create your awesome landing page.
						After Generating your page, copy the URL and paste in the box below.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
        	<div class="col-md-8 col-md-offset-2" style="text-align:center;">
		        <a href="/builder" class="btn btn-primary btn-lg steps-btn" target="_blank">Open Page Builder!</a>
        	</div>
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">
					<label for="">Page URL: </label>
					<input type="text" class="form-control" id="landing-page-url" name="landing-page-url">	
					<div id="landing-page-url-error"></div>
				</div>
			</div>
        </div>
    </section>
    <!-- Step 5 -->
    <h3>Done!</h3>
    <section>
    	<div class="row">
			<div class="col-md-12">
				<div class="campaign_help">
        			<p class="lead">Congratulations! You just finished creating your landing page. You can visit your newly created landing page via the link below:</p>
        		</div>
        	</div>
        </div>
        <div class="done_step row">
        	<div class="col-md-12">
				<p class="lead" style="text-align:center;" id="funnel_link"></p>
			</div>
        </div>
    </section>

	<!-- Step 6 -->
	<h3>Start Your Promotion</h3>
    <section>
        <div class="row">
			<div class="col-md-12">
				<!-- Insert Description -->
				<div class="campaign_help">
					<p class="lead">Share your landing page via our social media sharer tools.</p>
				</div>
			</div>
        	
        	<div class="col-md-8 col-md-offset-2" style="text-align:center;">
		        <a href="#" class="btn btn-primary btn-lg steps-btn">Facebook</a>
		        <a href="#" class="btn btn-primary btn-lg steps-btn">Twitter</a>
		        <a href="#" class="btn btn-primary btn-lg steps-btn">Email</a>
        	</div>
        </div>
    </section>
</form>

<!-- {/if} -->


