<!-- {if $hosted_down4 != 'nobody'}
{"Due to your account status, you are unable to create any landing pages."|alang}
<a href="desk.php">{"Return to the Dashboard."|alang}</a>
{else} -->

<!-- <h1 class="step_header_text text_center">Create New Campaign</h1> -->
<div class="custom_campaign">
<form method="POST" action="/aem/manage/functions/funnel_campaign.php" id="create-funnel-campaign">
<input type="hidden" name="action" value="list_insert_post">
	<!-- Progressbar -->
	<div class="progressbar_wrapper">
		<!-- <div class="progress_indicator_txt"><span></span></div> -->
		<div id="step-progressbar" class="step-progressbar"></div>
	</div>




	<!-- Step 1 -->
    <h3> {"Name Optin Campaign"|alang}</h3>
    <section>
    	<div class="row">
	        <div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-line-chart" aria-hidden="true"></i>
					{"Name Optin Campaign"|alang}
				</h1>

				<div class="campaign_help">
					<p class="lead text_center">
					{"Hint: Your campaign name should be similar to your offer. "|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
					</p>
				</div>
				<div class="campaign_input form-group">
					<div class="col-md-6 col-md-offset-3">
						<input type="text" class="form-control input-lg" value="" id="landing-page-name" name="landing-page-name" placeholder="i.e. CL offer" title="Your Campaign Name">
						<div id="landing-page-name-error"></div>
					</div>
				</div>

	        </div>
	    </div>
	    <div class="row">
	    	<div class="col-md-12">
				<div class="campaign_input form-group">
					<div class="col-md-6 col-md-offset-3">
						<!-- <input type="text" class="form-control input-lg" value="" id="landing-page-name" name="landing-page-name" placeholder="i.e. CL offer" title="Your Campaign Name"> -->
						<textarea class="form-control input-lg" id="landing-page-description" name="landing-page-description" placeholder="describe your campaign" rows="5"></textarea>
						<div id="landing-page-description-error"></div>
					</div>
				</div>
			</div>
	    </div>
    </section>

    <!-- Step 2 -->
    <h3> {"Leads List"|alang}</h3>
    <section>
        <div class="row">
	        <div class="col-md-12">
	        	<h1 class="step_header_text">
	        		<i class="fa fa-list-ol" aria-hidden="true"></i>
					{"Leads List"|alang}
				</h1>

		        <div class="campaign_help">
		        	<p class="lead text_center">
		        		{"Create a new Leads list or select from an existing one that you have already created.<br />Your leads are categories in your contacts section for follow-up or prospecting."|alang}<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
		        	</p>
	        	</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12">
        		<div class="col-md-4 col-md-offset-2">
			 		<div class="steps-btn newlist_btn" title="Create a New List">
				 		<i class="fa fa-file-text-o" aria-hidden="true"></i>
				 		<span>Create New List</span>
			 		</div>
				</div>
			    <div class="col-md-4">
			 		<div class="steps-btn select_existing_list" title="Select Existing List Here">
			 			<i class="fa fa-list-alt" aria-hidden="true"></i>
			 			<span>Select Existing List</span>
			 		</div>
				</div>
			</div>
        </div>
        <br>
        <div id="new_list_div" class="new_list_div" style="display:none;">
        	<br>
        	<div class="row" >

				<div id="create_new_list_title">
					<div class="row">

				  		<div class="col-md-8 col-md-offset-2">
							<div class="form-group">
								<label for=""><span class="required_field">*</span> List Name</label>
								<input type="text" class="form-control input-lg" id="list_name" name="list_name" required title="Name of your list.">
								<div id="list_name-error"></div>
							</div>
						</div>
					</div>

					<div class="row">
				  		<div class="col-md-8 col-md-offset-2">
							<div class="alert alert-warning">You must add at least ONE email address to create your new list. You can add any email address, even a made up email address; madeup@email.com.</div>
						</div>
					</div>

					<div class="row">
				  		<div class="col-md-8 col-md-offset-2">
							<div class="form-group">
								<label for=""><span class="required_field">*</span> Add Required Email</label>
								<input type="email" class="form-control input-lg" id="subscriber_email" name="subscriber_email" placeholder="madeup@email.com" required>
								<div id="subscriber_email-error"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

        </div>

        <div class="row" id="select_existing_list_div">
        	<!-- <hr style="margin-bottom:40px;"> -->
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">
					<!-- <label for="">Add new campaign subcribers to an Existing List by clicking the dropdown arrow: </label> -->
					<select class="form-control input-lg" id="landing-page-list-id" name="landing-page-list-id"></select>
					<div id="landing-page-list-id-error"></div>
					<!-- <button class="glc_button" id="refresh_list_list">Click here to refresh page to see list added</button> -->
				</div>
			</div>
        </div>
        <input type="hidden" id="select_list_method" name="select_list_method" value="">
    </section>

	<!-- Step 3 -->
    <h3> {"Email Signature"|alang}</h3>
    <section class="new_list_div">
    	<div class="row">
			<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Email Signature"|alang}
				</h1>
			</div>
			<div class="col-md-12">
				<div class="col-md-8 col-md-offset-2">
					<div class="alert alert-warning create-new-list-warning">This information is displayed as your email signature. The USA CAN-SPAM law requires that the “sender of the email”, (i.e. the person or company noted in the From Label), to display a physical postal address within the content of the message.</div>
				</div>
			</div>
			<br>
			<div class="col-md-12">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for=""><span class="required_field">*</span> Sender Name, Company (or Organization): </label>
						<input type="text" class="form-control input-lg" id="list_company" name="list_company" required title="Your company name or organization">
						<div id="list_company-error"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for=""><span class="required_field">*</span> Address: </label>
						<input type="text" class="form-control input-lg" id="list_address" name="list_address" required title="Enter your valid address here."><br>
						<input type="text" class="form-control input-lg" id="list_address2" name="list_address2" title="secondary address text here">
						<div id="list_address-error"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
			    <div class="col-md-4 col-md-offset-2">
			 		<label for=""><span class="required_field">*</span> City: </label>
						<input type="text" class="form-control input-lg" id="list_city" name="list_city" required title="Your City">
						<div id="list_city-error"></div>
				</div>
				<div class="col-md-4">
			 		<label for=""><span class="required_field">*</span> State, Province, or Region: </label>
						<input type="text" class="form-control input-lg" id="list_state" name="list_state" required title="Your State, Province or Region">
						<div id="list_state-error"></div>
				</div>
			</div>
			<div class="col-md-12">
			    <div class="col-md-4 col-md-offset-2">
			 		<label for=""><span class="required_field">*</span> Zip or Postal Code: </label>
						<input type="text" class="form-control input-lg" id="list_postal" name="list_postal" required title="Your Zip or Postal Code">
						<div id="list_postal-error"></div>
				</div>
				<div class="col-md-4">
			 		<label for=""><span class="required_field">*</span> Country: </label>
						<input type="text" class="form-control input-lg" id="list_country" name="list_country" required  title="Your Country">
						<div id="list_country-error"></div>
				</div>
			</div>
		</div>
    </section>

	<!-- Step 4 -->
    <h3> {"Name Form"|alang}</h3>
    <section>
        <div class="new_form_div">

        	<div class="row" >
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Name Form"|alang}
					</h1>
				</div>
			</div>

			<div class="row">
		        <div class="col-md-12">
		        	<div class="campaign_help">
		        		<p class="lead text_center">
						{"You must create a form for your new Optin Page."|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
						</p>
		        	</div>
	        	</div>
        	</div>

			<div class="row">
				<div class="col-md-12">
			  		<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<!-- <label for="">Form Name: </label> -->
							<input type="text" class="form-control input-lg" id="form_name" name="form_name" title="Your Form Name Here">
							<div id="form_name-error"></div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>

	<!-- Step 5 -->
    <h3> {"Form Options"|alang}</h3>
    <section>
        <div class="new_form_div">
			<div class="row">
				<div class="col-md-12">
					<!-- <hr class="divider" /> -->
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Form Options"|alang}
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="campaign_help">
						<p class="lead text-center">Check the Subcriber field options you want to collect.<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span></p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4">
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4emailField" id="ask4emailField" value="1" checked="checked" disabled="disabled"/> Email Address
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4fname" id="ask4fname" value="1" /> First Name
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4lname" id="ask4lname" value="1" /> Last Name
						</label>
					</div>
					{foreach from=$optional_fields item=field}
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="fields[{$field.id}]" id="fields[{$field.id}]" value="{$field.id}" /> {$field.title}
						</label>
					</div>
					{/foreach}
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-md-12">
					<div class="campaign_help">
						<p class="lead text-center">This is how you will keep track of each form for your page/site.</p>
					</div>
				</div>
			</div> -->


        </div>
    </section>

	<!-- Step 6 -->
    <h3> {"Optin Page Templates"|alang}</h3>
    <section>
        <div class="row">
        	<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Optin Page Templates"|alang}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="campaign_help">
					<p class="lead text_center">
						{"Choose from any or our professionally design Optin page templates. Once you choose a template, you will be redirected to the Drag 'N' Drop Site Builder to customize it anyway you like."|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-12" id="landing_page_container">
			<div class="row select_landing_page_template">
				<div class="col-md-12" style="margin-bottom:30px;">
					<div class="button-group filter-button-group">
						<div class="btn btn-default btn-lg" data-filter="*">All</div>
						<div class="btn btn-default btn-lg" data-filter=".skin_care">Skin Care</div>
						<div class="btn btn-default btn-lg" data-filter=".events">Events</div>
						<div class="btn btn-default btn-lg" data-filter=".giveaways">Giveaways</div>
						<div class="btn btn-default btn-lg" data-filter=".industry">Industry</div>
						<div class="btn btn-default btn-lg" data-filter=".optin">Optin</div>
						<div class="btn btn-default btn-lg" data-filter=".designown">Design Your Own</div>
					</div>
				</div>


				<div class="col-md-12">
					<div id="radiobutton_container" class="accordion grid row">


						<!-- <h3>Skin Care</h3> -->
						<div class="accordion_group skin_care grid_item col-xs-4">
							<!-- Skin Care / Product Trial -->
							<div class="template_wrapper">
								<span class="text_center template_title">Skin Care - Product Trial</span>
								<img src="images/beauty-trial-500x580.jpg" class="img-thumbnail" alt="Skin care - Product Trial" />
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/62" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/b7f1b1a950" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>

						<!-- <h3>Event</h3> -->
						<div class="accordion_group events grid_item col-xs-4">

							<!-- Event / With Video -->
							<div class="template_wrapper">
								<span class="text_center template_title">Event - With Video</span>
								<img src="images/500x580event-with-video.jpg" class="img-thumbnail" alt="Event - With Video" />
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/64" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/dd80da4f75" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>

							<!-- Event / The Speakers -->
							<!-- <div class="template_wrapper">
								<span class="text_center template_title">Event - The Speakers</span>
								<img src="images/500x580-event-speakers-yellow.jpg" class="img-thumbnail" alt="Event - With Video" />
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/65" class="btn btn-primary btn-choose sitebuildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/912a487f27" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div> -->
						</div>

						<!-- <h3>Giveaways</h3> -->
						<div class="accordion_group giveaways grid_item col-xs-4">
							<!-- Giveaways / Custom -->
							<div class="template_wrapper">
								<span class="text_center template_title">Giveaways - Custom</span>
								<img src="images/500x580-custom.jpg" class="img-thumbnail" alt="Giveaways - Custom" />
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/66" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/affd224466" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>

						<div class="accordion_group giveaways grid_item col-xs-4">
							<!-- Giveaways / Free App -->
							<div class="template_wrapper">
								<span class="text_center template_title">Giveaways - Free App</span>
								<img src="images/500x580-free-app.jpg" class="img-thumbnail" alt="Giveaways - Free App" />
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/67" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/2e20f5b622" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>



						

						<!-- <h3>Industry</h3> -->
						<div class="accordion_group industry grid_item col-xs-4">
							<!-- Fitness -->
							<div class="template_wrapper">
								<span class="text_center template_title">Fitness</span>
								<img src="images/Fitness-500x580.jpg" alt="InCruises" class="img-thumbnail">
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/79" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/2076244f37" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>

							<!-- Dental -->
							<!-- <div class="template_wrapper">
								<span class="text_center template_title">Dental</span>
								<img src="images/500x580-dental.jpg" alt="InCruises" class="img-thumbnail">
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/80" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/c804ea6462" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div> -->
						</div>

						<!-- <h3>Optin</h3> -->
						<div class="accordion_group optin grid_item col-xs-4">
							<!-- OPTIN -->
							<div class="template_wrapper">
								<span class="text_center template_title">Optin 1</span>
								<img src="images/glc-optin2.jpg" alt="Optin 1" class="img-thumbnail">
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/191" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/d8b144a344" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>

						<div class="accordion_group optin grid_item col-xs-4">
							<div class="template_wrapper">
								<span class="text_center template_title">Optin 2</span>
								<img src="images/glc-optin3.jpg" alt="Optin 2" class="img-thumbnail">
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/192" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/d5d7095d86" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>

						<div class="accordion_group optin grid_item col-xs-4">
							<!-- OPTIN -->
							<div class="template_wrapper">
								<span class="text_center template_title">Optin 3</span>
								<img src="images/580x500-trafficmade-simple.jpg" alt="Optin 3" class="img-thumbnail">
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/265" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/c1a8380e36" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>
						
						<div class="accordion_group optin grid_item col-xs-4">
							<!-- OPTIN -->
							<div class="template_wrapper">
								<span class="text_center template_title">Optin 4</span>
								<img src="images/glc-optin5.jpg" alt="Optin 4" class="img-thumbnail">
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/193" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/dc06dbc19e" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>

							<!-- OPTIN -->
						<div class="accordion_group optin grid_item col-xs-4">
							<div class="template_wrapper">
								<span class="text_center template_title">Optin 5</span>
								<img src="images/glc-optin6.jpg" alt="Optin 5" class="img-thumbnail">
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/194" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/8150856fb2" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>

							<!-- OPTIN -->
						<div class="accordion_group optin grid_item col-xs-4">
							<div class="template_wrapper">
								<span class="text_center template_title">Optin 6</span>
								<img src="images/glc-optin7.jpg" alt="Optin 6" class="img-thumbnail">
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/281" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/1c7e859aae" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>

						<div class="accordion_group buildown grid_item col-xs-4 designown">
							<!-- Design Your Own -->
							<div class="template_wrapper">
								<span class="text_center template_title">Design Your Own</span>
								<img src="images/500x580-accesssitebuilder.jpg" class="img-thumbnail" alt="Skin care" />
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/81" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								</div>
							</div>
						</div>
					</div>

					<div id="landing-page-url-error"></div>
				</div>
			</div>
		</div>
    </section>

	<!-- Step 7 -->
    <h3> {"Optin Page URL"|alang}</h3>
    <section>
        <div>
			<br>
        	<div class="row" >
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Optin Page URL"|alang}
					</h1>
				</div>

		        <div class="col-md-10 col-md-offset-1">
		        	<div class="campaign_help">
		        		<p class="lead text_center">Paste your copied URL link in the field below.<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span></p>
		        	</div>
	        	</div>

	        	<hr />

				<div class="col-md-12">
			  		<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<input type="text" class="form-control input-lg" id="landing-page-url" name="landing-page-url" placeholder="http:// or https://">
							<div id="landing-page-url-error"></div>
						</div>
					</div>
				</div>


			</div>
        </div>
    </section>

	<!-- Step 8 -->
    <h3> {"Create Thank You Page"|alang}</h3>
    <section>
    	<div class="row">
    		<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Create Thank You Page"|alang}
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="campaign_help">
					<p class="lead text_center">
						{"A Thank You Page is a particular page of your choice that you send your Visitors after they submit their information from you Optin Page Offer."|alang}<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
					</p>
					<p class="lead text_center">
						{"Choose from any of our amazing pre-designed 'Thank You' page templates, design your own using the Site Builder, or enter an external website URL."|alang}<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
					</p>
				</div>
			</div>
		</div>

		<!-- 3 column div selector -->
		<div class="row">
        	<div class="col-md-12">
        		<div class="col-md-4">
			 		<div class="steps-btn btn_pre_made_template redirect_url_option" title="Create a New List">
			 			<i class="fa fa-file-text-o" aria-hidden="true"></i>
			 			<span>Templates</span>
			 		</div>
				</div>
			    <div class="col-md-4">
			 		<div class="steps-btn btn_custom_page_design redirect_url_option" title="Select Existing List Here">
			 			<i class="fa fa-list-alt" aria-hidden="true"></i>
			 			<span>Custom Page Design</span>
			 		</div>
				</div>
				<div class="col-md-4">
			 		<div class="steps-btn btn_redirect_page_custom_url" title="Select Existing List Here">
			 			<i class="fa fa-list-alt" aria-hidden="true"></i>
			 			<span>External Website URL</span>
			 		</div>
				</div>
			</div>
        </div>
		<!-- end 3 column div selector ends-->

		<!-- redirect_page container -->
		<div class="redirect_page_container row">
			<div class="col-md-12">

		    	<div id="pre_made_templates_container" class="hidden_div">
					<div class="row">
						<div id="pre_made_templates_wrapper">
							<div class="row">
						  		<div class="col-md-12">
									<div class="button-group filter-button-group">
										<div class="btn btn-default btn-lg" data-filter="*">All</div>
										<div class="btn btn-default btn-lg" data-filter=".thankone">Skin Care</div>
										<div class="btn btn-default btn-lg" data-filter=".thanktwo">Skin Care</div>
										<div class="btn btn-default btn-lg" data-filter=".thankthree">Events</div>
										<!-- <div class="btn btn-default btn-lg" data-filter=".giveaways">Giveaways</div>
										<div class="btn btn-default btn-lg" data-filter=".industry">Industry</div>
										<div class="btn btn-default btn-lg" data-filter=".optin">Optin</div>
										<div class="btn btn-default btn-lg" data-filter=".designown">Design Your Own</div> -->
									</div>
								</div>


								<div class="col-md-12">
									<div id="radiobutton_container" class="accordion grid row">	
										
										<div class="accordion_group thankone grid_item col-xs-4">
											<div class="template_wrapper">
												<span class="text_center template_title">Thank You 1</span>
												<img src="images/500x580thanks.jpg" class="img-thumbnail" alt="Thank You 1" />
												<div class="template_buttons">
												  	<a href="http://sitebuilder.glchub.com/sites/create/85" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
												  	<a href="http://sitebuilder.glchub.com/site/8a1274e057" class="btn btn-demo" target="_blank">DEMO</a>
												</div>
											</div>
										</div>

										<div class="accordion_group thanktwo grid_item col-xs-4">
											<div class="template_wrapper">
												<span class="text_center template_title">Thank You 2</span>
												<img src="images/500x580thankyou1.jpg" class="img-thumbnail" alt="Thank You 2" />
												<div class="template_buttons">
												  	<a href="http://sitebuilder.glchub.com/sites/create/86" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
												  	<a href="http://sitebuilder.glchub.com/site/f7ca665228" class="btn btn-demo" target="_blank">DEMO</a>
												</div>
											</div>
										</div>
										<div class="accordion_group thankthree grid_item col-xs-4">
											<div class="template_wrapper">
												<span class="text_center template_title">Thank You 3</span>
												<img src="images/500x580-thankyou.jpg" class="img-thumbnail" alt="Thank You 3" />
												<div class="template_buttons">
												  	<a href="http://sitebuilder.glchub.com/sites/create/87" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
												  	<a href="http://sitebuilder.glchub.com/site/14f5b8953d" class="btn btn-demo" target="_blank">DEMO</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		    	</div>

		        <div id="custom_page_design_container" class="hidden_div">

					<div class="row">
				        <div class="col-md-12">
				        	<div class="campaign_help">
				        		<p class="lead text_center">
								
								</p>
				        	</div>
			        	</div>
		        	</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group" style="text-align:center;">
								<a href="http://sitebuilder.glchub.com/sites/create/81" class="btn btn-primary btn-glc-scheme btn-lg buildertemplate accesssitebuilder" target="_blank">Continue to Site Builder</a>
							</div>
						</div>
					</div>
		        </div>

		        <div id="external_url_container" class="hidden_div">

					<div class="row">
				        <div class="col-md-12">
				        	<div class="campaign_help">
				        		<p class="lead text_center">
								{"Enter the website URL where your page can be found."|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
								</p>
				        	</div>
			        	</div>
		        	</div>

					<div class="row">
						<div class="col-md-12">
					  		<div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<input type="text" class="form-control input-lg" id="redirect_externalurl_txtbox" name="redirect_externalurl_txtbox" title="Your External Page URL Here" placeholder="yourwebsite.com/page.html">
									<div id="form_name-error"></div>
								</div>
							</div>
						</div>
					</div>
		        </div>
	        </div>
		</div>
		<!-- redirect_page container ends -->
    </section>

	<!-- Step 9 -->
    <h3> {"Thank You URL"|alang}</h3>
    <section>
        <div class="new_form_div">
			<br>
        	<div class="row" >
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Thank You Page URL"|alang}
					</h1>
				</div>

		        <div class="col-md-10 col-md-offset-1">
		        	<div class="campaign_help">
		        		<p class="lead text_center">Paste your Thank You Page URL or enter an External URL below. If entering an External URL,  it MUST begin with HTTP:// or HTTPS: in order for our system to record it.<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span></p>
		        	</div>
		        	<!-- <div class="alert alert-warning">Your THANK YOU PAGE URL MUST begin with your custom url must begin with http:// or https://. example: http://www.glchub.com/ref/username or https://www.glchub.com/ref/username.</div> -->
	        	</div>

				<div class="col-md-12">
			  		<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<input type="text" class="form-control input-lg" id="sub2_redirect" name="sub2_redirect" placeholder="http:// or https://">
							<div id="sub2_redirect-error"></div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>

    <!-- Step 10 -->
	<h3> {"Download Page"|alang}</h3>
    <section>
		<!-- <div class="row text_center">
			<div class="col-md-8 col-md-offset-2">
				<div class="alert alert-warning">Finished with your New Campaign? <br /><br />Click the "Publish Now" button to finish and publish your New Campaign. <br /><br /><a href="#" class="skip_to_publish btn btn-primary btn-lg">Publish Now</a> </div>
			</div>
		</div> -->

    	<div class="row">
    		<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Download Page"|alang}
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
	        	<div class="campaign_help">
	        		<p class="lead text_center">A "Download Page" is the page your Visitors will be sent to after confirming their subscription from the system generated email, which is sent to your Visitors simultaneously after they complete and submit their information from your Optin page.</p>
	        	</div>
        	</div>
		</div>



		<!-- 3 column div selector -->
		<div class="row">
        	<div class="col-md-12">
        		<div class="col-md-4">
			 		<div class="steps-btn btn_thankyou_premadetemplate thankyou_url_option" title="Create a New List">
			 			<i class="fa fa-file-text-o" aria-hidden="true"></i>
			 			<span>Templates</span>
			 		</div>
				</div>
			    <div class="col-md-4">
			 		<div class="steps-btn btn_thankyou_custompagedesign thankyou_url_option" title="Select Existing List Here">
			 			<i class="fa fa-list-alt" aria-hidden="true"></i>
			 			<span>Custom Page Design</span>
			 		</div>
				</div>
				<div class="col-md-4">
			 		<div class="steps-btn btn_thankyou_externalurl" title="Select Existing List Here">
			 			<i class="fa fa-list-alt" aria-hidden="true"></i>
			 			<span>External Website URL</span>
			 		</div>
				</div>
			</div>
        </div>
		<!-- end 3 column div selector ends-->

		<!-- redirect_page container -->
		<div class="redirect_page_container row">
			<div class="col-md-12">

		    	<div id="thankyou_premadetemplate_container" class="hidden_div">
					<div class="row">
						<div id="pre_made_templates_wrapper">
							<div class="row">
								<div class="col-md-12">
									<div class="button-group filter-button-group">
										<div class="btn btn-default btn-lg" data-filter="*">All</div>
										<div class="btn btn-default btn-lg" data-filter=".downloadone">Download 1</div>
										<div class="btn btn-default btn-lg" data-filter=".downloadtwo">Download 2</div>
										<div class="btn btn-default btn-lg" data-filter=".downloadthree">Download 3</div>
										<!--<div class="btn btn-default btn-lg" data-filter=".giveaways">Giveaways</div>
										<div class="btn btn-default btn-lg" data-filter=".industry">Industry</div>
										<div class="btn btn-default btn-lg" data-filter=".optin">Optin</div>
										<div class="btn btn-default btn-lg" data-filter=".designown">Design Your Own</div> -->
									</div>
								</div>
						  		<div class="col-md-12">

									<div id="radiobutton_container" class="accordion grid row">	
										
										<div class="accordion_group downloadone grid_item col-xs-4">
											<div class="template_wrapper">
												<span class="text_center template_title">Download 1</span>
												<img src="images/500x580-thankyou2.jpg" class="img-thumbnail" alt="Video Access" />
												<div class="template_buttons">
												  	<a href="http://sitebuilder.glchub.com/sites/create/105" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
												  	<a href="http://sitebuilder.glchub.com/site/37c8927be9" class="btn btn-demo" target="_blank">DEMO</a>
												</div>
											</div>
										</div>
										<div class="accordion_group downloadtwo grid_item col-xs-4">
											<div class="template_wrapper">
												<span class="text_center template_title">Download 2</span>
												<img src="images/500x580-thankyou3.jpg" class="img-thumbnail" alt="Download Your Videos" />
												<div class="template_buttons">
												  	<a href="http://sitebuilder.glchub.com/sites/create/108" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
												  	<a href="http://sitebuilder.glchub.com/site/8a08e1f0df" class="btn btn-demo" target="_blank">DEMO</a>
												</div>
											</div>
										</div>
										<div class="accordion_group downloadthree grid_item col-xs-4">
											<div class="template_wrapper">
												<span class="text_center template_title">Download 3</span>
												<img src="images/500x580thanks-signup.jpg" class="img-thumbnail" alt="Download Your Videos" />
												<div class="template_buttons">
												  	<a href="http://sitebuilder.glchub.com/sites/create/264" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
												  	<a href="http://sitebuilder.glchub.com/site/1b0b0b4462" class="btn btn-demo" target="_blank">DEMO</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		    	</div>

		        <div id="thankyou_custompagedesign_container" class="hidden_div">

					<div class="row">
				        <div class="col-md-12">
				        	<div class="campaign_help">
				        		<p class="lead text_center">
								{"Click the button below to open the builder and start building your custom page design."|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
								</p>
				        	</div>
			        	</div>
		        	</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group" style="text-align:center;">
								<a href="http://sitebuilder.glchub.com/sites/create/81" class="btn btn-primary btn-glc-scheme btn-lg buildertemplate accesssitebuilder" target="_blank">Access Site Builder</a>
							</div>
						</div>
					</div>
		        </div>

		        <div id="thankyou_externalurl_container" class="hidden_div">

					<div class="row">
				        <div class="col-md-12">
				        	<div class="campaign_help">
				        		<p class="lead text_center">
								{"Enter the website URL where your page can be found."|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
								</p>
				        	</div>
			        	</div>
		        	</div>

					<div class="row">
						<div class="col-md-12">
					  		<div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<input type="text" class="form-control input-lg" id="thankyou_externalurl_txtbox" name="thankyou_externalurl_txtbox" title="Your External Page URL Here" placeholder="yourwebsite.com/page.html">
									<div id="form_name-error"></div>
								</div>
							</div>
						</div>
					</div>

		        </div>


	        </div>
		</div>
		<!-- redirect_page container ends -->
    </section>

    <!-- Step 11 -->
    <h3> {"Download Page URL"|alang}</h3>
    <section>
        <div class="new_form_div">
			<br>
        	<div class="row" >
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Download Page URL"|alang}
					</h1>
				</div>

		        <div class="col-md-10 col-md-offset-1">
		        	<div class="campaign_help">
		        		<p class="lead text_center">Paste your Download Page URL or enter an External URL below. If entering an External URL, it MUST begin with HTTP:// or HTTPS: in order for our system to record it.</p>
		        	</div>
	        	</div>

				<div class="col-md-12">
			  		<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<input type="text" class="form-control input-lg" id="sub3_redirect" name="sub3_redirect" placeholder="http:// or https://">
							<div id="sub3_redirect-error"></div>
						</div>
					</div>
				</div>


			</div>
        </div>
    </section>

    <!-- Step 12 -->
    <h3> {"Done!"|alang}</h3>
    <section>
    	<div class="row">
    		<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					Congratulations! You’ve successfully create your <span class="done_campaign_name"></span> Campaign.
				</h1>
			</div>
		</div>
    	<div class="row">
			<div class="col-md-12">
				<div class="campaign_help">
        			<p class="lead text_center">You can preview your new <span class="done_campaign_name_two"></span> Campaign URL link located below. Before you start promoting your new offer/campaign, it’s a good idea to review it and to make sure that all of the pages are going to links where you want them to. <span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
        			</p>
				</div>
			</div>
		</div>
		<div class="done_step row">
        	<div class="col-md-12">
				<!-- <p class="lead" style="text-align:center;" id="funnel_link"></p> -->
				<div class="form-group">
			    <!-- <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label> -->
				    <div class="input-group" style="text-align: center; margin: 0 auto; width: 50%;">
						<div class="input-group-addon" style="font-weight: bold;">Your Campaign URL :</div>
						<p type="" class="form-control text_center lead input-lg" id="funnel_link" style="margin: 0 auto; text-align: center; background: #eee; border-left: 0;">
						</p>
					</div>
			  	</div>
			</div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="campaign_help">
        			<p class="lead text_center">If you’re in a hurry to start generating traffic, use the one-click social media sharing tools. Your Campaign Offer link is automatically posted to your social media networks, but you have to be logged into your social media accounts first.</p>
        		</div>
        	</div>
        </div>

        <div class="sharer_wrapper">
        	<h2>Promote your campaign now via social media.</h2>
			<ul>
				<li class="facebook"><a class="social" id="fb_share" href="" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
				<li class="twitter"><a class="social" id="twitter_share" href="" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
				<li class="gplus"><a class="social" id="gplus_share" href="" target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
				<!-- <li class="email"><a class="social" id="email_share" href="" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li> -->
			</ul>
        </div>
    </section>

</form>
</div>

<!-- {/if} -->
