<!-- {if $hosted_down4 != 'nobody'}
{"Due to your account status, you are unable to create any landing pages."|alang}
<a href="desk.php">{"Return to the Dashboard."|alang}</a>
{else} -->

<!-- <h1 class="step_header_text text_center">Create New Campaign</h1> -->

<form method="POST" action="/aem/manage/functions/funnel_campaign.php" id="create-funnel-campaign">
<input type="hidden" name="action" value="list_insert_post">

	<!-- Step 1 -->
    <h3><span>1.</span> {"Choose Pre-made Campaign"|alang}</h3>
    <section>
    	<div class="row">
	        <div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-line-chart" aria-hidden="true"></i>
					{"Choose Pre-made Campaign"|alang}
				</h1>

				<div class="campaign_help">
					<p class="lead text_center">
					{"Hint: Your campaign name should be similar to your offer. "|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
					</p>
				</div>

				<div class="col-md-12">
					<div id="radiobutton_container">
						<div class="template_wrapper">
							<span class="text_center template_title">Travel</span>
							<img src="images/optin-travel.jpg" class="img-thumbnail" alt="text">
							<div class="template_buttons">
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary btn-lg" target="_blank">DEMO</a>
							</div>
						</div>

						<div class="template_wrapper">
							<span class="text_center template_title">Work From Home</span>
							<img src="images/download-SF.jpg" alt="..." class="img-thumbnail">
							<div class="template_buttons">
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary btn-lg" target="_blank">DEMO</a>
							</div>
						</div>

						<div class="template_wrapper">
							<span class="text_center template_title">Money</span>
							<img src="images/thankyou-SF.jpg" alt="..." class="img-thumbnail">
							<div class="template_buttons">
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary btn-lg" target="_blank">DEMO</a>
							</div>
						</div>





						<!-- <input type="radio" id="premade_01" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="premade_01">
							<span class="text_center template_title">Travel</span>
							<img src="images/optin-travel.jpg" class="img-thumbnail" alt="text">
							<div class="template_buttons">
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary btn-lg" target="_blank">DEMO</a>
							</div>
						</label>

						<input type="radio" id="premade_02" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />

						<label for="premade_02">
							<span class="text_center template_title">Work From Home</span>
							<img src="images/download-SF.jpg" alt="..." class="img-thumbnail">
							<div class="template_buttons">
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary btn-lg" target="_blank">DEMO</a>
							</div>
						</label>

						<input type="radio" id="premade_03" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="premade_03">
							<span class="text_center template_title">Money</span>
							<img src="images/thankyou-SF.jpg" alt="..." class="img-thumbnail">
							<div class="template_buttons">
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary btn-lg" target="_blank">DEMO</a>
							</div>
						</label> -->
					</div>
					<div id="landing-page-url-error"></div>
				</div>
	        </div>
	    </div>
        <div class="row">
        	<div class="col-md-12">
        		<div id="landing-page-type-error"></div>
        	</div>
        </div>
    </section>

    <!-- Step 2 -->
    <h3><span>2.</span> {"List Name"|alang}</h3>
    <section>
        <div class="row">
	        <div class="col-md-12">
	        	<h1 class="step_header_text">
	        		<i class="fa fa-list-ol" aria-hidden="true"></i>
					{"List Name"|alang}
				</h1>

		        <div class="campaign_help">
		        	<p class="lead text_center">Hover over and click on the box to create a new list or select from an existing list.</p>
	        	</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12">
        		<div class="col-md-4 col-md-offset-2">
			 		<div class="steps-btn newlist_btn" title="Create a New List">
			 			<i class="fa fa-file-text-o" aria-hidden="true"></i>
			 			<span>Create New List</span>
			 		</div>
				</div>
			    <div class="col-md-4">
			 		<div class="steps-btn select_existing_list" title="Select Existing List Here">
			 			<i class="fa fa-list-alt" aria-hidden="true"></i>
			 			<span>Select Existing List</span>
			 		</div>
				</div>
			</div>
        </div>
        <br>
        <div id="new_list_div" style="display:none;">
        	<br>
        	<div class="row" >

				<div id="create_new_list_title">
					<div class="row">
						<div class="col-md-12">
					  		<div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<label for=""><span class="required_field">*</span> Name your List. See example&#59;</label>
									<input type="text" class="form-control input-lg" id="list_name" name="list_name" required title="Name of your list. See examples here.">
									<div id="list_name-error"></div>
									<p class="text_center hint">Note&#58; Choose a list name that is recognizable by your Lead as the &#34;List Name&#34; is used the header of your Auto Responder email&#44; which is automatically send out by our email system to your Leads.</p>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!--
				<div class="col-md-12">
				    <div class="col-md-4 col-md-offset-2">
				 		<label for="">Your email </label>
							<input type="text" class="form-control input-lg" id="list_postal" name="list_postal" optional>
							<div id="list_postal-error"></div>
					</div>
					<div class="col-md-4">
				 		<label for="">Your Website</label>
							<input type="text" class="form-control input-lg" id="list_country" name="list_country" optional>
							<div id="list_country-error"></div>
					</div>
				</div>
				-->
				<!--
				<div class="col-md-12">
					<br><br>
				    <div class="col-md-4 col-md-offset-2">
				    	<button id="add_new_list_cancel" class="btn glc_button" style="width:100%">Cancel</button>
				    </div>
					<div class="col-md-4">
				 		<button id="add_new_list_go" class="btn glc_button" style="width:100%">Add new list</button>
					</div>
				</div>
				-->
			</div>

        </div>
        <!--
    	<div id="new_subscriber_div" style="display:none;">
			<br>
        	<div class="row" >

				 <div class="col-md-12">
					<br><br>
				    <div class="col-md-4 col-md-offset-2"></div>
					<div class="col-md-4">
				 		<button id="add_new_subscriber" class="btn glc_button" style="width:100%">Add</button>
					</div>
				</div>
			</div>
			<hr />
        </div>
        -->
        <div class="row" id="select_existing_list_div">
        	<!-- <hr style="margin-bottom:40px;"> -->
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">
					<!-- <label for="">Add new campaign subcribers to an Existing List by clicking the dropdown arrow: </label> -->
					<select class="form-control input-lg" id="landing-page-list-id" name="landing-page-list-id"></select>
					<div id="landing-page-list-id-error"></div>
					<!-- <button class="glc_button" id="refresh_list_list">Click here to refresh page to see list added</button> -->
				</div>
			</div>
        </div>
        <input type="hidden" id="select_list_method" name="select_list_method" value="">
    </section>


	<!-- Step 3 -->
    <h3><span>3.</span> {"Email Signature"|alang}</h3>
    <section>
    	<div class="row">
			<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Email Signature"|alang}
				</h1>
			</div>
			<div class="col-md-12">
				<div class="col-md-8 col-md-offset-2">
					<!-- <div class="adesk_help_inline" style="font-size:12px;">This information is displayed as your email signature. The USA CAN-SPAM law requires that the “sender of the email”, (i.e. the person or company noted in the From Label), to display a physical postal address within the content of the message.</div> -->
					<div class="alert alert-warning create-new-list-warning">This information is displayed as your email signature. The USA CAN-SPAM law requires that the “sender of the email”, (i.e. the person or company noted in the From Label), to display a physical postal address within the content of the message.</div>
				</div>
			</div>
			<br>
			<div class="col-md-12">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for=""><span class="required_field">*</span> Sender Name, Company (or Organization): </label>
						<input type="text" class="form-control input-lg" id="list_company" name="list_company" required title="Your company name or organization">
						<div id="list_company-error"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for=""><span class="required_field">*</span> Address: </label>
						<input type="text" class="form-control input-lg" id="list_address" name="list_address" required title="Enter your valid address here."><br>
						<input type="text" class="form-control input-lg" id="list_address2" name="list_address2" title="secondary address text here">
						<div id="list_address-error"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
			    <div class="col-md-4 col-md-offset-2">
			 		<label for=""><span class="required_field">*</span> City: </label>
						<input type="text" class="form-control input-lg" id="list_city" name="list_city" required title="Your City">
						<div id="list_city-error"></div>
				</div>
				<div class="col-md-4">
			 		<label for=""><span class="required_field">*</span> State, Province, or Region: </label>
						<input type="text" class="form-control input-lg" id="list_state" name="list_state" required title="Your State, Province or Region">
						<div id="list_state-error"></div>
				</div>
			</div>
			<div class="col-md-12">
			    <div class="col-md-4 col-md-offset-2">
			 		<label for=""><span class="required_field">*</span> Zip or Postal Code: </label>
						<input type="text" class="form-control input-lg" id="list_postal" name="list_postal" required title="Your Zip or Postal Code">
						<div id="list_postal-error"></div>
				</div>
				<div class="col-md-4">
			 		<label for=""><span class="required_field">*</span> Country: </label>
						<input type="text" class="form-control input-lg" id="list_country" name="list_country" required  title="Your Country">
						<div id="list_country-error"></div>
				</div>
			</div>
		</div>
    </section>


	<!-- Step 4 -->
    <h3><span>4.</span> {"Create Opt-in Form"|alang}</h3>
    <section>
        <div id="new_form_div">

        	<div class="row" >
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Opt-in Form"|alang}
					</h1>
				</div>
			</div>

			<div class="row">
		        <div class="col-md-12">
		        	<div class="campaign_help">
		        		<p class="lead text_center">Create an Opt-in form for your Landing Page. You will be prompted to create your page on the next step.</p>
		        	</div>
	        	</div>
        	</div>

			<div class="row">
				<div class="col-md-12">
			  		<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<label for="">Form Name: </label>
							<input type="text" class="form-control input-lg" id="form_name" name="form_name" title="Your Form Name Here">
							<div id="form_name-error"></div>
							<div class="text_center hint">
								This is how you will keep track of each form for your page.
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<hr class="divider" />
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Form Options"|alang}
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="campaign_help">
						<p class="lead text-center">Check the Subcriber field options you want to collect.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4">
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4emailField" id="ask4emailField" value="1" checked="checked" disabled="disabled"/> Email Address
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4fname" id="ask4fname" value="1" /> First Name
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4lname" id="ask4lname" value="1" /> Last Name
						</label>
					</div>
					{foreach from=$optional_fields item=field}
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="fields[{$field.id}]" id="fields[{$field.id}]" value="{$field.id}" /> {$field.title}
						</label>
					</div>
					{/foreach}
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-md-12">
					<div class="campaign_help">
						<p class="lead text-center">This is how you will keep track of each form for your page/site.</p>
					</div>
				</div>
			</div> -->


        </div>
    </section>

	<!-- Step 5 -->
    <h3><span>5.</span> {"Optin Page"|alang}</h3>
    <section>
        <div class="row">
        	<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Optin Page"|alang}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="campaign_help">
					<p class="lead text_center">
						Choose your template from any of our Pre-made Opt-in pages. You can edit the template you choose with the GLC Site Builder.
					</p>
				</div>
			</div>
		</div>

		<!-- <div class="row">
        	<div class="col-md-12">
        		<div class="col-md-4 col-md-offset-2">
			 		<div class="steps-btn btn_landing_page_select_template">
			 			<i class="fa fa-file-text-o" aria-hidden="true"></i>
			 			<span>Templates</span>
			 		</div>
				</div>
			    <div class="col-md-4">
			 		<div class="steps-btn btn_landing_page_builder">
			 			<i class="fa fa-list-alt" aria-hidden="true"></i>
			 			<span>Site Builder</span>
			 		</div>
				</div>
			</div>
        </div> -->


		<div class="col-md-10 col-md-offset-1" id="landing_page_container">
			<div class="row select_landing_page_template">
				<div class="col-md-12">
					<div id="radiobutton_container">
						<input type="radio" id="landingpage_01" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="landingpage_01">
							<img src="images/freeebook.png" class="img-thumbnail" alt="text">
							 <div class="template_buttons" style="display:none">
							  	<a href="/builder/elements/preview_Lc74qtEiiSmbOE6yLGyn.html" class="btn btn-primary" target="_blank">VIEW</a>
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary" target="_blank">EDIT</a>
							</div>
						</label>

						<input type="radio" id="landingpage_02" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />

						<label for="landingpage_02">
							<img src="images/freeebook.png" alt="..." class="img-thumbnail">
							<div class="template_buttons" style="display:none">
							  	<a href="/builder/elements/preview_Lc74qtEiiSmbOE6yLGyn.html" class="btn btn-primary" target="_blank">VIEW</a>
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary" target="_blank">EDIT</a>
							</div>
						</label>

						<input type="radio" id="landingpage_03" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="landingpage_03">
							<img src="images/freeebook.png" alt="..." class="img-thumbnail">
							<div class="template_buttons" style="display:none">
							  	<a href="/builder/elements/preview_Lc74qtEiiSmbOE6yLGyn.html" class="btn btn-primary" target="_blank">VIEW</a>
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary" target="_blank">EDIT</a>
							</div>
						</label>

						<input type="radio" id="landingpage_04" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="landingpage_04">
							<img src="images/freeebook.png" alt="..." class="img-thumbnail">
							<div class="template_buttons" style="display:none">
							  	<a href="/builder/elements/preview_Lc74qtEiiSmbOE6yLGyn.html" class="btn btn-primary" target="_blank">VIEW</a>
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary" target="_blank">EDIT</a>
							</div>
						</label>

						<input type="radio" id="landingpage_05" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="landingpage_05">
							<img src="images/freeebook.png" alt="..." class="img-thumbnail">
							<div class="template_buttons" style="display:none">
							  	<a href="/builder/elements/preview_Lc74qtEiiSmbOE6yLGyn.html" class="btn btn-primary" target="_blank">VIEW</a>
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary" target="_blank">EDIT</a>
							</div>
						</label>

						<input type="radio" id="landingpage_06" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="landingpage_06">
							<img src="images/freeebook.png" alt="..." class="img-thumbnail">
							<div class="template_buttons" style="display:none">
							  	<a href="/builder/elements/preview_Lc74qtEiiSmbOE6yLGyn.html" class="btn btn-primary" target="_blank">VIEW</a>
							  	<a href="/builder/?load_template=criticalstrategy.xs&form_id=1112" class="btn btn-primary" target="_blank">EDIT</a>
							</div>
						</label>

						<!-- <label for="landingpage_custom" style="width:100%" class="btn btn-warning btn-lg">
							<input type="radio" id="landingpage_custom" name="landing-page-url" data-customlandingpage="yes" value="" />
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> or you can design you own using the Site Builder.
						</label> -->
					</div>
					<div id="landing-page-url-error"></div>
				</div>
			</div>

			<!-- <div class="row select_landing_page_builder">
				<div id="custom_landing_page_div">
					<div class="col-md-12">


						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="alert alert-warning">
									<p class="text_center">
										Before proceeding to the Site Builder&#44; you <strong>MUST</strong> first copy your form&#44;.
									</p>
									<br />
									<p class="text_center">
										You <strong>MUST</strong> copy your form and insert it into the Land Page&#44; you are building, so your collected information about your leads are posted into the e&#45;Marketer system. Don&#39;t worry&#44; we will <strong>GUIDE</strong> you on how to insert/paste your form into your Custom Landing Page.			</p>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="campaign_help">
									<p class="text_center">
										Click on the "Copy Form Code" button to automaticly copy and save this code.
									</p>
									<br />
									<br />
								</div>
							</div>
						</div>

						<div class="col-md-8 col-md-offset-2 copy_success">
							<div class="alert alert-success text_center">
								<span>Form code copied to clipboard successfully!</span>
							</div>
						</div>


						<div class="row">
				    		<div class="col-md-8 col-md-offset-2">
						 		<a data-clipboard-target="#formcode" class="btn glc_button btnCopy btn-lg" style="width:100%;">
						 			Click Here to Copy Form Code
						 		</a>
							</div>
						</div>

						<div class="row">
							<hr class="divider" style="margin-top:40px;"  />
							<div class="col-md-10 col-md-offset-1">
								<div class="campaign_help">

									<p class="text_center">
										Click on the "Site Builder" button to build your custom Landing Page.
									</p>

								</div>
							</div>
						</div>

						<!-- <div class="row">
							<div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px;">
								<div class="campaign_help">
									<p class="text_center">
										Note: you will be instructed to paste your copied "Form Code" into your Landing Page design within the Site Builder. Don't worry, we will guide you on how to do this. smily face.
									</p>
								</div>
							</div>
						</div> ->


						<div class="row">
						    <div class="col-md-8 col-md-offset-2">
						 		<a href="/builder" target="_blank" class="btn glc_button btnCopy btn-lg" style="width:100%;">
							 		Access Site Builder
						 		</a>
							</div>
						</div>

						<div class="row" style="display:none;">
							<div class="col-md-8 col-md-offset-2">
								<br>
								<div class="form-group">
									<textarea class="form-control" id="formcode" style="height:300px" readonly="readonly"></textarea>
								</div>
							</div>

							<!-- <div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<label for="">once you've created your landing page, insert your page redirect link in this box.</label>
									<input type="text" class="form-control" id="landing-page-url-link" name="landing-page-url-link" placeholder="i.e. http://glchub.com/builder/elements/preview_wtgtFmvIEIQVDV2RtfxP.html" required>
									<div id="landing-page-url-link-error"></div>
								</div>
							</div> ->
						</div>
					</div>


				</div>
			</div> -->
		</div>
    </section>


	<!-- Step 6 -->
    <h3><span>6.</span> {"Landing Page URL"|alang}</h3>
    <section>
        <div id="new_form_div">
			<br>
        	<div class="row" >
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Landing Page URL"|alang}
					</h1>
				</div>

		        <div class="col-md-10 col-md-offset-1">
		        	<div class="campaign_help">
		        		<p class="lead text_center">Now that you have your landing page built, you will need to insert your page URL that was generated. Just like you copied and pasted the form code, paste your landing page URL in the box.</p>
		        	</div>
	        	</div>

				<div class="col-md-12">
			  		<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<!-- <label for="">Form Name: </label> -->
							<input type="text" class="form-control input-lg" id="form_name" name="form_name" placeholder="Paste Your URL here">
							<div id="form_name-error"></div>
							<!-- <div class="text_center hint">
								This is how you will keep track of each form for your page/site.
							</div> -->
						</div>
					</div>
				</div>

				<!-- <div class="col-md-12">
					<hr class="divider" />
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Form Options"|alang}
					</h1>
				</div>
				<div class="col-md-12">
					<div class="campaign_help">
						<p class="lead text-center">Check the Subcriber field options you want to collect.</p>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-5">
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4emailField" id="ask4emailField" value="1" checked="checked" disabled="disabled"/> Email Address
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4fname" id="ask4fname" value="1" /> First Name
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="ask4lname" id="ask4lname" value="1" /> Last Name
						</label>
					</div>
					{foreach from=$optional_fields item=field}
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="fields[{$field.id}]" id="fields[{$field.id}]" value="{$field.id}" /> {$field.title}
						</label>
					</div>
					{/foreach}
				</div>
				<div class="col-md-12">
					<div class="campaign_help">
						<p class="lead text-center">This is how you will keep track of each form for your page/site.</p>
					</div>
				</div> -->
			</div>
        </div>
    </section>

	<!-- Step 7 -->
    <h3><span>7.</span> {"Thank You / Redirect Page"|alang}</h3>
    <section>
    	<div class="row">
    		<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Thank You / Redirect Page"|alang}
				</h1>
			</div>

			<!-- <div class="col-md-12">
	        	<div class="campaign_help">
	        		<p class="lead text_center">Choose, Create or insert a custom URL as your Subcriber Thank You Page.</p>
	        	</div>
        	</div> -->
        	<div class="row">
				<div class="col-md-12">
					<div class="campaign_help">
						<h2 class="text_center">What is a Thank you Page?</h2>

						<p class="lead text_center">
							<!-- Hover over and click on the box to choose from our pre-made Landing Page templates, or you can create a new Landing Page using the Site Builder. -->
							<!-- A "Thank you page" is the page your visitors see after submitting their information on a form. You can select from any our pre-made Subcriber Thank you Pages, by clicking on a Thumbnail image below, build your own using our Site builder or add a custom URL that points to your custom page/template.-->


							A "Thank you page" is the page your visitors see after submitting their information on a form.
						</p>
					</div>
				</div>

				<div class="col-md-8 col-md-offset-2">
				<hr class="divider" />
					<div class="campaign_help">
						<h2 class="text_center">What is a Redirect Page?</h2>

						<p class="lead text_center">
							A Redirect Page is a particular page of your choice that you can send your Visitors after submitting form information.
						</p>
					</div>
				</div>

				<div class="col-md-8 col-md-offset-2">
					<div class="campaign_help">
						<p class="lead text_center">
							Here you have 3 options. You can choose from one of our pre-made "Thank You" page templates, you can build your own "Thank You" page using the Site Builder, or add a custom URL link.
						</p>

					</div>
				</div>
			</div>



        	<!-- <div class="col-md-12">
        		<div class="row">
	        		<div class="col-md-3 col-md-offset-1">
				 		<div class="steps-btn btn_redirect_page_select_template">
				 			<i class="fa fa-file-text-o" aria-hidden="true"></i>
				 			<span>Templates</span>
				 		</div>
					</div>
				    <div class="col-md-3">
				 		<div class="steps-btn btn_redirect_page_builder">
				 			<i class="fa fa-list-alt" aria-hidden="true"></i>
				 			<span>Site Builder</span>
				 		</div>
					</div>
					<div class="col-md-3">
				 		<div class="steps-btn btn_redirect_page_custom_url">
				 			<i class="fa fa-list-alt" aria-hidden="true"></i>
				 			<span>Custom URL</span>
				 		</div>
					</div>
				</div>
			</div> -->



		<div class="col-md-10 col-md-offset-1" id="redirect_page_container">
			<div class="row select_redirect_page_template">
				<div class="col-md-12">
					<div id="radiobutton_container">



						<!-- <input type="radio" id="thankyoupage_01" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="thankyoupage_01">
							<img src="images/thankyou.png" alt="..." class="img-thumbnail">
						</label>

						<input type="radio" id="thankyoupage_02" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="thankyoupage_02">
							<img src="images/thankyou.png" alt="..." class="img-thumbnail">
						</label>

						<input type="radio" id="thankyoupage_03" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="thankyoupage_03">
							<img src="images/thankyou.png" alt="..." class="img-thumbnail">
						</label>


						<input type="radio" id="thankyoupage_04" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="thankyoupage_04">
							<img src="images/thankyou.png" alt="..." class="img-thumbnail">
						</label>


						<input type="radio" id="thankyoupage_05" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="thankyoupage_05">
							<img src="images/thankyou.png" alt="..." class="img-thumbnail">
						</label>

						<input type="radio" id="thankyoupage_06" name="landing-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
						<label for="thankyoupage_06">
							<img src="images/thankyou.png" alt="..." class="img-thumbnail">
						</label> -->

						<!-- <label for="landingpage_custom" style="width:100%" class="btn btn-warning btn-lg">
							<input type="radio" id="landingpage_custom" name="landing-page-url" data-customlandingpage="yes" value="" />
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> or you can design you own using the Site Builder.
						</label> -->
					</div>
					<div id="landing-page-url-error"></div>
				</div>
			</div>

			<!-- <div class="row select_redirect_page_builder">
				<div id="custom_landing_page_div">
					<div class="col-md-12">
						<div class="row">
						    <div class="col-md-8 col-md-offset-2">
						 		<a href="/builder" target="_blank" class="btn glc_button btnCopy btn-lg" style="width:100%;">
							 		Access Site Builder
						 		</a>
							</div>
						</div>

						<div class="row" style="display:none;">
							<div class="col-md-8 col-md-offset-2">
								<br>
								<div class="form-group">
									<textarea class="form-control" id="formcode" style="height:300px" readonly="readonly"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<!-- <div class="row select_redirect_page_custom_url">
				<div class="col-md-10 col-md-offset-1">
		        	<div class="campaign_help">
		        		<p class="lead text_center">If you want, you can also set the redirect URL to a custom one. Just paste your custom URL below.</p>
		        	</div>
	        	</div>

				<div class="col-md-12">
			  		<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<input type="text" class="form-control input-lg" id="form_name" name="form_name" placeholder="Paste Your Custom URL here">
							<div id="form_name-error"></div>
						</div>
					</div>
				</div>
			</div> -->
		</div>


		  		<!-- <div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for=""><i></i></label>
					</div>
				</div> -->

			<!-- <div class="col-md-12">
				<div class="col-md-8 col-md-offset-2">
					<div id="radiobutton_container">


						<label style="width:100%">
							<input type="radio" name="sub2_redirect" value="" />
							Design your own using the Site Builder.

							or as an example, you can add a custom URL link to redirect your leads to any web page or site. Example: www.glchub.com/ref/username
							<br>
							<br>
							Custom Page Link
							<p><i>If you would like to design your own redirect page, please click the button below to create the page on GLC Builder. After generating the page, copy the url and come back to this page to paste the link in the text field below.</i> </p>
							<br><br>
							<a href="/builder" target="_blank" class="btn glc_button btn-lg" style="width:100%;">Access Site Builder</a>
							<br><br>
							<p>
								or you can add a custom URL link as your redirect page. Example: www.glchub.com/ref/username

								<br> Once you've chosen your redirect method, insert your redirect URL link here:
							</p>
							<br><br>
							<input type="text" class="form-control input-lg" name="sub2_redirect_input" id="sub2_redirect_input" placeholder="i.e. http://glchub.com/builder/elements/preview_yfbO1MuttWyk4I0RDdxl.html">
						</label>
						<div id="sub2_redirect-error"></div>
					</div>
				</div>
			</div> -->
		</div>
    </section>

    <!-- Step 8 -->
	<h3><span>8.</span> {"Download Page"|alang}</h3>
    <section>
    	<div class="row">
    		<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Create Campaign Download Page"|alang}
				</h1>
			</div>

			<div class="col-md-12">
	        	<div class="campaign_help">
	        		<p class="lead text_center">A "Download page" is the page your Visitors will be sent to after confirming their subscription from the system generated email.</p>
					<p class="lead text_center">
						From this page you can offer a Free E-book giveaway, you can have offer a free informational Video, or you can customize this page to upsell your offer.
					</p>
	        	</div>
        	</div>


			<div class="col-md-12">
				<div id="radiobutton_container">
					<input type="radio" id="downloadpage_01" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
					<label for="downloadpage_01">
						<img src="images/freeebook.png" class="img-thumbnail" alt="text">
					</label>

					<input type="radio" id="downloadpage_02" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />

					<label for="downloadpage_02">
						<img src="images/freeebook.png" alt="..." class="img-thumbnail">
					</label>

					<input type="radio" id="downloadpage_03" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
					<label for="downloadpage_03">
						<img src="images/freeebook.png" alt="..." class="img-thumbnail">
					</label>

					<input type="radio" id="downloadpage_04" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
					<label for="downloadpage_04">
						<img src="images/freeebook.png" alt="..." class="img-thumbnail">
					</label>

					<input type="radio" id="downloadpage_05" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
					<label for="downloadpage_05">
						<img src="images/freeebook.png" alt="..." class="img-thumbnail">
					</label>

					<input type="radio" id="downloadpage_06" name="download-page-url" value="http://glchub.com/builder/elements/preview_VjIQ8eoC3mFA1GjtDGfa.html" />
					<label for="downloadpage_06">
						<img src="images/freeebook.png" alt="..." class="img-thumbnail">
					</label>

					<!-- <label for="landingpage_custom" style="width:100%" class="btn btn-warning btn-lg">
						<input type="radio" id="landingpage_custom" name="landing-page-url" data-customlandingpage="yes" value="" />
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i> or you can design you own using the Site Builder.
					</label> -->
				</div>
				<div id="landing-page-url-error"></div>
			</div>
		</div>
    </section>


    <!-- Step 9 -->
    <h3><span>9.</span> {"Done!"|alang}</h3>
    <section>
    	<div class="row">
			<div class="col-md-12">
				<div class="campaign_help">
        			<p class="lead">Congratulations! You just finished creating your landing page. You can visit your newly created landing page via the link below:</p>
        		</div>
        	</div>
        </div>
        <div class="done_step row">
        	<div class="col-md-12">
				<p class="lead" style="text-align:center;" id="funnel_link"></p>
			</div>
        </div>
    </section>



</form>


<!-- {/if} -->
