<!-- {if $hosted_down4 != 'nobody'}
{"Due to your account status, you are unable to create any landing pages."|alang}
<a href="desk.php">{"Return to the Dashboard."|alang}</a>
{else} -->

<!-- <h1 class="step_header_text text_center">Create New Campaign</h1> -->
<div class="sales_option_campaign">
<form method="POST" action="/aem/manage/functions/funnel_campaign.php" id="create-sales-option-campaign">
<input type="hidden" name="action" value="list_insert_post">
	<!-- Progressbar -->
	<div class="progressbar_wrapper">
		<!-- <div class="progress_indicator_txt"><span></span></div> -->
		<div id="step-progressbar" class="step-progressbar"></div>
	</div>

	<!-- Step 1 -->
    <h3> {"Name Campaign"|alang}</h3>
    <section>
    	<div class="row">
	        <div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-line-chart" aria-hidden="true"></i>
					{"Name Sales Campaign"|alang}
				</h1>

				<div class="campaign_help">
					<p class="lead text_center">
					{"Hint: Your campaign name should be similar to your offer. "|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
					</p>
				</div>
				<div class="campaign_input form-group">
					<div class="col-md-6 col-md-offset-3">
						<input type="text" class="form-control input-lg" value="" id="landing-page-name" name="landing-page-name" placeholder="i.e. CL offer" title="Your Campaign Name">
						<div id="landing-page-name-error"></div>
					</div>
				</div>

	        </div>
	    </div>
	    <div class="row">
	    	<div class="col-md-12">
				<div class="campaign_input form-group">
					<div class="col-md-6 col-md-offset-3">
						<!-- <input type="text" class="form-control input-lg" value="" id="landing-page-name" name="landing-page-name" placeholder="i.e. CL offer" title="Your Campaign Name"> -->
						<textarea class="form-control input-lg" id="landing-page-description" name="landing-page-description" placeholder="describe your campaign" rows="5"></textarea>
						<div id="landing-page-description-error"></div>
					</div>
				</div>
			</div>
	    </div>
    </section>



	<!-- Step 6 -->
    <h3> {"Capture Page"|alang}</h3>
    <section>
        <div class="row">
        	<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					{"Sales Page Templates"|alang}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="campaign_help">
					<p class="lead text_center">
						{"Choose from any or our professionally design Sales page templates. Once you choose a template, you will be redirected to the Drag 'N' Drop Site Builder to customize it anyway you like."|alang} <span class="ttip" ><i id="tooltip_name_campaign" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-12" id="landing_page_container">
			<div class="row select_landing_page_template">
				<div class="col-md-12">
					<div class="button-group filter-button-group">
						<div class="btn btn-default btn-lg" data-filter="*">All</div>
						<div class="btn btn-default btn-lg" data-filter=".glc">GLC</div>
						<!-- <div class="btn btn-default btn-lg" data-filter=".events">Events</div>
						<div class="btn btn-default btn-lg" data-filter=".giveaways">Giveaways</div>
						<div class="btn btn-default btn-lg" data-filter=".industry">Industry</div>
						<div class="btn btn-default btn-lg" data-filter=".optin">Optin</div> -->
						<div class="btn btn-default btn-lg" data-filter=".designown">Design Your Own</div>
					</div>
				</div>


				<div class="col-md-12" style="margin-bottom:30px;">
					<div id="radiobutton_container" class="accordion grid row">


						<!-- <h3>Skin Care</h3> -->
						<div class="accordion_group glc grid_item col-xs-4">
							<!-- GLC Sales Page -->
							<div class="template_wrapper">
								<span class="text_center template_title">GLC</span>
								<img src="images/500x580-glcsecret.jpg" class="img-thumbnail" alt="GLC" />
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/218/0000" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								  	<a href="http://sitebuilder.glchub.com/site/17eeca27c2" class="btn btn-demo" target="_blank">DEMO</a>
								</div>
							</div>
						</div>

						<div class="accordion_group buildown grid_item col-xs-4 designown">
							<!-- Design Your Own -->
							<div class="template_wrapper">
								<span class="text_center template_title">Design Your Own</span>
								<img src="images/500x580-accesssitebuilder.jpg" class="img-thumbnail" alt="Skin care" />
								<div class="template_buttons">
								  	<a href="http://sitebuilder.glchub.com/sites/create/81" class="btn btn-primary btn-choose buildertemplate" target="_blank">CHOOSE</a>
								</div>
							</div>
						</div>
					</div>

					<div id="landing-page-url-error"></div>
				</div>
			</div>
		</div>
    </section>

	<!-- Step 7 -->
    <h3> {"Sales Page URL"|alang}</h3>
    <section>
        <div>
			<br>
        	<div class="row" >
				<div class="col-md-12">
					<h1 class="step_header_text">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{"Sales Page URL"|alang}
					</h1>
				</div>

		        <div class="col-md-10 col-md-offset-1">
		        	<div class="campaign_help">
		        		<p class="lead text_center">Paste your copied URL link in the field below<span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span></p>
		        	</div>
	        	</div>

				<div class="col-md-12">
			  		<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<input type="text" class="form-control input-lg" id="landing-page-url" name="landing-page-url" placeholder="http:// or https://">
							<div id="landing-page-url-error"></div>
						</div>
					</div>
				</div>


			</div>
        </div>
    </section>

    <!-- Step 12 -->
    <h3> {"Done!"|alang}</h3>
    <section>
    	<div class="row">
    		<div class="col-md-12">
				<h1 class="step_header_text">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					Congratulations! You’ve successfully created your <span class="done_campaign_name"></span> Campaign.
				</h1>
			</div>
		</div>
    	<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="campaign_help">
        			<p class="lead text_center">You can preview your <span class="done_campaign_name_two"></span> campaign by clicking on the link located below. Before you start promoting your new offer/campaign, it’s a good idea to review it and to make sure that all of the pages are going to links where you want them to. <span class="ttip" ><i id="tooltip_step2" title="Here's your help tooltip here." class="fa fa-question-circle-o" aria-hidden="true"></i></span>
        			</p>
				</div>
			</div>
		</div>
		<div class="done_step row">
        	<div class="col-md-8 col-md-offset-2">
				<!-- <p class="lead" style="text-align:center;" id="funnel_link"></p> -->
				<div class="form-group">
			    <!-- <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label> -->
				    <div class="input-group">
						<div class="input-group-addon" style="font-weight: bold;">Your Campaign URL :</div>
						<p type="" class="form-control lead input-lg" id="funnel_link" style="margin: 0 auto; text-align: center; background: #eee; border-left: 0;">
						</p>
					</div>
			  	</div>
			</div>
        </div>
        <hr />
		<div class="row" style="margin-top:10px;">
			<div class="col-md-10 col-md-offset-1">
				<div class="campaign_help">
        			<p class="lead text_center">In a hurry to start generating traffic? Use the one-click social media sharing tools. Your Campaign Offer link is automatically posted to your social media networks, but you have to be logged into your social media accounts first.</p>
        		</div>
        	</div>
        </div>

        <div class="sharer_wrapper" style="margin-top:30px;">
        	<h2>Promote your campaign now via social media.</h2>
			<ul>
				<li class="facebook"><a class="social" id="fb_share" href="" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
				<li class="twitter"><a class="social" id="twitter_share" href="" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
				<li class="gplus"><a class="social" id="gplus_share" href="" target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
				<!-- <li class="email"><a class="social" id="email_share" href="" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li> -->
			</ul>
        </div>
    </section>

</form>
</div>

<!-- {/if} -->
