<script type="text/javascript">
  {include file="settings.js"}
</script>

<h1>{"Settings"|alang}</h1>
{if $formSubmitted}
<script>
{jsvar var=$submitResult.message name=r}
{if $submitResult.succeeded}
adesk_result_show(r);
{else}
adesk_error_show(r);
{/if}
</script>
{/if}

<form action="desk.php?action=settings" method="POST">
	<a name="general"></a>
	{include file="settings.general.htm"}
	<a name="admin"></a>
	{include file="settings.admin.htm"}
	<a name="public"></a>
	{include file="settings.public.htm"}
	<a name="local"></a>
	{include file="settings.local.htm"}
	{if !$__ishosted}
	<a name="mailsending"></a>
	{include file="settings.mailsending.htm"}
	{/if}
	<a name="delivery"></a>
	{include file="settings.delivery.htm"}


  <input type="hidden" name="action" value="settings" />
  <input type="submit" value='{"Save Settings"|alang}' />
</form>

{if !$__ishosted}
{include file="error.mailer.htm"}
{include file="settings.mailsending.modal.htm"}
{/if}
