<div id="settings_mailsending" style="margin-top: 10px; {if $__ishosted}display:none{/if}">
  <h2>{"Mail Sending"|alang}</h2>
  <div  class="adesk_blockquote">

  <table cellpadding="5" cellspacing="0" width="100%">
    <tr>
      <td width="110">{"Sending order"|alang}</td>
      <td>
        <select name="sdord" id="sdord" size="1" onChange="checkSel(this);">
          <option value="rand"{if $site.sdord == 'rand'} selected="selected"{/if}>{"Randomize subscribers with each send"|alang}</option>
          <option value="asc"{if $site.sdord == 'asc'} selected="selected"{/if}>{"Send from oldest subscriber to newest subscriber"|alang}</option>
          <option value="desc"{if $site.sdord == 'desc'} selected="selected"{/if}>{"Send from newest subscriber to oldest subscriber"|alang}</option>
        </select>
      </td>
    </tr>
  </table>
  <table border="0" cellpadding="5" cellspacing="0" width="100%">
{if !$__ishosted}
    <tr>
      <td>
  <div class="adesk_help_inline">{"Here you can:"|alang} {"Set maximum emails to send in  a specific time period per sending method"|alang}, {"Throttle your email sending per mail sending method"|alang}, & {"Setup multiple sending methods &amp; setup rotating options"|alang}.</div>
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
	<thead id="mailer_list_head">
	  <tr class="adesk_table_header">
		<td width="80">{"Options"|alang}</td>
		<td>{"Mailer"|alang}</td>
		<td>{"Type"|alang}</td>
		<td>{"Info"|alang}</td>
		<td>{"Emails per Cycle"|alang}</td>
		<td>{"Sort Order"|alang}</td>
	  </tr>
	</thead>
	<tbody id="mailer_list_table">
{foreach from=$mailconnections item=mc name=mcloop}
	  <tr class="adesk_table_row">
	    <td>
	      <div class="adesk_table_row_options">
	        <a href="#" onclick="mailer_edit({$mc.id});return false;">{"Edit"|alang}</a>
{if $mc.id > 1}
	        <a href="#" onclick="mailer_delete({$mc.id});return false;">{"Delete"|alang}</a>
{/if}
	        <a href="#" onclick="mailer_test({$mc.id});return false;">{"Test"|alang}</a>
	      </div>
	    </td>
	    <td>
	      {if isset($mc.name)}{$mc.name}{else}<i>{"N/A"|alang}</i>{/if}
	    </td>
	    <td>
{if $mc.type == 0}
	      {"Mail()"|alang}
{else}
	      {"SMTP"|alang}
{/if}
	    </td>
	    <td>
{if $mc.type == 0}
	      <i>{"N/A"|alang}</i>
{else}
	      {$mc.user}@{$mc.host}{if $mc.port != 25}:{$mc.port}{/if}
{/if}
	    </td>
	    <td>
	      {$mc.threshold}
	    </td>
	    <td>
	      <a href="#" onclick="mailer_down({$mc.id});return false;"><img src="images/desc.gif" border="0" /></a>
	      <a href="#" onclick="mailer_up({$mc.id});return false;"><img src="images/asc.gif" border="0" /></a>
	    </td>
	  </tr>
{/foreach}
	</tbody>
  </table>

  <br />

  <input type="button" value="{'Add New Mail Sending Connection'|alang}" style="font-size:10px;" onclick="mailer_add();" />

      </td>
    </tr>
{/if}

  </table>
  </div>
</div>


<script language="JavaScript" type="text/javascript">
<!--
//calculateSendingSpeed();
-->
</script>
