<ul>
	<li class="special">
		<a href="desk.php?action=builder_templates&type=optin" class="button"><img class="va" src="css/images/addnewlist.png" /> {"Optin Funnel"|alang}</a>
	</li>
	<li class="special">
		<a href="desk.php?action=builder_templates&type=dfy" class="button"><img class="va" src="css/images/managelists.png" /> {"DFY Funnel"|alang}</a>
	</li>
</ul>

<ul>
	<li class="special small">
        <a href="/builder" class="glc_button" style="color: #fff !important;">{"Back to Builder"|alang}</a> 
    </li>
    <li class="special small">
        <a href="/myhub" class="glc_button" style="color: #fff !important;">{"My Hub"|alang}</a> 
    </li>
</ul>