<h1 class="text_center glc_button" style="padding: 20px 0px; margin: 0px;">{"Quick Links"|alang}</h1>     
<ul>
{if $admin.pg_reports_campaign || $admin.pg_reports_list || $admin.pg_reports_user}
<h2>{"Reports"|alang}</h2>
 
{if $admin.pg_reports_campaign}
		<li class="special"><a href="desk.php?action=campaign&reports=1#list-01-0-0"><img class="va" src="css/images/campaignreports.png" /> {"Campaign Reports"|alang}</a></li>
{/if}
{if $admin.pg_reports_list}
		<li class="special"><a href="desk.php?action=report_list#general-01-0-0"><img class="va" src="css/images/listreports.png" /> {"List Reports"|alang}</a></li>
{/if}
{if $admin.pg_reports_user}
		<li class="special"><a href="desk.php?action=report_user#general-01-0-0"><img class="va" src="css/images/userreports.png" /> {"User Reports"|alang}</a></li>
{/if}

 
{/if}

</ul>

{if $admin.pg_reports_trend}
<h2>{"Trend Reporting"|alang}</h2>
<ul>
		<li><a href="desk.php?action=report_trend_read#general-01-0-0"><img class="va" src="css/images/readtrends.png" /> {"Read Trends"|alang}</a></li>
		<li><a href="desk.php?action=report_trend_client#general-01-0-0"><img class="va" src="css/images/emailclienttrends.png" /> {"Email Client Trends"|alang}</a></li>
 
{/if}
</ul>

<ul>
	<li class="special">
        <a href="/builder"><i class="fa fa-plus-circle"></i> {"Site Builder"|alang}</a> 
    </li>

    <li class="special">
      <a href="/myhub"><i class="fa fa-plus-circle"></i> {"My Hub"|alang}</a> 
    </li>
</ul>