<ul>
{if $canImportSubscriber}
<li class="special"><a href="desk.php?action=subscriber_import"><img class="va" src="css/images/importsubscribers.png" /> {"Import Subscribers"|alang}</a></li>
{/if}

{if $canAddSubscriber}
<li class="special"><a href="desk.php?action=subscriber#form-0"><img class="va" src="css/images/addsubscriber.png" /> {"Add Subscriber"|alang}</a></li>
{/if}
</ul>
<h2>{"Other options"|alang}</h2>
<ul>

<li>

		<a href="desk.php?action=subscriber#list-01-0-0"><img class="va" src="css/images/viewsubscribers.png" /> {"View Subscribers"|alang}</a></li>
		<li><a href="desk.php?action=subscriber#search"><img class="va" src="css/images/searchsubscribers.png" /> {"Search Subscribers"|alang}</a></li>
{if $admin.pg_subscriber_export}
		<li><a href="desk.php?action=subscriber#export"><img class="va" src="css/images/exportsubscribers.png" /> {"Export Subscribers"|alang}</a></li>
{/if}

 </ul>


{if $admin.pg_list_edit or $admin.pg_subscriber_delete or $admin.pg_subscriber_sync}
<h2>{"Advanced options"|alang}</h2>
 <ul>

{if $admin.pg_list_edit}
		<li><a href="desk.php?action=exclusion#list-01-0-0"><img class="va" src="css/images/excludedsubscribers.png" /> {"Excluded Subscribers"|alang}</a></li>
{/if}

{if $admin.pg_subscriber_delete}
		<li><a href="desk.php?action=batch"><img class="va" src="css/images/batchactions.png" /> {"Batch Actions"|alang}</a>
</li>{/if}
{if $admin.pg_subscriber_sync}
		<li><a href="desk.php?action=sync#list-01"><img class="va" src="css/images/databasesync.png" /> {"Database Sync"|alang}</a>
</li>{/if}

 
{/if}
 
</ul>

<ul>
	<li class="special small">
        <a href="/builder" class="glc_button" style="color: #fff !important;">{"Back to Builder"|alang}</a> 
    </li>
    <li class="special small">
        <a href="/myhub" class="glc_button" style="color: #fff !important;">{"My Hub"|alang}</a> 
    </li>
</ul>