<script type="text/javascript">
  {include file='startup.js'}
</script>

<!-- <h1>{"Welcome"|alang}, {$admin.first_name}!</h1>
<hr /> -->
{if isset($newversionavailable) and $admin.id == 1}
<div class="resultMessage" style="border-color:#109309;">
  <strong>New version available - v {$latestversion}. {$moreinfo}</strong>
 
  <br />
  <div style="color:#999999;"> This notice will only be visible to <b>admin</b>. To hide new version alert change value of NEW_VERSION_ALERT in /cache/serialkey.php to 0</div>
</div>
{/if}



{if isset($httpauth_warning)}
<div class="resultMessage" style="color:#990000; border:1px solid #FF0000; background:#F9E4E3; font-size:12px;">
  <strong>{"Your software directory currently has password and/or authentication requirements that cause software conflicts"|alang}</strong><br />

  {"Many parts of the software will NOT function properly if you have authentication required (such as htaccess auth)  Please remove all password/authentication requirements from the software folder and refresh this page."|alang}
</div>
{/if}

{if isset($suphp_warning)}
<div class="resultMessage" style="color:#990000; border:1px solid #FF0000; background:#F9E4E3; font-size:12px;">
  <strong>{"Your server seems to have PHPsuExec or suPHP installed"|alang}</strong><br />

  {"Having PHPsuExec or suPHP enabled could cause unexpected performance and/or stability issues. Some parts of the software might NOT function properly if you have these security extensions loaded on your server.  Please remove the extension to hide this message."|alang}
</div>
{/if}



{if $site.mailer_log_file and $admin.id == 1}
<div id="campaign_sendlog_warn" class="resultMessage">
  <strong>
    {"Campaign sending logs are currently enabled. This means every campaign sent is being logged. This is useful for debugging potential sending issues but will cause your sending to be slower than usual. If you are not debugging your email sending click %shere%s to disable logging."|alang:'<a href="#" onclick="return campaign_sendlog_switch();">':'</a>'}
  </strong>
</div>
{/if}
	

	{if $creditbased and $maillimitleft_raw < 50}
	<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
	  {"Your account is almost out of email credits; soon you won't be able to send any more mailings to your subscribers."|alang}
	  {if !adesk_site_hosted_rsid()}
	  <a href="/manage/manage/index.php">{"Purchase more credits now!"|alang}</a>
	  {/if}
	</div>
	{/if}

{if $close2limit}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
{if !$isAllTime}
	{if $admin.limit_mail_type == 'month1st'}
			{"Your account is nearing your email sending limit of %s emails per calendar month."|alang:$admin.limit_mail}
	{else}
			{"Your account is nearing your email sending limit of %s emails per %s."|alang:$admin.limit_mail:$admin.limit_mail_type}
	{/if}
{else}
			{"Your account is nearing your email sending limit of %s emails."|alang:$admin.limit_mail}
{/if}
			{"You have %s emails left."|alang:$availLeft}
			{"Any campaigns that exceed your limit will not start sending."|alang}
		</div>
{/if}

{if $site.mail_abuse and $admin.abuseratio_overlimit}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"Your account has been temporarily suspended due to a high number of abuse complaints.  You have had %s subscribers report your email."|alang:$admin.abuses_reported}
			{"That is %s%% of all emails you have sent so far, which is more than the %s%% that we allow for our service."|alang:$admin.abuseratio_current:$admin.abuseratio}
			{"The ability to send emails has been disabled at this time."|alang}
		</div>
{/if}

{if !$__ishosted and $site.mail_abuse and $abusers}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"There is %s user group(s) that are currently suspended due to abuse complaints."|alang:$abusers}
			<a href="desk.php?action=abuse">{"Manage & Take Action"|alang}</a>
		</div>
{/if}

{if !$__ishosted and $approvals}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"There is %s campaign(s) that need your approval."|alang:$approvals}
			<a href="desk.php?action=approval">{"View & Approve Campaigns"|alang}</a>
		</div>
{/if}

 

{if $down4maint}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"The software is currently set to be \"down for maintenance\"."|alang}
			<a href="desk.php?action=settings#general">{"Click here to turn this setting off"|alang}</a>
		</div>
{/if}

{if !$__ishosted}
	{if !$canAddSubscriber}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"You have maxed out the subscribers allowed with your account."|alang}
			{if $site.brand_links and adesk_admin_ismaingroup()}
			{'No new subscribers will be able to subscribe until you either delete subscribers or <a href="https://awebdesk.com/order/" target="_blank">purchase more user licenses to increase your subscriber limit</a>.'|alang}
			{else}
			{"No new subscribers will be able to subscribe until you delete some subscribers."|alang}
			{/if}
		</div>
	{elseif $close2subscriberlimit}
		<div class="resultMessage" style="border:1px solid #FCD68D; font-size:14px; margin-bottom:10px;">
			{"You have nearly maxed out the subscribers allowed with your account."|alang}
			{if $site.brand_links and adesk_admin_ismaingroup()}
			{'You may want to either delete subscribers or <a href="https://awebdesk.com/order/" target="_blank">purchase more user licenses to increase your subscriber limit</a>.'|alang}
			{else}
			{"No new subscribers will be able to subscribe until you delete some subscribers."|alang}
			{/if}
		</div>
	{/if}
{/if}



 
{if $admin.pg_startup_gettingstarted == 1}
	<div id="startup_box_getting_started">
		<div style="float:right; padding-top:2px;">
			<a href="#" onclick="startup_gettingstarted_hide({$groupids}); return false;" style="color:#ccc;">{"Hide This Section"|alang}</a>
		</div>
		<h2 style="color:#999999;">{"Let's get started..."|alang}</h2>
		<div style="padding:0px;font-size:14px; margin-bottom:20px;">
			<table width="100%" style="margin-top:0px;" class="noborder">
 
  <tbody><tr>
   {if $admin.pg_message_add}<td align="center"><span><img src="images/scampaign.png"></span><br><a href="desk.php?action=new_funnel_campaign">{"Create a campaign"|alang}</a>
        <div>{"This is your message/newsletter content. Use HTML/texts/images/ attachments , the choice is yours."}</div>
      <div class="Completed" style="{if $group_lists_campaigns_status == 0}display:block;{else}display:none;{/if}"> </div></td>{/if}
  {if $admin.pg_reports_campaign}
    <td align="center"><span><img src="images/sreports.png"></span><br><a href="desk.php?action=campaign&reports=1">{"View reports"|alang}</a>
        <div>{"View realtime reports of email opens, clicks, bounces and much more."}</div>
      <div class="Completed" style="{if $group_reports_link_status == 0}display:block;{else}display:none;{/if}"> </div></td>{/if}

      <!-- Visibility Hidden -->
   	{if $canAddList} <td align="center" style="visibility: hidden;"><span><img src="images/slist.png"></span><br><br><a href="desk.php?action=list#form-0">{"Create a list"|alang}</a>
        <div>{"A list has subscribers whom you will send emails frequently."}</div>
      <div class="Completed" style="{if $group_lists_status == 0} display:block; {else} display:none;{/if}"> &nbsp;</div></td>{/if}

      {if $canAddSubscriber}<td align="center" style="visibility: hidden;"><span><img src="images/subs.png"></span><br> <a href="desk.php?action=subscriber_import">{"Import subscribers"|alang}</a>
        <div>{"Import using CSV file, copy paste data, or from Gmail , Salesforce, Highrise, Zendesk and many others."}</div>
      <div class="Completed" style="{if $group_lists_subscribers_status == 0}display:block;{else}display:none;{/if}"> </div></td>{/if}
		  {if $admin.pg_form_edit}
 <td align="center" style="visibility: hidden;"><span><img src="images/sint.png"></span><br><br> 	  <a href="desk.php?action=form">{"Integrate with website"|alang}</a>
        <div>{"Create subscription forms and generate html codes to paste it on your website."}</div>
      <div class="Completed" style="{if $group_lists_forms_status == 0}display:block; {else}display:none;{/if}"> </div></td>{/if} 

   

    
  </tr>
</tbody></table>
 
		</div>
	</div>
{/if}
<!--     {if $admin.id == 1}
    
      <h2 style="color:#999999; margin-bottom:10px;">Usage Overview</h2>
   {/if}  -->  
		 






 			
        {if $admin.limit_mail > 0}<h2 style="color:#999999; margin-bottom:10px;">{"Your account usage"|alang}</h2>
		{assign var="limit_mail_type" value=$admin.limit_mail_type}
		{if $admin.limit_mail_type == "day"}
		{assign var="availLeft_range" value="today"|alang}
		{/if}
		{if $admin.limit_mail_type == "week"}
		{assign var="availLeft_range" value="this week"|alang}
		{/if}
		{if $admin.limit_mail_type == "month"}
		{assign var="availLeft_range" value="this month"|alang}
		{/if}
		{if $admin.limit_mail_type == "month1st"}
		{assign var="limit_mail_type" value="calendar month (from the 1st)"|alang}
		{assign var="availLeft_range" value="this calendar month (from the 1st)"|alang}
		{/if}
		{if $admin.limit_mail_type == "monthcdate"}
		{assign var="limit_mail_type" value="calendar month (from creation date)"|alang}
		{assign var="availLeft_range" value="calendar month (from creation date)"|alang}
		{/if}
		{if $admin.limit_mail_type == "year"}
		{assign var="availLeft_range" value="this year"|alang}
		{/if}
		{if $admin.limit_mail_type == "ever"}
		{assign var="limit_mail_type" value="all time"|alang}
		{assign var="availLeft_range" value="all time"|alang}
		{/if}

        <span style="background:#FF9; font-weight:bolder; margin:2px 0 10px 5px; padding: 5px 5px; font: bold 22px 'Trebuchet MS', Arial, Helvetica, sans-serif; line-height:24px; border-radius:5px;">		{"Sending Limit: %s per %s; %s left %s"|alang:$admin.limit_mail:$limit_mail_type:$availLeft:$availLeft_range}</span>
        
        	{/if}	
		<div class="row-fluid" style=" padding: 5px 0 0px 0px; 	{if $admin.limit_mail > 0} margin-top:15px; {/if}">  


<div class="span12 tac startup">
	<div class="col-md-12 section">
		<div class="row">
			<section>  
				<div class="alert alert-warning" style="padding: 32px; margin-bottom: 40px;
"><span style="font-size: 22px;/* margin: 20px; */">Training Video Coming Soon!</span></div>
				<div class="row">
					<div class="col-md-12"><h1>Getting Started</h1></div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<p>Let's show you how the system works to help you get traffic, leads, sales and branding...</p>
					</div>
				</div>
			 	<br /><br />
			 	<div class="row">
					<div class="col-md-12">
						<div id="getstarted_tabs">
							<ul class="nav nav-tabs">
								<li><a href="#step1">Step 1</a></li>
								<li><a href="#step2">Step 2</a></li>
								<li><a href="#step3">Step 3</a></li>
								<li><a href="#step4">Step 4</a></li>
								<li><a href="#step5">Step 5</a></li>
								<li><a href="#step6">Step 6</a></li>
							</ul>

							
							<div id="step1" class="tab-pane fade in active">
								<br>
								<h2>Training Video Coming Soon</h2>
							</div>
							<div id="step2" class="tab-pane fade">
								<br>
								<h2>Training Video Coming Soon</h2>
								
							</div>
							<div id="step3" class="tab-pane fade">
								<br>
								<h2>Training Video Coming Soon</h2>

							</div>
							<div id="step4" class="tab-pane fade">
								<br>
								<h2>Training Video Coming Soon</h2>
							</div>
							<div id="step5" class="tab-pane fade">
								<br>
								<h2>Training Video Coming Soon</h2>
								
							</div>
							<div id="step6" class="tab-pane fade">
								<br>
								<h2>Training Video Coming Soon</h2>
								
							</div>
							
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h1>Quick Links & Downloads</h1>
					</div>
				</div>
			
			</section>
		</div>
	</div>

	<!-- <div class="col-md-12 section">
		<div class="row">
			<section>
			  <h1>Choose Campaign Type</h1>
			  <div class="">
			      <div class="col-md-4">
			          <a href="/aem/manage/desk.php?action=new_funnel_campaign" class="btn glc_button glc_button_large btn-lg">Create Campaign</a>
			      </div>
			      <div class="col-md-4">
			          <a href="/aem/manage/desk.php?action=campaign#list-01D-0-0" class="btn glc_button glc_button_large btn-lg">Existing Campaigns</a>
			      </div>
			      <div class="col-md-4">
			          <a href="/aem/manage/desk.php?action=campaign_new" class="btn glc_button glc_button_large btn-lg">Advanced Campaign</a>
			      </div>
			      
			  </div>
			</section>
		</div>
	</div> -->
</div>



		

<div id="badhttp" class="adesk_hidden">
  <div class="adesk_modal" align="center">
	<div class="adesk_modal_inner" align="left">
	  <h1 style="color:red;">{"A server problem was detected"|alang}</h1>
	  <p>{"The software is unable to contact itself from your server.  This prevents certain features from working properly."|alang}
	  <br />
	  <br />

	  <strong>{"Common Causes:"|alang}</strong>  </p>
	  <ul>
		<li>{"A firewall that is blocking any attempts to:"|alang}
		<br />
		{$site.p_link}
		<br />
		{"from your server."|alang}
		<br />
		<br />
		</li>
		<li>{"A local DNS issue (on your server) that makes it so your server cannot resolve to:"|alang}
		<br />
		{$site.p_link}    </li>
	  </ul>
	  {if !$isWindows}
	  <p><strong>{"How To Prove This:"|alang}</strong></p>
	  <ul>
		<li>{"Login to your server with SSH (or ask your web host/server admin to do these steps)"|alang}</li>
		<li>{"Go to the directory where your software is installed"|alang}</li>
		<li>{"Enter the following command:"|alang}
		<br />
		wget {$site.p_link}    </li>
		<li>{"See if there are any results (it will likely stall out without results proving the server cannot contact your software URL due to a firewall or DNS issue."|alang}</li>
	  </ul>
	  {/if}
	  <br />

	  <form>
		<input type="button" value="{"Re-Check"|alang}" style="font-weight:bold;" onclick="$('badhttp').className = 'adesk_hidden'; startup_viable()"/> &nbsp; <input type="button" value="{"Close"|alang}" onclick="$('badhttp').className = 'adesk_hidden'"/>
	  </form>
	</div>
  </div>
</div>

<div id="badfriendlyurls" class="adesk_hidden">
  <div class="adesk_modal" align="center">
	<div class="adesk_modal_inner" align="left">
	  <h1 style="color:red;">{"A server problem was detected"|alang}</h1>
	  <p>{"You have (Use search-friendly URLs) enabled on the Settings > General Settings > Public page but your server does not seem to be able to use the search-engine friendly URLs"|alang}
	  <br />
	  <br />

	  <strong>{"Things to check:"|alang}</strong>  </p>
	  <ul>
		<li>{"Verify that you put the .htaccess file"|alang} (<a href="desk.php?action=settings#public" target="_blank">{"from the Settings > General Settings > Public page"|alang}</a>) {"in your main software folder.  You can get the contents of what should be put in the .htaccess file by going to Settings > General Settings > Public and clicking (View .htaccess Content)"|alang}
		<br />
		<br />
		</li>
		<li>{"If the .htaccess file is in your main software folder and search-engine friendly URLs still do not work contact your web host or webmaster for further assistance.  You can also disable the (Use search-friendly URLs) until your web host or webmaster fixes this for you."|alang}
  		</li>
	  </ul>
	  <br />

	  <form>
		<input type="button" value="{"Re-Check"|alang}" style="font-weight:bold;" onclick="$('badfriendlyurls').className = 'adesk_hidden'; location.reload()"/> &nbsp; <input type="button" value="{"Close"|alang}" onclick="$('badfriendlyurls').className = 'adesk_hidden'"/>
	  </form>
	</div>
  </div>
</div>

<script type="text/javascript">
// startup_recent_subscribers(10);
// startup_recent_campaigns(10);
// {if !$__ishosted}
// 	{literal}
// 	window.setTimeout(function() {
// 	{/literal}
// 		startup_viable();
// 		{if !$site.general_maint}
// 		startup_rewrite();
// 		{/if}
// 	{literal}
// 	}, 7 * 1000);
// 	{/literal}
// {/if}
// 

</script>
