{if $__ishosted}


		<h2>
			{"What can I import?"|alang}		</h2>
		<div style=" line-height:150%; margin-left:15px;  font-size:13px; ">
		All subscribers must have given you permission to send email to them.  <strong>Paid lists, rented lists, borrowed lists, scraped emails (that you copied from web sites), etc.. are not allowed.</strong> Your subscribers should be aware that you may email them and must have knowingly (and directly) confirmed that it is OK for you to email them.		</div>
<br />

{/if}
<form id="importCfgForm" action="desk.php?action=subscriber_import" enctype="multipart/form-data" method="post" onsubmit="return import_submit_step1();">

	<h2>{"Import From"|alang}</h2>
	<div style="font-size:14px; margin-left:15px;">
		<div>
			<label>
				<input type="radio" id="from_file" name="from" value="file" onclick="import_set_from(this); adesk_ui_anchor_set(this.value);" checked="checked" />
				{"A File"|alang}
				{"Recommended for large scale imports"|help}
			</label>
		</div>
		<div>
			<label>
				<input type="radio" id="from_text" name="from" value="text" onclick="import_set_from(this); adesk_ui_anchor_set(this.value);" />
				{"Copy/Paste"|alang}
				{"Recommended for small scale imports"|help}
			</label>
		</div>
{if $external_sources_supported}
		<div>
			<label>
				<input type="radio" id="from_external" name="from" value="external" onclick="import_set_from(this); adesk_ui_anchor_set(this.value);" />
				{"An External Service"|alang}
				{"Recommended for synchronization with external services/applications"|help}
			</label>
		</div>
{/if}


        <div>
			<label>
				<input type="radio" id="from_external_db" name="from" value="external_db"  onClick='goToLocation(this.value)'/>
				{"An External Database"|alang}
				{"Recommended for synchronization with external database"|help}
			</label>
		</div>



	</div>

	<br />

	<div id="import_file">
		<h2>{"Your File"|alang}</h2>



		<div style="margin-left:15px;">
		  <div id="error_importfrom_file" style="display:none">
			<div style="border:1px solid #F1DF0A; margin-bottom:10px; font-size:13px; padding:10px; background-color:#FFFDE6;">
			  <div style="background:url(../awebdesk/media/sign_warning.png); background-position:left; background-repeat:no-repeat; padding-left:42px; padding-top: 5px; padding-bottom: 5px">
				{if isset($submitResult) and $submitResult.section == "importfrom_file"}
				{$submitResult.message|escape}
				{/if}
			  </div>
			</div>
		  </div>
			<input type="file" name="file" value="" />
			{if $maxfilesize}
			<span style="color:#999;">{"(Maximum file size: %s)"|alang:$maxfilesize}</span>
			{/if}
		</div>
	</div>

	<div id="import_text" style="display:none">
		<h2>{"Paste Your List"|alang}</h2>
		<div style="margin-left:15px;">
		<script>var removedInitialText = false;</script>
			<textarea name="text" rows="10" cols="80" style="width: 96%;height: 300px; color:#666;" onfocus="if(removedInitialText)return;this.value='';this.style.color='#000';removedInitialText=true;">
{"Type or paste your existing subscribers into this box using the following format"|alang}:

bob@bobsmith.com
rob@robsmith.com

     - {"or"|alang} -

"Bob Smith", "bob@bobsmith.com", "some custom field value"
"Rob Smith", "rob@robsmith.com", "some custom field value"
			</textarea>
		</div>
	</div>

	<div id="import_external" style="display:none">
	  <h2>{"Select External Source"|alang}</h2>
	  <input type="hidden" name="external" id="external" />

	  {if !$__ishosted && adesk_admin_ismaingroup() && !$all_external_sources_supported}
		  <div id="error_importfrom_file">
				<div style="border:1px solid #F1DF0A; margin-bottom:10px; font-size:13px; padding:10px; background-color:#FFFDE6;">
				  <div style="background:url(../awebdesk/media/sign_warning.png); background-position:left; background-repeat:no-repeat; padding-left:42px; padding-top: 5px; padding-bottom: 5px">
				  	{"Not all external sources are available, based on your server configuration. To use more external sources, try enabling:"|alang}
				  	<ul>
					  	{foreach from=$external_sources_check key=requirement item=info}
					  		{if !$info.supported}
					  			<li>{$info.name}</li>
					  		{/if}
					  	{/foreach}
				  	</ul>
				  </div>
				</div>
		  </div>
	  {/if}

	  <div class="import_external_source">

		  {foreach from=$external_sources key=source item=info}
		  	{if $info.supported}
					<div onclick="set_external('{$source}'); adesk_ui_anchor_set('{$source}');" id="external_div_{$source}" class="import_external_source_notselected">
					  <img src="images/import-{$info.image}" />
					</div>
				{/if}
		  {/foreach}

	  </div>
	  <br clear="all" />
	</div>

	<br />

	<div id="external_box_configs" style="display:none;font-size:14px;">
	  <h2>{"External Source Settings"|alang}</h2>

	  <div class="adesk_blockquote">
{if $admin.brand_links}
		<div id="external_box_hd" style="display:none"">
		  <div id="external_form_hd">
			<div class="external_form_help">
			  {"AwebDesk Help Desk takes your customer service to a whole new level with full automation controls, collaborative tools, endless customization options, and much more."|alang} <a href="http://www.awebdesk.com/helpdesk/" target="blank">{"Learn More"|alang}</a>
			</div>
			<div>
			  {"Help Desk URL:"|alang}<br />
			  <input type="text" name="hd_url" id="hd_url" style="width:290px;" value="{if isset($external_sources.hd.form_values.hd_url)}{$external_sources.hd.form_values.hd_url}{/if}" />
			</div>
			<div>
			  {"Admin Username:"|alang}<br />
			  <input type="text" name="hd_user" id="hd_user" style="width:290px;" value="{if isset($external_sources.hd.form_values.hd_user)}{$external_sources.hd.form_values.hd_user}{/if}" />
			</div>
			<div>
			  {"Admin Password:"|alang}<br />
			  <input type="password" name="hd_pass" id="hd_pass" style="width:290px;" value="{if isset($external_sources.hd.form_values.hd_pass)}{$external_sources.hd.form_values.hd_pass}{/if}" />
			</div>
			{*
			<div>
			  <input type="button" value="{'Connect'|alang}" onclick="connect2external('hd');" />
			</div>
			*}
		  </div>
		  <div id="external_config_hd" style="display:none"></div>
		</div>
{/if}

		<div id="external_box_hr" style="display:none">
		  <div id="external_form_hr">

			<div class="external_form_help">
			  {"Highrise is a contact management and CRM tool for small businesses and entrepenuers to manage their customer relationships."|alang} <a href="http://highrisehq.com/" target="blank">{"Learn More"|alang}</a>
			</div>
			<div>
			  {"Highrise URL:"|alang}<br />
			  <input type="text" name="hr_url" id="hr_url" style="width:290px;" value="{if isset($external_sources.hr.form_values.hr_url)}{$external_sources.hr.form_values.hr_url}{/if}" />
			</div>
			<div>
			  {"API Token:"|alang}<br />
			  <input type="text" name="hr_api" id="hr_api" style="width:290px;" value="{if isset($external_sources.hr.form_values.hr_api)}{$external_sources.hr.form_values.hr_api}{/if}" />
			</div>
			{*
			<div>
			  <input type="button" value="{'Connect'|alang}" onclick="connect2external('hr');" />
			</div>
			*}
		  </div>
		  <div id="external_config_hr" style="display:none"></div>
		</div>

		<div id="external_box_google_contacts" style="display:none">
		  <div id="external_form_google_contacts">
				<div class="external_form_help">
				  {"Google Contacts are stored in each users Google Account; most Google services have access to the contact list."|alang} <a href="http://mail.google.com/support/bin/topic.py?hl=en&topic=12867" target="blank">{"Learn More"|alang}</a>
				</div>
				{if !$google_contacts_token}
					<p><a href="{$google_contacts_oauth_url}">{"Authorize Google Contacts access"|alang}</a></p>
				{else}
					<p style="color: green; font-weight: bold;">{"Google Contacts access authorized"|alang} (<a href="desk.php?action=subscriber_import&google_contacts_logout=1#google_contacts">{"Revoke"|alang}</a>)</p>
				{/if}
		  </div>
		  <div id="external_config_google_contacts" style="display:none"></div>
		</div>
		
		<div id="external_box_google_spreadsheets" style="display:none">
		  <div id="external_form_google_spreadsheets">
				<div class="external_form_help">
				  {"Google Docs are part of each Google Account, and allow you to add and modify documents online."|alang} <a href="http://docs.google.com/" target="blank">{"Learn More"|alang}</a>
				</div>
				{if !$google_spreadsheets_token}
					<p><a href="{$google_spreadsheets_oauth_url}">{"Authorize Google Spreadsheets access"|alang}</a></p>
				{else}
					<p style="color: green; font-weight: bold;">{"Google Spreadsheets access authorized"|alang} (<a href="desk.php?action=subscriber_import&google_spreadsheets_logout=1#google_spreadsheets">{"Revoke"|alang}</a>)</p>
				{/if}
		  </div>
		  <div id="external_config_google_spreadsheets" style="display:none"></div>
		</div>

		<div id="external_box_freshbooks" style="display:none">
		  <div id="external_form_freshbooks">
				<div class="external_form_help">
				  {"Freshbooks helps simplify invoicing and time tracking services that help you manage your business."|alang} <a href="https://campaign.freshbooks.com/refer/www" target="blank">{"Learn More"|alang}</a>
				</div>
				{if !$freshbooks_account && !$freshbooks_token}
					<div style="margin: 10px 0;">
						http://<input type="text" name="freshbooks_account" id="freshbooks_account" />.freshbooks.com
						{"Include your Freshbooks account name"|help}
					</div>
					<input type="button" value="{"Authorize"|alang}" onclick="import_freshbooks_authorize();" style="margin-bottom: 15px;" />
				{else}
					<p style="color: green; font-weight: bold;">{"Freshbooks access authorized"|alang} (<a href="desk.php?action=subscriber_import&freshbooks_logout=1#freshbooks">{"Revoke"|alang}</a>)</p>
				{/if}
		  </div>
		  <div id="external_config_freshbooks" style="display:none"></div>
		</div>
	<div id="external_box_zendesk" class="formfieldwrap" style="display: none;">
				  <div id="external_form_zendesk">
						<div class="adesk_help_inline" style="margin-bottom: 15px;">{"Powerful yet simple multi-channel customer service software."|alang} <a href="http://www.zendesk.com/" target="blank">{"Learn More"|alang}</a></div>
						<fieldset>
							<label for="zendesk_account">{"Account URL"|alang}</label>
							<div class="campaign_help">{"Your account name, as it appears in the URL. (Example: https://myaccount.zendesk.com)"|alang}</div>
							<div class="inputwrap">https:// <input type="text" name="zendesk_account" id="zendesk_account" style="width:290px;" value="{if isset($external_sources.zendesk.form_values.zendesk_account)}{$external_sources.zendesk.form_values.zendesk_account}{/if}" tabindex="1" />.zendesk.com</div>
						</fieldset>
						<fieldset>
							<label for="zendesk_username">{"Username"|alang}</label>
							<input type="text" name="zendesk_username" id="zendesk_username" class="form_input_name" style="width:290px;" value="{if isset($external_sources.zendesk.form_values.zendesk_username)}{$external_sources.zendesk.form_values.zendesk_username}{/if}" tabindex="1" />
							<label style="margin-top:10px;" for="zendesk_password">{"Password"|alang}</label>
							<input type="password" name="zendesk_password" id="zendesk_password" autocomplete="off" style="width:290px;" class="form_input_name" value="{if isset($external_sources.zendesk.form_values.zendesk_password)}{$external_sources.zendesk.form_values.zendesk_password}{/if}" tabindex="2" />
						</fieldset>
				  </div>
				  <div id="external_config_zendesk" style="display:none"></div>
				</div>
		<div id="external_box_salesforce" style="display:none">
		  <div id="external_form_salesforce">
			<div class="external_form_help">
			  {"Salesforce is the leader in customer relationship management (CRM) & cloud computing."|alang} <a href="http://www.salesforce.com/" target="blank">{"Learn More"|alang}</a>
			</div>
			<div>
			  {"Username"|alang}:<br />
			  <input type="text" name="salesforce_username" id="salesforce_username" style="width:290px;" value="{if isset($external_sources.salesforce.form_values.salesforce_username)}{$external_sources.salesforce.form_values.salesforce_username}{/if}" tabindex="1" />
			</div>
			<div>
			  {"Password"|alang}:<br />
			  <input type="password" name="salesforce_password" id="salesforce_password" style="width:290px;" value="{if isset($external_sources.salesforce.form_values.salesforce_password)}{$external_sources.salesforce.form_values.salesforce_password}{/if}" tabindex="2" />
			</div>
			<div>
			  {"Security Token"|alang}: {"You can obtain your security token by logging into Salesforce, and going to YOUR NAME | Setup | Reset your security token (under My Personal Information). You will then be emailed your security token."|help}<br />
			  <input type="text" name="salesforce_token" id="salesforce_token" style="width:290px;" value="{if isset($external_sources.salesforce.form_values.salesforce_token)}{$external_sources.salesforce.form_values.salesforce_token}{/if}" tabindex="3" />
			</div>
		  </div>
		  <div id="external_config_salesforce" style="display:none"></div>
		</div>

		<div id="external_box_sugarcrm" style="display:none">
		  <div id="external_form_sugarcrm">
			<div class="external_form_help">
			  {"SugarCRM helps companies communicate with prospects, share sales information, close deals and keep customers happy."|alang} <a href="http://www.sugarcrm.com/crm/" target="blank">{"Learn More"|alang}</a>
			</div>
			<div>
			  {"URL"|alang}: {"Your unique URL to your SugarCRM installation"|help}<br />
			  <input type="text" name="sugarcrm_url" id="sugarcrm_url" style="width:290px;" value="{if isset($external_sources.sugarcrm.form_values.sugarcrm_url)}{$external_sources.sugarcrm.form_values.sugarcrm_url}{/if}" tabindex="1" />
			</div>
			<div>
			  {"Username"|alang}: {"Any user that can log into the admin section of SugarCRM can authenticate here"|help}<br />
			  <input type="text" name="sugarcrm_username" id="sugarcrm_username" style="width:290px;" value="{if isset($external_sources.sugarcrm.form_values.sugarcrm_username)}{$external_sources.sugarcrm.form_values.sugarcrm_username}{/if}" tabindex="2" />
			</div>
			<div>
			  {"Password"|alang}:<br />
			  <input type="password" name="sugarcrm_password" id="sugarcrm_password" style="width:290px;" value="{if isset($external_sources.sugarcrm.form_values.sugarcrm_password)}{$external_sources.sugarcrm.form_values.sugarcrm_password}{/if}" tabindex="3" />
			</div>
		  </div>
		  <div id="external_config_sugarcrm" style="display:none"></div>
		</div>

		<div id="external_box_zohocrm" style="display:none">
		  <div id="external_form_zohocrm">
			<div class="external_form_help">
			  {"Zoho CRM aligns your Sales and Marketing by integrating sales with campaigns, leads, sales pipeline, forecasts, etc."|alang} <a href="http://www.zoho.com/crm" target="blank">{"Learn More"|alang}</a>
			</div>
			<div>
			  {"Username"|alang}: {"Your Zoho username or email address"|help}<br />
			  <input type="text" name="zohocrm_username" id="zohocrm_username" style="width:290px;" value="{if isset($external_sources.zohocrm.form_values.zohocrm_username)}{$external_sources.zohocrm.form_values.zohocrm_username}{/if}" tabindex="1" />
			</div>
			<div>
			  {"Password"|alang}:<br />
			  <input type="password" name="zohocrm_password" id="zohocrm_password" style="width:290px;" value="{if isset($external_sources.zohocrm.form_values.zohocrm_password)}{$external_sources.zohocrm.form_values.zohocrm_password}{/if}" tabindex="2" />
			</div>
			<div>
			  {"API Key"|alang}: {"To generate your API key, log into Zoho CRM, then go to Setup | Crm API Key | Generate Now"|help}<br />
			  <input type="text" name="zohocrm_apikey" id="zohocrm_apikey" style="width:290px;" value="{if isset($external_sources.zohocrm.form_values.zohocrm_apikey)}{$external_sources.zohocrm.form_values.zohocrm_apikey}{/if}" tabindex="3" />
			</div>
		  </div>
		  <div id="external_config_zohocrm" style="display:none"></div>
		</div>
{*
		<div id="external_box_microsoftcrm" style="display:none">
		  <div id="external_form_microsoftcrm">
				<div class="external_form_help">
				  {"Microsoft Dynamics CRM provides a centralized source for customer information and actions."|alang} <a href="http://crm.dynamics.com/en-us/Default.aspx" target="blank">{"Learn More"|alang}</a>
				</div>
				<div>
				  {"Username"|alang}:<br />
				  <input type="text" name="microsoftcrm_username" id="microsoftcrm_username" style="width:290px;" />
				</div>
				<div>
				  {"Password"|alang}:<br />
				  <input type="password" name="microsoftcrm_password" id="microsoftcrm_password" style="width:290px;" />
				</div>
				<div>
				  {"Organization"|alang}:<br />
				  <input type="text" name="microsoftcrm_organization" id="microsoftcrm_organization" style="width:290px;" />
				</div>
				<div>
				  {"Domain"|alang}:<br />
				  <input type="text" name="microsoftcrm_domain" id="microsoftcrm_domain" style="width:290px;" />
				</div>
		  </div>
		  <div id="external_config_microsoftcrm" style="display:none"></div>
		</div>
*}
		<div id="external_box_capsule" style="display:none">
		  <div id="external_form_capsule">
				<div class="external_form_help">
				  {"Use Capsule to keep track of the people and companies you do business with, communications with them, opportunities in the pipeline, and what needs to be done when."|alang} <a href="http://capsulecrm.com/" target="blank">{"Learn More"|alang}</a>
				</div>
				<div>
				  {"URL"|alang}: {"Your Capsule application name, as it appears in the URL that you would access in a browser; IE: https://APP.capsulecrm.com. Just include the APP portion."|help}<br />
				  https://<input type="text" name="capsule_app" id="capsule_app" style="width:290px;" value="{if isset($external_sources.capsule.form_values.capsule_app)}{$external_sources.capsule.form_values.capsule_app}{/if}" tabindex="1" />.capsulecrm.com
				</div>
				<div>
				  {"API Token"|alang}: {"You can find your API token from the More | My Settings page in Capsule"|help}<br />
				  <input type="text" name="capsule_token" id="capsule_token" style="width:290px;" value="{if isset($external_sources.capsule.form_values.capsule_token)}{$external_sources.capsule.form_values.capsule_token}{/if}" tabindex="2" />
				</div>
		  </div>
		  <div id="external_config_capsule" style="display:none"></div>
		</div>

		<div id="external_box_tactile" style="display:none">
		  <div id="external_form_tactile">
				<div class="external_form_help">
				  {"Tactile CRM lets you easily record every email, telephone call, note, activity and meeting, so that you and your colleagues can quickly see every interaction."|alang} <a href="http://tactilecrm.com/" target="blank">{"Learn More"|alang}</a>
				</div>
				<div>
				  {"URL"|alang}: {"Your Tactile CRM application name, as it appears in the URL that you would access in a browser; IE: https://APP.tactilecrm.com. Just include the APP portion."|help}<br />
				  https://<input type="text" name="tactile_app" id="tactile_app" style="width:290px;" value="{if isset($external_sources.tactile.form_values.tactile_app)}{$external_sources.tactile.form_values.tactile_app}{/if}" tabindex="1" />.tactilecrm.com
				</div>
				<div>
				  {"API Token"|alang}: {"You can generate your API token from the User Preferences page in Tactile CRM"|help}<br />
				  <input type="text" name="tactile_token" id="tactile_token" style="width:290px;" value="{if isset($external_sources.tactile.form_values.tactile_token)}{$external_sources.tactile.form_values.tactile_token}{/if}" tabindex="2" />
				</div>
		  </div>
		  <div id="external_config_tactile" style="display:none"></div>
		</div>

		<div id="external_box_batchbook" style="display:none">
		  <div id="external_form_batchbook">
				<div class="external_form_help">
				  {"Batchbook allows you to keep track of your business, personal, and social networking contacts and share them with the rest of your team."|alang} <a href="http://www.batchblue.com/" target="blank">{"Learn More"|alang}</a>
				</div>
				<div>
				  {"URL"|alang}: {"Your Batchbook account name, as it appears in the URL that you would access in a browser; IE: https://ACCOUNT.batchbook.com. Just include the ACCOUNT portion."|help}<br />
				  https://<input type="text" name="batchbook_account" id="batchbook_account" style="width:290px;" value="{if isset($external_sources.batchbook.form_values.batchbook_account)}{$external_sources.batchbook.form_values.batchbook_account}{/if}" tabindex="1" />.batchbook.com
				</div>
				<div>
				  {"API Token"|alang}: {"You can generate your API token from the User Preferences page in batchbook CRM"|help}<br />
				  <input type="text" name="batchbook_token" id="batchbook_token" style="width:290px;" value="{if isset($external_sources.batchbook.form_values.batchbook_token)}{$external_sources.batchbook.form_values.batchbook_token}{/if}" tabindex="2" />
				</div>
		  </div>
		  <div id="external_config_batchbook" style="display:none"></div>
		</div>

	  </div>
	</div>

	<h2>{"Import Into"|alang}</h2>
	<div class="adesk_checkboxlist"  style="margin-left:15px;">
{foreach from=$lists item=list}
		<div>
			<label>
				<input type="checkbox" id="into_{$list.id}" name="into[{$list.id}]" value="{$list.id}" {if count($lists) == 1 || isset($list_checked[$list.id])}checked="checked"{/if} />
				{$list.name}
			</label>
		</div>
{/foreach}
	</div>

	<div style="font-size: 10px; margin-left:15px;">
		<a href="#" onclick="advanced_options_toggle(); return false;" style=" color:#999999;">{"Advanced Importing Options"|alang}</a>
	</div>
	<div id="advanced" style="display:none; margin-left:30px;">
		<div>
			<select name="status" id="status" size="1" style="width:250px;">
{if !$__ishosted}
				<option value="0"{if $admin.optinconfirm} selected="selected"{/if}>{"Import As Unconfirmed Subscriber"|alang} {"(slower, sends opt-in emails)"|alang}</option>
{/if}
{if !$admin.optinconfirm}
				<option value="1" selected="selected">{"Import As Active Subscriber"|alang}</option>
{/if}
				<option value="2">{"Import As Unsubscribed Subscriber"|alang}</option>

				<option value="3">{"Import As Excluded Email Address"|alang}</option>

	{*
				<option value="4">{"Globally Excluded"|alang}</option>
	*}
			</select>
		</div>

		<div class="adesk_help_inline" style="margin-top:10px;"><B>{"NOTICE"|alang}: </b>{"The following options will slow down your import process."|alang}</div>
		<div>
			<label>
				<input type="checkbox" name="update" value="1" id="update" />
				{"Update existing subscribers while importing"|alang}
				{"By checking this box, any subscribers in this import process which are already present in the system will be updated with any new subscriber information that is found during the import process. If this box is not checked, those subscribers will be skipped during the import (their subscriber details will not be updated)."|help}
			</label>
		</div>
{if $campaigns_sent and !$__ishosted}
		<div>
			<label>
				<input type="checkbox" name="sendlast" value="1" id="sendlast" />
				{"Send the last sent campaign to each new subscriber when importing"|alang}

				{"When this option is checked the last campaign you sent will be sent to each subscriber as they are imported."|help}
			</label>
		</div>
{/if}
		<div style="display: none;">
			<label>
				<input type="checkbox" name="sendresponders" value="1" id="sendresponders" checked="checked" />
				{"Send future auto-responders to these subscribers"|alang}
				{"If you turn off this option, the subscribers you are importing now will never receive any auto-responders; now nor in the future."|help}
			</label>
		</div>
{if $responders}
		<div style="display: none;">
			<label>
				<input type="checkbox" name="sentresponders" value="1" id="sentresponders" onclick="adesk_dom_toggle_class('responderslist', 'adesk_blockquote', 'adesk_hidden');" />
				{"Mark these auto-responders as already sent"|alang}
				{"The imported subscribers will be marked as already received these auto-responders, so these will not be sent to them."|help}
			</label>
		</div>
		<div id="responderslist" style="display:none">
			<div class="adesk_checkboxlist">
{foreach from=$responders item=responder}
				<div>
					<label>
						<input type="checkbox" name="responders[{$responder.id}]" value="{$responder.id}" />
						{$responder.name}
					</label>
				</div>
{/foreach}
			</div>
		</div>
{/if}
	</div>

	<div style="margin-top: 20px;">
		<input type="submit" class="adesk_button_next" value="{"Next"|alang}" />
	</div>
	
	{if isset($external_options)}
		<input type="hidden" name="external_options" id="external_options" value="" />
		<div id="import_loader_external_options" class="adesk_modal" align="center">
		  <div class="adesk_modal_inner">
			<h1>{"Import Filters"|alang}</h1>
			<p>
				<b>{"(Optional)"|alang}</b> {"Supply filters to narrow down the data imported. Leave empty/blank to request all data from the external source."|alang}
			</p>
			<table cellspacing="4" cellpadding="0" border="0" style="width: 90%">
				<tr>
					<th>{"Field"|alang}</th>
					<th>{"Filter value (optional)"|alang}</th>
				</tr>
				{foreach from=$external_options_fields key=field_name item=field_info}
					<tr>
						<td>{if is_array($field_info)}{$field_info.label}{else}{$field_info}{/if}:</td>
						<td>
							{if is_array($field_info)}
								{if $field_info.type == "textbox"}
									<input type="text" name="external_options_filters[{$field_name}]" />
								{/if}
								{if $field_info.type == "select"}
									<select name="external_options_filters[{$field_name}]" {if isset($field_info.onchange)}onchange="{$field_info.onchange}"{/if} style="width: 220px;">
										{foreach from=$field_info.options key=value item=option}
											<option value="{$value}">{$option}</option>
										{/foreach}
									</select>
								{/if}
							{else}
								<input type="text" name="external_options_filters[{$field_name}]" />
							{/if}
						</td>
					</tr>
				{/foreach}
			</table>
		    <p style="margin-top: 35px;">
		      <input type="button" class="adesk_button_cancel" value="{"Cancel"|alang}" onclick="$('import_loader_external_options').hide(); $('external_options').value = 1;" />
		      <input type="submit" class="adesk_button_next" value="{"Continue"|alang}" onclick="$('import_loader_external_options').hide();" style="margin-left: 150px;" />
		    </p>
		  </div>
		</div>
		<script type="text/javascript">
			$("from_external").checked = "checked";
			import_set_from( $("from_external") );
			set_external('{$external}');
			{if $external == "google_spreadsheets"}
				var selects = $("import_loader_external_options").getElementsByTagName("select");
				var options = selects[0].getElementsByTagName("option");
				google_spreadsheets_toggle(options[0].value);
			{/if}
		</script>
	{else}
		<input type="hidden" name="external_options" value="1" />
	{/if}

</form>

<div id="import_loader_filters" class="adesk_modal" align="center" style="display: none">
  <div class="adesk_modal_inner">
    <h1>{"Processing Your Import"|alang}</h1>

	<p>
		{"Please wait while your data is fetched and parsed."|alang}
		{"On the next step you will be able to supply filters for your import."|alang}
	</p>

    <div style="margin: 20px 0;text-align:center;font-weight:bold;">
    	{"Please wait..."|alang}
    </div>

    <div style="margin: 20px 0;text-align:center;">
    	<img src="images/import-loading.gif" border="0" />
    </div>

  </div>
</div>

<div id="import_loader" class="adesk_modal" align="center" style="display: none">
  <div class="adesk_modal_inner">
    <h1>{"Processing Your Import"|alang}</h1>

	<p>
		{"Please wait while your data is fetched and parsed."|alang}
		{"On the next step you will be able to map found fields into this application."|alang}
	</p>

    <div style="margin: 20px 0;text-align:center;font-weight:bold;">
    	{"Please wait..."|alang}
    </div>

    <div style="margin: 20px 0;text-align:center;">
    	<img src="images/import-loading.gif" border="0" />
    </div>

    <br />

    <div>
      <input type="button" class="adesk_button_close" value="{"Restart"|alang}" onclick="window.location.reload(true);" />
    </div>
  </div>
</div>

<script type="text/javascript">
  {if isset($submitResult) and $submitResult.section != "generic"}
  $("error_{$submitResult.section}").show();
  {/if}
</script>
