<form method="POST">
  <div id="delete" class="adesk_modal_delete" align="center" style="display: none">
	<div class="adesk_modal_inner">
	  <h1>{"Delete Subscriber(s)"|alang}</h1>
	  <span id="delete_message"></span>
	  <br />
	  <br />
	  <div>
		{"You can choose to remove the selected subscriber(s) from all of your lists, or only the ones you select."|alang}
		<a href="#" onclick="adesk_dom_toggle_display('delete_lists'); return false">{"Click here."|alang}</a>
	  </div>
	  <div id="delete_lists" style="display:none"></div>
	  <ul id="delete_list"></ul>
	  <br />
	  <div>
		<input type="button" class="adesk_button_ok" value="{"OK"|alang}" onclick="subscriber_delete(subscriber_delete_id)" />
		<input type="button" class="adesk_button_cancel" value="{"Cancel"|alang}" onclick="adesk_dom_toggle_display('delete', 'block'); adesk_ui_anchor_set(subscriber_list_anchor())" />
	  </div>
	</div>
  </div>
</form>
<div id="delete_multilists" style="display:none">
  {foreach from=$listsList item=l}
  <div>
	<label><input type="checkbox" name="listids[]" value="{$l.id}" checked="checked" /> {$l.name}</label>
  </div>
  {/foreach}
</div>
