<div id="form" class="adesk_hidden">
  <form method="POST" onsubmit="subscriber_form_save(subscriber_form_id); return false">
	<input type="hidden" name="id" id="form_id" />
	<table border="0" cellspacing="0" cellpadding="5">
	  <tr>
		<td valign="top">{"Subscribed to Lists"|alang}</td>
		<td>
		  <div id="listDiv" class="adesk_checkboxlist">
			{foreach from=$subscriberLists item=p}
			<label>
			  <input type="checkbox" value="{$p.id}" name="p[]" class="listField" onchange="customFieldsObj.fetch(0)" {if count($subscriberLists) == 1}checked="checked"{/if} />
			  {$p.name|escape}<br>
			</label>
			{/foreach}
		  </div>
		  {if count($subscriberLists) > 1}
			  <div>
				{"Select:"|alang}
				<a href="#" onclick="subscriber_form_list_all(true); return false">{"All"|alang}</a>
				&middot;
				<a href="#" onclick="subscriber_form_list_all(); return false">{"None"|alang}</a>
			  </div>
		  {/if}
		</td>
	  </tr>
	  <tr>
		<td valign="top"></td>
		<td>
			<div id="liststatus1Stuff">
			  <div>
				<label>
				  <input type="checkbox" name="instantresponders" id="instantrespondersField" value="1" />
				  {"Send instant autoresponders"|alang}
				</label>
			  </div>
			  <div style="display:none;">
				<label>
				  <input type="checkbox" name="lastmessage" id="lastmessageField" value="1" />
				  {"Send the last broadcast campaign"|alang}
				</label>
			  </div>
			</div>

			<a href="#" style="display:none;" onclick="$('statusadvanced').toggle(); return false">{"Advanced Options"|alang}</a>
		  <div id="statusadvanced" style="display:none; margin: 15px 0 15px 15px;">
		  	{"Status"|alang}:
		  	<br />
				<select name="status" id="statusField" size="1" onchange="subscriber_form_setstatus(this.value)" style="margin-bottom: 10px;">
				  {if !$__ishosted}
				  <option value="0">{"Unconfirmed"|alang}</option>
				  {/if}
				  <option value="1">{"Active"|alang}</option>
				  <option value="2">{"Unsubscribed"|alang}</option>
				  <option value="3">{"Bounced"|alang}</option>
				</select>
				<div>
				  <label>
					<input type="checkbox" name="noresponders" id="norespondersField" value="1" />
					{"Do not send any future autoresponders"|alang}
				  </label>
				</div>
				<div id="liststatus0Stuff" style="display:none">
				  <label>
					<input type="checkbox" name="sendoptin" id="sendoptinField" value="1" />
					{"Send opt-in email (to confirm subscription)"|alang}
				  </label>
				  {"Subscriber will receive an opt-in email with a link to confirm list subscription(s)."|help}
				</div>
		  </div>
		</td>
	  </tr>
	  <tr>
		<td valign="top">{"Email"|alang}</td>
		<td><input type="text" value="" name="email" id="emailField" /></td>
	  </tr>
	  <tr>
		<td valign="top">{"First Name"|alang}</td>
		<td><input type="text" value="" name="first_name" id="firstnameField" /></td>
	  </tr>
	  <tr>
		<td valign="top">{"Last Name"|alang}</td>
		<td><input type="text" value="" name="last_name" id="lastnameField" /></td>
	  </tr>

	  <tbody id="custom_fields_table"></tbody>

	</table>

	<br />
	<div>
	  <input type="button" id="form_view" class="adesk_button_view" value="{"View this Subscriber"|alang}" onclick="window.location = 'desk.php?action=subscriber_view&id=' + subscriber_form_id;" style="float: right;" />
	  <input type="button" id="form_back" class="adesk_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
	  <input type="button" id="form_submit" class="adesk_button_submit glc_btn_large" value="{"Submit"|alang}" onclick="subscriber_form_save(subscriber_form_id)" />
	</div>
	<input type="submit" style="display:none"/>
  </form>
</div>
