{adesk_js lib="really/simplehistory.js"}
<script type="text/javascript">
  {include file="template.js"}
</script>

<h1>{"Templates"|alang}<span id="template_list_count" class="adesk_hidden"></span></h1>

{include file="template.list.htm"}
{include file="template.form.htm"}
{include file="template.import.htm"}
{include file="template.delete.htm"}
{include file="template.search.htm"}
{include file="editor.deskrss.inc.htm"}
{include file="editor.personalize.inc.htm"}
{include file="editor.conditional.inc.htm"}

<script type="text/javascript">
  adesk_ui_rsh_init(template_process, true);
</script>
