<script type="text/javascript">
<!--
{include file="account_update.js"}
-->
</script>
      <div class="row" style="margin-top:20px;">
      
      
        <div class="col-lg-12">  
      
          
          <section class="panel">
            <header class="panel-heading">
              <ul class="nav nav-pills pull-right">
                <li>
                  <a href="#" class="panel-toggle text-muted"><i class="fa fa-caret-down fa-lg text-active"></i><i class="fa fa-caret-up fa-lg text"></i></a>
                </li>
              </ul>
             <h4>{"Update Your Account"|plang}</h4>
            </header>
            <section   class="panel-body   m-b">
 
 

{if $account_update_message}
	{$account_update_message}
{else}

	{if !$verified}

		<p>{"You are not allowed to access this page."|plang}</p>

	{else}

		<form method="post" action="{$_}/surround.php" onsubmit="return account_update_validate();">

			<input type="hidden" name="funcml" value="account_update" />
			<input type="hidden" name="s" id="account_verify" value="{$hash}" />
			<input type="hidden" name="c" value="{$campaignid}" />
			<input type="hidden" name="m" value="{$messageid}" />

			<table width="100%">
				<tr>
					<td width="400" valign="top">
						<label for="email">{"Your e-mail address"|plang}</label>
						<input type="text" name="email" id="emailField" value="{$subscriber.email}" size="50" />

						<h2>{"Additional Information"|plang}</h2>

						<table border="0" cellspacing="0" cellpadding="5">
							<tr>
								<td valign="top">{"First Name"|plang}</td>
								<td><input type="text" name="first_name" id="firstnameField" value="{$subscriber.first_name}" /></td>
							</tr>
							<tr>
								<td valign="top">{"Last Name"|plang}</td>
								<td><input type="text" name="last_name" id="lastnameField" value="{$subscriber.last_name}" /></td>
							</tr>
							<tbody id="custom_fields_table">

{foreach from=$custom_fields.fields item=field}
{if $field.type == 6}

								{adesk_field_html field=$field}
{else}
								<tr>
									<td width="75">{$field.title|adesk_field_title:$field.type}</td>
									<td>{adesk_field_html field=$field}</td>
								</tr>
{/if}
{/foreach}

							</tbody>
						</table>

						<div id="account_update_use_captcha" class="{if $show_captcha}adesk_block{else}adesk_hidden{/if}">
							<p>{"Please also verify yourself by typing the text in the following image into the box below it."|plang}</p>
							<br/>
							<img src="{$_}/awebdesk/scripts/imgrand.php?rand={$rand}" /><br/>
							<input type="text" name="imgverify" id="imgverify" />
						</div>

					</td>
					<td valign="top">
						<h2>{"Subscribe To Lists"|plang}</h2>
						<div id="parentsListBox">
							{foreach from=$listsList item=l}
								{if (!$l.private) || isset($subscriber_lists[$l.id])}
									<p>
										<label>
											<input type="checkbox" name="nlbox[]" id="subscribe_list_{$l.id}" value="{$l.id}" onclick="account_update_list_loadfields()" {if isset($subscriber_lists[$l.id])}checked="checked"{/if} />
											{$l.name}
										</label>
									</p>
								{/if}
							{/foreach}
						</div>
					</td>
				</tr>
			</table>

			<div>
				<input type="submit" value="{'Update Account'|plang}" />
			</div>

		</form>

	{/if}

{/if}
</section></section></div></div>